In [1]:
# Paquetes
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta
import dateutil.relativedelta
import gc

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',400)

In [2]:
path = 's3://adl-refined-dev-popular/data_orig/tmp/tmpg_Base_Propension_20201105.csv'


data = pd.read_csv(path, encoding='latin-1', sep=';',dtype={'CC':str}, decimal=',')

print(data.shape)
data.head()

(26423, 16)

,CC,CANAL,FECHA CARGUE,GESTION,CONTACTO,VENTA,VENTAS - # TC,ACTIVACION,# TARJETAS,PRIMER USO,CAMPAÑA,BASE ADL,Record_Count,TIPIFICACIÓN_1,TIPIFICACIÓN_2,CANAL 2
0,124033,Atento,07/09/2020,1,1,0,0,0,0,0,PERFILADOS,ALTA PROBABILIDAD,1,NO INTERESADO,Ya tiene otra tarjeta,OFICINAS & VENDOORS
1,130354,MKD,NaN,0,0,0,0,0,0,0,PERFILADO,BAJA PROBABILIDAD MKD,1,NaN,NaN,MKD
2,137820,Atento,07/09/2020,0,0,0,0,0,0,0,PERFILADOS,PERFILADOS CONTROL,1,NaN,NaN,OFICINAS & VENDOORS
3,162580,Project,07/09/2020,1,1,0,0,0,0,0,PERFILADOS,PERFILADOS CONTROL,1,No desea mas deudas LD/TDC,NaN,OFICINAS & VENDOORS
4,176109,MKD,NaN,0,0,0,0,0,0,0,PREAPROBADO,BAJA PROBABILIDAD MKD,1,AUT - Silencio,NaN,MKD

In [3]:
data['CC'] = data['CC'].str.replace('.','').astype('int64')

In [4]:
data.count()

CC                26423
CANAL             26423
FECHA CARGUE      17978
GESTION           26423
CONTACTO          26423
VENTA             26423
VENTAS - # TC     26423
ACTIVACION        26423
# TARJETAS        26423
PRIMER USO        26423
CAMPAÑA           26423
BASE ADL          26423
Record_Count      26423
TIPIFICACIÓN_1    18435
TIPIFICACIÓN_2     7450
CANAL 2           26423
dtype: int64

In [5]:
data.head()

,CC,CANAL,FECHA CARGUE,GESTION,CONTACTO,VENTA,VENTAS - # TC,ACTIVACION,# TARJETAS,PRIMER USO,CAMPAÑA,BASE ADL,Record_Count,TIPIFICACIÓN_1,TIPIFICACIÓN_2,CANAL 2
0,124033,Atento,07/09/2020,1,1,0,0,0,0,0,PERFILADOS,ALTA PROBABILIDAD,1,NO INTERESADO,Ya tiene otra tarjeta,OFICINAS & VENDOORS
1,130354,MKD,NaN,0,0,0,0,0,0,0,PERFILADO,BAJA PROBABILIDAD MKD,1,NaN,NaN,MKD
2,137820,Atento,07/09/2020,0,0,0,0,0,0,0,PERFILADOS,PERFILADOS CONTROL,1,NaN,NaN,OFICINAS & VENDOORS
3,162580,Project,07/09/2020,1,1,0,0,0,0,0,PERFILADOS,PERFILADOS CONTROL,1,No desea mas deudas LD/TDC,NaN,OFICINAS & VENDOORS
4,176109,MKD,NaN,0,0,0,0,0,0,0,PREAPROBADO,BAJA PROBABILIDAD MKD,1,AUT - Silencio,NaN,MKD

In [6]:
data.columns = data.columns.str.lower()
data = data.rename(columns={'cc':'cedula'})

In [7]:
## Pre aprobados

path = "s3://adl-refined-dev-popular/parquet/TC_adquisicion/score_preaprobados_202008_13500k"


data_pre_aprob = pd.read_parquet(path, engine='pyarrow')
print(data_pre_aprob.shape)
data_pre_aprob.head()

(13500, 17)

,id_cliente,tipo doc,numero doc,nombre campaña,fecha inicio,fecha fin,cupo,ingresos,gastos familiares,gastos financieros,decision,seleccionado campaña,resultado,detalle,tipo_cliente,score,decil
0,5.596570e+17,1,41720453,Lb_01_31_202008,01/09/2020,31/10/2020,2300000,$ 1.880.954,$ 752.382,$ 488.995,VIABLE,SI,PARA CAMPAÑA,NaN,F,0.044220,4.0
1,4.120523e+17,1,41498587,Lb_01_31_202008,01/09/2020,31/10/2020,3100000,$ 2.053.641,$ 821.456,$ 848.762,VIABLE,SI,PARA CAMPAÑA,NaN,F,0.128191,5.0
2,6.999523e+17,1,17041480,Lb_01_31_202008,01/09/2020,31/10/2020,700000,$ 1.574.658,$ 787.329,$ 408.167,VIABLE,SI,PARA CAMPAÑA,NaN,E,0.023168,2.0
3,9.033523e+17,1,41564009,Lb_01_31_202008,01/09/2020,31/10/2020,500000,$ 877.803,$ 438.902,$ 114.702,VIABLE,SI,PARA CAMPAÑA,NaN,E,0.029468,3.0
4,7.337523e+17,1,30340076,Lb_01_31_202008,01/09/2020,31/10/2020,700000,$ 1.613.252,$ 806.626,$ 530.926,VIABLE,SI,PARA CAMPAÑA,NaN,E,0.004137,1.0

In [8]:
data_pre_aprob = data_pre_aprob.rename(columns={'numero doc':'cedula'})

In [9]:
data_pre_aprob.dtypes

id_cliente              float64
tipo doc                  int64
cedula                    int64
nombre campaña           object
fecha inicio             object
fecha fin                object
cupo                      int64
ingresos                 object
gastos familiares        object
gastos financieros       object
decision                 object
seleccionado campaña     object
resultado                object
detalle                 float64
tipo_cliente             object
score                   float32
decil                   float64
dtype: object

In [10]:
# Cargando base Total Final

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/muestra_PilotoGruposTotal'

base_total = pd.read_parquet(path, engine='pyarrow')
base_total.columns = base_total.columns.str.lower()

print(base_total.shape)
base_total.head()

(27065, 7)

,tipo_identificacion,numero_identificacion,grupo_prob,segmento,score,decil,grupo_pilot
0,1,41498587,grupo_prob_alta,seg_preaprobado,0.128191,5.0,grupo_mkd_preaprob_alta
1,1,39779336,grupo_prob_alta,seg_preaprobado,0.047833,4.0,grupo_mkd_preaprob_alta
2,1,39005220,grupo_prob_baja,seg_preaprobado,0.013017,2.0,grupo_mkd_preaprob_baja
3,1,24143623,grupo_prob_baja,seg_preaprobado,0.011918,1.0,grupo_mkd_preaprob_baja
4,1,10165171,grupo_prob_baja,seg_preaprobado,0.017673,2.0,grupo_mkd_preaprob_baja

In [11]:
base_total = base_total.rename(columns={'numero_identificacion':'cedula'})

In [12]:
data.dtypes

cedula             int64
canal             object
fecha cargue      object
gestion            int64
contacto           int64
venta              int64
ventas - # tc      int64
activacion         int64
# tarjetas         int64
primer uso         int64
campaña           object
base adl          object
record_count       int64
tipificación_1    object
tipificación_2    object
canal 2           object
dtype: object

In [13]:
data_pre_aprob.dtypes

id_cliente              float64
tipo doc                  int64
cedula                    int64
nombre campaña           object
fecha inicio             object
fecha fin                object
cupo                      int64
ingresos                 object
gastos familiares        object
gastos financieros       object
decision                 object
seleccionado campaña     object
resultado                object
detalle                 float64
tipo_cliente             object
score                   float32
decil                   float64
dtype: object

In [14]:
base_total.dtypes

tipo_identificacion      int64
cedula                   int64
grupo_prob              object
segmento                object
score                  float32
decil                  float64
grupo_pilot             object
dtype: object

In [15]:
## Join score y tipo_cliente

data.set_index('cedula', inplace=True)
base_total.set_index('cedula', inplace=True)
data_pre_aprob.set_index('cedula', inplace=True)

data = data.join(data_pre_aprob[['tipo_cliente']], how='left')
data = data.join(base_total[['score', 'decil']], how='left')

In [22]:
data.reset_index().count()

cedula            26441
canal             26441
fecha cargue      17990
gestion           26441
contacto          26441
venta             26441
ventas - # tc     26441
activacion        26441
# tarjetas        26441
primer uso        26441
campaña           26441
base adl          26441
record_count      26441
tipificación_1    18444
tipificación_2     7456
canal 2           26441
tipo_cliente      13403
score             25926
decil             25926
dtype: int64

In [24]:
data.dtypes

cedula              int64
canal              object
fecha cargue       object
gestion             int64
contacto            int64
venta               int64
ventas - # tc       int64
activacion          int64
# tarjetas          int64
primer uso          int64
campaña            object
base adl           object
record_count        int64
tipificación_1     object
tipificación_2     object
canal 2            object
tipo_cliente       object
score             float32
decil             float64
dtype: object

In [19]:
data.reset_index(inplace=True)

In [20]:
## Guardando archivo:

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_esc_casonegocio'

data.to_parquet(path, engine='pyarrow', index=False)

In [26]:
## Guardando archivo:

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_esc_casonegocio2.csv'

data.to_csv(path, sep='|', encoding='latin-1', index=False)

##  Seguimiento PSI

In [11]:
import boto3

In [4]:
os.getcwd()

'/mnt/work/CU_adquisicionTC/Notebooks/seguimiento_piloto'

In [18]:
import s3fs
import pyarrow.parquet as pq

def read_parquet(ruta:str): 
    fs = s3fs.S3FileSystem()
    dataset = pq.ParquetDataset(ruta, filesystem=fs)
    table = dataset.read()
    df = table.to_pandas()
    return df

In [9]:
def list_files(s3_path):
    """
    Función para listar los archivos de un folder en s3
    :param s3_path: Ruta en S3 en la cual se quiere ver
                    los archivos disponibles
    :return: Lista de archivos encontrados
    """
    s3 = boto3.resource("s3")
    bucket = s3_path.split("//")[1].split("/")[0]
    my_bucket = s3.Bucket(bucket)
    prefix = "/".join(s3_path.split("//")[1].split("/")[1:])
    list_obj = []
    for object_summary in my_bucket.objects.filter(Prefix=prefix):
        obj_x = object_summary.key.replace(prefix + "/", "").split("/")[0]
        cond_1 = not any([x == obj_x for x in list_obj])
        cond_2 = not (object_summary.key[-9:] == "_$folder$")
        if cond_1 & cond_2:
            list_obj.append(obj_x)
    list_obj = [x for x in list_obj if not x == prefix]
    list_obj = [x for x in list_obj if not x == ""]
    return list_obj

In [13]:
def _key_files__list(client, bucket, key):
    """return the key's size if it exist, else None"""
    response = client.list_objects_v2(Bucket=bucket, Prefix=key)
    return response.get("Contents", [])

def get_s3_parquet(s3_url, flag):
    """
    s3_url: path donde se desea buscar
    flag: permite identificar por cual camino entrar: 1: buscar archivo especifico, 0: buscar carpeta, ejemplo las std
    """
    session = boto3.session.Session()
    s3 = session.client("s3")
    bucket = s3_url.split("/")[2]
    print('bucket_last_file: ', bucket)
    key = s3_url.split("/")[3:]
    key = "/".join(key)
    print('key_last_file: ', key)
    files = _key_files__list(s3, bucket, key)
    return files

In [15]:
## Cargando bases MDT históricas
path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/'
bucket = 'adl-refined-dev-popular'

In [12]:
list_files(path)

['parquet']

In [20]:
files = ['s3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202101',
        's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202104',
        's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202105',
        #'s3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202106',
        's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202107',
        #'s3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202108',
        's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202109',
        's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202110',
        's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202111']

In [32]:
var_finales = [
'id_numero_cliente',
'id_cliente',
'fecha_camp',
'amortizacion_min_lb',#
'cuota_max_lb_smlv',#
'dias_desde_ult_tx_ahr',#
'num_lib_solicitadas',#
'num_no_aceptado',#
'num_tx_ult_1mes_ahr',#
'numero_obligaciones_activasdif',#
'pasv_antig_total',#
'pasv_saldo_ca_1mes_atras',#
'porcentaje_utilizacion',#
'prom_monto_novado',#
'prom_n_cuotas',#
'quanto_mod',#
'sum_tx_linea_ahr',#
'valor_cuotas_codeudores_smlv',#
'valor_utilizado_smlv',#
'periodo'
]

for ix, file in enumerate(files):
    if ix == 0:
        data_fin = read_parquet(file)
        data_fin.columns = data_fin.columns.str.lower()
        data_fin['periodo'] = file[-6:]
        data_fin = data_fin[var_finales]
        
        gc.collect()
        
    else:
        data_temp = read_parquet(file)
        data_temp.columns = data_temp.columns.str.lower()
        data_temp['periodo'] = file[-6:]
        data_temp = data_temp[var_finales]
        
        data_fin = pd.concat([data_fin,data_temp], ignore_index=True)
        
        del data_temp
        gc.collect()

In [33]:
print(data_fin.shape)
data_fin.head()

(3796039, 20)

,id_numero_cliente,id_cliente,fecha_camp,amortizacion_min_lb,cuota_max_lb_smlv,dias_desde_ult_tx_ahr,num_lib_solicitadas,num_no_aceptado,num_tx_ult_1mes_ahr,numero_obligaciones_activasdif,pasv_antig_total,pasv_saldo_ca_1mes_atras,porcentaje_utilizacion,prom_monto_novado,prom_n_cuotas,quanto_mod,sum_tx_linea_ahr,valor_cuotas_codeudores_smlv,valor_utilizado_smlv,periodo
0,79865991,102055485099090901,202101,0.131881,0.759572,NaN,1.0,NaN,NaN,0.000000,NaN,NaN,0.6107,0.0,96.0,2492000.0,NaN,0.289480,4.137471,202101
1,17280622,102255266223563901,202101,0.019254,1.090158,NaN,1.0,NaN,NaN,-0.142857,118.200000,0.006207,0.0000,12179473.0,120.0,2370000.0,NaN,1.242672,0.000000,202101
2,2911328,102652294533698301,202101,0.291584,1.485373,NaN,1.0,NaN,NaN,0.000000,NaN,NaN,0.4611,43542453.0,108.0,7075000.0,NaN,0.000000,12.479555,202101
3,16252185,102652311300396601,202101,0.668136,0.647889,NaN,1.0,NaN,NaN,0.000000,NaN,NaN,0.2814,0.0,92.0,3458000.0,NaN,0.000000,4.125364,202101
4,1047971216,102652317959284201,202101,0.821199,0.308103,NaN,1.0,NaN,NaN,0.000000,84.166667,0.704579,0.0000,4252125.0,72.0,2018000.0,NaN,0.000000,0.000000,202101

In [35]:
var_finales = [
'id_cliente',
'data_camp',
'30first_use',
'amortizacion_min_lb',#
'cuota_max_lb_smlv',#
'dias_desde_ult_tx_ahr',#
'num_lib_solicitadas',#
'num_no_aceptado',#
'num_tx_ult_1mes_ahr',#
'numero_obligaciones_activasdif',#
'pasv_antig_total',#
'pasv_saldo_ca_1mes_atras',#
'porcentaje_utilizacion',#
'prom_monto_novado',#
'prom_n_cuotas',#
'quanto_mod',#
'sum_tx_linea_ahr',#
'valor_cuotas_codeudores_smlv',#
'valor_utilizado_smlv',#
]

In [37]:
path2 = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_paprob'

data_mod = read_parquet(path2)
data_mod.columns = data_mod.columns.str.lower()

In [38]:
data_mod = data_mod[var_finales]

print(data_mod.shape)
data_mod.head()

(35614, 19)

,id_cliente,data_camp,30first_use,amortizacion_min_lb,cuota_max_lb_smlv,dias_desde_ult_tx_ahr,num_lib_solicitadas,num_no_aceptado,num_tx_ult_1mes_ahr,numero_obligaciones_activasdif,pasv_antig_total,pasv_saldo_ca_1mes_atras,porcentaje_utilizacion,prom_monto_novado,prom_n_cuotas,quanto_mod,sum_tx_linea_ahr,valor_cuotas_codeudores_smlv,valor_utilizado_smlv
0,139052294556287802,201908,0,0.609821,0.146545,0.0,4.0,1.0,41.538462,0.0,204.333333,20.225045,NaN,760090.0,42.5,3049000.0,20.0,0.0,0.0
1,139052295140802202,201912,0,0.049772,0.811657,1.0,1.0,2.0,34.314286,0.0,79.566667,0.066776,NaN,0.0,72.0,3739000.0,2.0,0.0,0.0
2,139052310368555702,201906,0,0.277706,0.756863,0.0,1.0,NaN,30.000000,NaN,NaN,NaN,NaN,0.0,92.0,NaN,NaN,NaN,NaN
3,144652296665147802,201908,0,0.080055,0.783212,2.0,8.0,1.0,19.000000,0.0,212.800000,2.487295,0.0,14823797.0,83.5,4215000.0,31.0,0.0,0.0
4,148752294801061101,201904,0,0.035494,0.740727,2.0,2.0,NaN,6.125000,NaN,226.500000,8.110172,NaN,0.0,96.0,NaN,3.0,NaN,NaN

In [41]:
var_mod = [
'amortizacion_min_lb',#
'cuota_max_lb_smlv',#
'dias_desde_ult_tx_ahr',#
'num_lib_solicitadas',#
'num_no_aceptado',#
'num_tx_ult_1mes_ahr',#
'numero_obligaciones_activasdif',#
'pasv_antig_total',#
'pasv_saldo_ca_1mes_atras',#
'porcentaje_utilizacion',#
'prom_monto_novado',#
'prom_n_cuotas',#
'quanto_mod',#
'sum_tx_linea_ahr',#
'valor_cuotas_codeudores_smlv',#
'valor_utilizado_smlv',#
]

period1 = 'periodo'
period2 = 'data_camp'

### PSI

In [46]:
### PSI 
def psi(dataframe,periodo,variable): 
    
    if str(dataframe[variable].dtype)== 'object':
        tabla_5=dataframe[variable].value_counts().reset_index(name='conteo').rename(columns={'index':variable})
        variable_total=tabla_5['conteo'].sum()
        tabla_5['dist']=tabla_5['conteo']/variable_total
        tabla_6=dataframe.groupby([variable,periodo])[variable].count().reset_index(name='conteo')
        tabla_7=dataframe.groupby([periodo])[variable].count().reset_index(name='total')
        tabla_8=tabla_6.merge(tabla_7,how='left',on=[periodo])
        tabla_8['dist_mes']=tabla_8['conteo']/tabla_8['total']
        tabla_9=tabla_8.merge(tabla_5,how='left',on=[variable]).sort_values(by=[periodo]).reset_index()
        tabla_9['PSI']=(tabla_9['dist_mes']-tabla_9['dist'])*np.log(tabla_9['dist_mes']/tabla_9['dist'])
        tabla_10=tabla_9.groupby([periodo])['PSI'].sum().reset_index(name=variable)
        tabla_11=pd.DataFrame().from_records([[variable,tabla_10[variable].max()]])
        tabla_11.columns=['variable','psi']
    else:
        categorica=len(pd.qcut(dataframe[variable],5,duplicates='drop').value_counts().index)
        if categorica<=1:
            #print('categorica')
            tabla_5=dataframe.groupby([variable])[variable].count().reset_index(name='conteo')
            variable_total=tabla_5['conteo'].sum()
            tabla_5['dist']=tabla_5['conteo']/variable_total
            tabla_6=dataframe.groupby([variable,periodo])[variable].count().reset_index(name='conteo')
            tabla_7=dataframe.groupby([periodo])[variable].count().reset_index(name='total')
            tabla_8=tabla_6.merge(tabla_7,how='left',on=[periodo])
            tabla_8['dist_mes']=tabla_8['conteo']/tabla_8['total']
            tabla_9=tabla_8.merge(tabla_5,how='left',on=[variable]).sort_values(by=[periodo]).reset_index()
            tabla_9['PSI']=(tabla_9['dist_mes']-tabla_9['dist'])*np.log(tabla_9['dist_mes']/tabla_9['dist'])
            tabla_10=tabla_9.groupby([periodo])['PSI'].sum().reset_index(name=variable)
            tabla_11=pd.DataFrame().from_records([[variable,tabla_10[variable].max()]])
            tabla_11.columns=['variable','psi']

        else: 
            #print('continua')
            lista_1=[]
            lista_2=[]
            dataframe['decil_'+variable]=pd.qcut(dataframe[variable],5,duplicates='drop')
            tabla_5=dataframe.groupby(['decil_'+variable])['decil_'+variable].count().reset_index(name='conteo')
            variable_total=tabla_5['conteo'].sum()
            tabla_5['dist']=tabla_5['conteo']/variable_total
            tabla_6=dataframe.groupby(['decil_'+variable,periodo])['decil_'+variable].count().reset_index(name='conteo')
            tabla_7=dataframe.groupby([periodo])['decil_'+variable].count().reset_index(name='total')
            tabla_8=tabla_6.merge(tabla_7,how='left',on=[periodo])
            tabla_8['dist_mes']=tabla_8['conteo']/tabla_8['total']
            tabla_9=tabla_8.merge(tabla_5,how='left',on=['decil_'+variable]).sort_values(by=[periodo]).reset_index()
            tabla_9['PSI']=(tabla_9['dist_mes']-tabla_9['dist'])*np.log(tabla_9['dist_mes']/tabla_9['dist'])
            tabla_10=tabla_9.groupby([periodo])['PSI'].sum().reset_index(name='decil_'+variable)
            tabla_11=pd.DataFrame().from_records([[variable,tabla_10['decil_'+variable].max()]])
            tabla_11.columns=['variable','psi']
    return tabla_11

In [47]:
for ix, var in enumerate(var_mod):
    if ix == 0:
        psi_f = psi(data_fin,period1,var)
    else:
        psi_temp = psi(data_fin,period1,var)
        psi_f = pd.concat([psi_f,psi_temp], ignore_index=True)
        
        del psi_temp
        gc.collect()

/home/jupyter/anaconda3/lib/python3.7/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [48]:
psi_f

                          variable       psi
0              amortizacion_min_lb  0.002726
1                cuota_max_lb_smlv  0.001462
2            dias_desde_ult_tx_ahr  0.054526
3              num_lib_solicitadas  0.750025
4                  num_no_aceptado  0.353397
5              num_tx_ult_1mes_ahr  0.003025
6   numero_obligaciones_activasdif  0.017417
7                 pasv_antig_total  0.013164
8         pasv_saldo_ca_1mes_atras  0.034558
9           porcentaje_utilizacion  0.005188
10               prom_monto_novado  0.058520
11                   prom_n_cuotas       inf
12                      quanto_mod  0.010086
13                sum_tx_linea_ahr  0.001187
14    valor_cuotas_codeudores_smlv  0.017080
15            valor_utilizado_smlv  0.006412

In [52]:
for var in var_mod:
    print(var)
    print(data_fin[var].mean())
    print(data_mod[var].mean())

amortizacion_min_lb
0.20498172902764175
0.22946117508853114
cuota_max_lb_smlv
0.8377936358636507
0.8590634036201059
dias_desde_ult_tx_ahr
13.562209840562318
3.706550011823126
num_lib_solicitadas
1.809169508834124
3.2568985401254538
num_no_aceptado
2.100574355575805
1.2556699066133028
num_tx_ult_1mes_ahr
0.821761947185911
24.406115847627547
numero_obligaciones_activasdif
0.07650604991224615
0.07072380155021027
pasv_antig_total
158.27646923333774
149.24252069047017
pasv_saldo_ca_1mes_atras
4.2668083548335165
4.118522833808089
porcentaje_utilizacion
0.3144855448701577
0.20772490300679236
prom_monto_novado
10653323.957982969
5897892.07725992
prom_n_cuotas
87.42198552193113
72.93615203646432
quanto_mod
4515612.658420499
5055072.520734248
sum_tx_linea_ahr
1.436634230311085
7.983542684345196
valor_cuotas_codeudores_smlv
0.314861466136975
0.1353836652154547
valor_utilizado_smlv
4.327124966272446
1.783013933889736

In [50]:
print(data_fin['num_lib_solicitadas'].mean())
print(data_mod['num_lib_solicitadas'].mean())

1.809169508834124
3.2568985401254538

In [51]:
print(data_fin['num_no_aceptado'].mean())
print(data_mod['num_no_aceptado'].mean())

2.100574355575805
1.2556699066133028