## Obteniendo base Piloto perfilados

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)

In [2]:
path = 's3://adl-refined-dev-popular/data_orig/tmp/tmpg_perfilados_M20200817.csv'

data = pd.read_csv(path,sep='|', encoding='latin-1', dtype={'NUMERO_DOC':str,'ID_CLIENTE':str,'ID_NUM_IDENTIFICACION':str,})

print(data.shape)
data

(28600, 9)

,TIPO_DOC,NUMERO_DOC,NOMBRE_CAMPAÑA,FECHA_INICIO,FECHA_FIN,TIPO,CIUDAD_CRM,ID_CLIENTE,ID_NUM_IDENTIFICACION
0,1,10000710,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,784052310001134201,10000710
1,1,10000851,Act_02_19_202007,44044,44135,CLIENTE INACTIVO,BOGOTA,315352309121128202,10000851
2,1,10000919,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,361154868646775601,10000919
3,1,10001108,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,205552310859223401,10001108
4,1,10003005,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,GIRARDOT,767952295444029901,10003005
...,...,...,...,...,...,...,...,...,...
28595,1,9975185,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,819052295442438701,9975185
28596,1,9975309,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,IBAGUE,139052295442490402,9975309
28597,1,9975866,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,758052317530653101,9975866
28598,1,9976368,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,941552295442864001,9976368
28599,1,9990510,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,668252315947058202,9990510

In [3]:
# PORCENTAJE ESPERADO
p = 15000/data.shape[0]
print(p)

0.5244755244755245

In [4]:
## SELECCIONANDO 15 MIL CLIENTES
np.random.seed(seed=4321) # Semilla

#Se generan numeros aleatorios entre 0 y 1
data['ran']=np.random.random(size=data.shape[0])

#Se seleccion train : 50% 
data_muestra=data[data['ran']<=p]

data_muestra.drop(columns=['ran'],inplace=True)
print(data_muestra.shape)

(15002, 9)

/home/jupyter/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [5]:
data_muestra

,TIPO_DOC,NUMERO_DOC,NOMBRE_CAMPAÑA,FECHA_INICIO,FECHA_FIN,TIPO,CIUDAD_CRM,ID_CLIENTE,ID_NUM_IDENTIFICACION
0,1,10000710,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,784052310001134201,10000710
3,1,10001108,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,205552310859223401,10001108
4,1,10003005,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,GIRARDOT,767952295444029901,10003005
6,1,10011983,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,521152307006793601,10011983
8,1,10012781,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,158852311657703101,10012781
...,...,...,...,...,...,...,...,...,...
28591,1,9955158,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,MEDELLIN,179652316792778602,9955158
28593,1,9970114,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,387252295442026302,9970114
28595,1,9975185,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,819052295442438701,9975185
28596,1,9975309,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,IBAGUE,139052295442490402,9975309
28599,1,9990510,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,668252315947058202,9990510

In [7]:
data_muestra[['TIPO_DOC','NUMERO_DOC','ID_CLIENTE','ID_NUM_IDENTIFICACION']].head()

   TIPO_DOC NUMERO_DOC          ID_CLIENTE ID_NUM_IDENTIFICACION
0         1   10000710  784052310001134201              10000710
3         1   10001108  205552310859223401              10001108
4         1   10003005  767952295444029901              10003005
6         1   10011983  521152307006793601              10011983
8         1   10012781  158852311657703101              10012781

In [6]:
## Guardando base muestra

path = 's3://adl-refined-dev-popular/data_orig/tmp/tmp_perfilados_mustraTU_M20200817.csv'
data_muestra[['TIPO_DOC','NUMERO_DOC','ID_CLIENTE','ID_NUM_IDENTIFICACION']].to_csv(path, sep = '|', encoding= 'utf_8', index=False)