In [1]:
import numpy as np
import pandas as pd
pd.set_option('max_columns',None)
pd.set_option('max_rows',20)

In [2]:
x = int(input())

123

In [11]:
b=int(str(x)[1])

In [14]:
print("{:>4}".format(b))

   2

In [2]:
import s3fs
import pyarrow as pa
import pyarrow.parquet as pq

def spark_read_parquet(s3_url: str, **args):
    fs = s3fs.S3FileSystem()
    # Leyendo base
    dataset = pq.ParquetDataset(s3_url, filesystem=fs)
    table = dataset.read()
    dataframe = table.to_pandas()

    del dataset, table

    return dataframe

fs = s3fs.S3FileSystem()

In [3]:
## Leyendo base libranzas ciclo de vida

mes = '01'
anio = '2021'

path = 's3://data-bpop-dev-sandbox/estandarizado/productos/libranzas/productos_libranzas_dwh_M'+anio+mes

In [4]:
# Leyendo base
dataset = pq.ParquetDataset(path, filesystem=fs)
table = dataset.read()
lib = table.to_pandas()
lib = lib.drop_duplicates()

del dataset, table

/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [5]:
print(lib.shape)
lib.head()

(3111904, 66)

,sk_cliente,id_cliente,sk_rc_libranza,id_rc_libranza,sk_fe_radicacion,sk_fe_aprobacion,sk_fe_desembolso,sk_fe_finalizacion,sk_fe_estado_actual,sk_convenio_libranza,sk_persona,dk_persona,sk_oficina,sk_producto_servicio,sk_clasificacion_tradicional,cd_oficina,cd_originador,ds_originador,cd_segmento_lib,ds_segmento_lib,cd_subsegmento_lib,ds_subsegmento_lib,no_solicitud,fe_solicitud,vl_monto_solicitado,mp_reestructurado,no_obligacion,fe_desembolso,vl_monto_aprobado,vl_recapitalizacion,vl_monto_desembolsado,no_cuotas,fe_finalizacion,no_meses_per_gracia,vl_total_cuota,fe_exigibilidad_cuota_1,cd_estado_actual,ds_estado_actual,fe_estado_actual,vl_tasa,vl_tasa_efectiva_anual,cd_modalidad_pag_int,ds_modalidad_pag_int,cd_periodicidad_pag_int,ds_periodicidad_pag_int,cd_base_liquidacion,cd_tipo_libranza,ds_tipo_libranza,cd_tipo_credito,ds_tipo_credito,cd_tipo_colocacion,ds_tipo_colocacion,no_obligacion_novada,vl_monto_novado,mp_compra_ind_cartera,mp_afecta_desp_nomina,cd_linea_credito,fe_carga,fe_actua,no_particion,cd_sector,cd_subsector,cd_tipo_pagaduria,ds_sector,ds_subsector,ds_tipo_pagaduria
0,None,None,11102493,1000003*8686310*LB*22003260010679,NaT,NaT,2021-01-27,2031-05-05,2001-05-01,22732,None,1000003*8686310,219,None,7,220,1,Banco Popular,3,Pensionados,1,Libranzas Colpensiones,22003260017949,2021-01-19,86600000.0,0,22003260010679,2021-01-27,86600000.0,2795531.0,86590835,120,2031-05-05,3,1208176,2021-05-05,1,En Cartera,2001-05-01,9.48,9.9029,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,26,26-ATR DE 51 < 69 AÃO 364 DIA,0,0.0,1,1,66,2021-01-28 02:57:46,NaT,1,2,1,1,PENSIONADOS,I.S.S. Pensionados,NACIONAL CENTRALIZADA
1,None,None,1364676,1000003*120302*LB*2500300171334,NaT,NaT,1999-10-21,2002-12-05,1900-01-01,5354,None,1000003*120302,151,27,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,2500300171334,1999-10-21,6700000.0,0,2500300171334,1999-10-21,6700000.0,0.0,0,36,2002-12-05,0,295546,1999-12-05,2,Cancelada,1900-01-01,33.00,25.7097,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
2,None,None,629059,1000003*154595*LB*64003010003401,NaT,NaT,2002-06-14,2003-07-05,1900-01-01,25018,None,1000003*154595,185,27,18,640,1,Banco Popular,5,Libranzas Privadas,1,Libranzas Privadas,64003010003447,2002-06-11,8000000.0,0,64003010003401,2002-06-14,8000000.0,0.0,7762637,12,2003-07-05,0,765799,2002-07-05,2,Cancelada,1900-01-01,26.40,25.7097,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,5,1,4,PRIVADO,Responsabilidad Limitada,LOCAL
3,None,None,3140396,1000003*26231159*LB*0000000801010146,2016-12-20,NaT,2016-12-20,2022-03-05,NaT,None,3125248,1000003*26231159,None,27,17,803,2,Origina Soluciones,6,Compras de Cartera,3,Originar y el Cedro en Flujo,0,2016-12-20,15575415.0,0,0000000801010146,2016-12-20,15575415.0,0.0,15575415,58,NaT,0,460653,NaT,,,NaT,22.80,NaN,V,Vencido,M,Mensual,360,2,Inorganica,0000000000000000000000000000000000000000000000...,Nueva,,,0,0.0,0,0,69,2019-04-12 05:59:34,NaT,0,None,None,None,-,-,-
4,None,None,3138545,1000003*31227523*LB*0000000801010938,2017-03-30,NaT,2017-03-30,2024-07-05,NaT,None,None,1000003*31227523,None,27,17,803,2,Origina Soluciones,6,Compras de Cartera,3,Originar y el Cedro en Flujo,0,2017-03-30,11567167.0,0,0000000801010938,2017-03-30,11567167.0,0.0,11567167,83,NaT,0,320131,NaT,,,NaT,24.00,NaN,V,Vencido,M,Mensual,360,2,Inorganica,0000000000000000000000000000000000000000000000...,Nueva,,,0,0.0,0,0,69,2019-04-12 05:59:34,NaT,0,None,None,None,-,-,-

In [6]:
lib = lib[lib['id_cliente'].notnull()]
lib['id_cliente'] = lib['id_cliente'].astype('int')

In [7]:
print(lib.shape)
lib.head()

(3111504, 66)

,sk_cliente,id_cliente,sk_rc_libranza,id_rc_libranza,sk_fe_radicacion,sk_fe_aprobacion,sk_fe_desembolso,sk_fe_finalizacion,sk_fe_estado_actual,sk_convenio_libranza,sk_persona,dk_persona,sk_oficina,sk_producto_servicio,sk_clasificacion_tradicional,cd_oficina,cd_originador,ds_originador,cd_segmento_lib,ds_segmento_lib,cd_subsegmento_lib,ds_subsegmento_lib,no_solicitud,fe_solicitud,vl_monto_solicitado,mp_reestructurado,no_obligacion,fe_desembolso,vl_monto_aprobado,vl_recapitalizacion,vl_monto_desembolsado,no_cuotas,fe_finalizacion,no_meses_per_gracia,vl_total_cuota,fe_exigibilidad_cuota_1,cd_estado_actual,ds_estado_actual,fe_estado_actual,vl_tasa,vl_tasa_efectiva_anual,cd_modalidad_pag_int,ds_modalidad_pag_int,cd_periodicidad_pag_int,ds_periodicidad_pag_int,cd_base_liquidacion,cd_tipo_libranza,ds_tipo_libranza,cd_tipo_credito,ds_tipo_credito,cd_tipo_colocacion,ds_tipo_colocacion,no_obligacion_novada,vl_monto_novado,mp_compra_ind_cartera,mp_afecta_desp_nomina,cd_linea_credito,fe_carga,fe_actua,no_particion,cd_sector,cd_subsector,cd_tipo_pagaduria,ds_sector,ds_subsector,ds_tipo_pagaduria
400,60834,102652295584838601,280423,1000003*11439693*LB*9550301121187,NaT,NaT,2001-06-12,2004-07-05,1900-01-01,19724,662495,1000003*11439693,None,27,1,955,1,Banco Popular,1,Fuerzas Militares,4,Libranzas Ejercito Nacional,9550301121187,1900-01-01,3100000.0,0,9550301121187,2001-06-12,2960000.0,0.0,0,36,2004-07-05,0,128101,2001-07-05,2,Cancelada,1900-01-01,31.5,25.7097,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,4,1,ORDEN NACIONAL,Mindefensa Ejercito Nacional Activos,NACIONAL CENTRALIZADA
401,60834,102652295584838601,1023924,1000003*11439693*LB*36403010026444,NaT,NaT,2004-02-05,2006-04-05,1900-01-01,5063,662495,1000003*11439693,166,27,1,364,1,Banco Popular,1,Fuerzas Militares,4,Libranzas Ejercito Nacional,36403010028969,2004-02-05,2100000.0,0,36403010026444,2004-02-05,2100000.0,0.0,1555542,24,2006-04-05,0,113137,2004-04-05,2,Cancelada,1900-01-01,26.0,25.7097,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,0,382878.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,4,1,ORDEN NACIONAL,Mindefensa Ejercito Nacional Activos,NACIONAL CENTRALIZADA
402,60951,102652297314584801,215366,1000003*23823293*LB*2500300206080,NaT,NaT,2000-12-27,2004-02-05,1900-01-01,5354,1250337,1000003*23823293,151,27,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,2500300206080,2000-12-27,2940000.0,0,2500300206080,2000-12-27,2940000.0,0.0,0,36,2004-02-05,0,125614,2001-02-05,2,Cancelada,1900-01-01,30.5,25.7097,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
403,60951,102652297314584801,390474,1000003*23823293*LB*25003010013115,NaT,NaT,2002-10-03,2005-07-05,1900-01-01,5354,1250337,1000003*23823293,151,27,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,25003010013632,2002-09-27,4000000.0,0,25003010013115,2002-10-03,4000000.0,0.0,2104473,32,2005-07-05,0,175856,2002-11-05,2,Cancelada,1900-01-01,26.6,25.7097,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,0,1697710.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
404,60977,102652303039490201,197538,1000003*57441197*LB*4000300114523,NaT,NaT,2001-06-08,2004-07-05,2016-06-30,16862,2299336,1000003*57441197,103,27,19,400,1,Banco Popular,0,Libranzas Otras,1,Libranzas Otras,4000300114523,2001-06-08,5000000.0,0,4000300114523,2001-06-08,5000000.0,0.0,0,36,2004-07-05,0,216387,2001-07-05,3,Castigado,2003-04-30,31.5,31.9009,V,Vencido,M,Mensual,360,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0,0.0,0,0,66,2019-04-12 05:59:34,2019-04-18 05:55:34,0,4,1,4,ENTES DESENTRALIZADOS,Salud,LOCAL

In [8]:
ids = lib.loc[~lib['ds_estado_actual'].isin(['Cancelada','Castigado']),'id_cliente'].unique()
ids_final = pd.DataFrame({'id_cliente':ids})
ids_final['fecha_camp'] = int(anio+mes)
ids_final

                id_cliente  fecha_camp
0       102652303931898101      202101
1       102652295880533801      202101
2       102652296797857801      202101
3       102652296820136301      202101
4       102652298458155701      202101
5       102652297589965301      202101
6       102652296060855001      202101
7       102652294446682301      202101
8       102652294564599101      202101
9       102652304429247101      202101
...                    ...         ...
336292  443761123857759602      202101
336293  491061134796766602      202101
336294  364461134992979002      202101
336295  928861144773750802      202101
336296  989961144018560302      202101
336297  679661158621800006      202101
336298  106261158590035706      202101
336299  847861158616029806      202101
336300  733561164868512102      202101
336301  287361167523676806      202101

[336302 rows x 2 columns]

In [9]:
# Data Demog

path = 's3://data-bpop-dev-sandbox/estandarizado/clientes/identificacion/clientes_identificacion_mdm_D20210218'
data_demog = spark_read_parquet(path)
data_demog = data_demog[data_demog['ref_num'].str.isdigit()]
print(data_demog.shape)
data_demog.head(5)

(4083923, 9)

,cont_id,ref_num,id_tp_cd,id_tp_ds,issue_location,issue_dt,issue_country_tp_cd,issue_country_tp_ds,nit_check_digit
0,101052303957546801,79134214,1000003,Cédula de Ciudadanía,"BOGOTÁ, D.C. (11001000)",1987-10-29,1000037.0,Colombia,None
1,101052311667206502,1081514838,1000003,Cédula de Ciudadanía,TARQUI (41791000),2009-01-06,1000037.0,Colombia,None
2,101052312312302702,26422381,1000003,Cédula de Ciudadanía,NEIVA (41001000),2002-09-27,1000037.0,Colombia,None
3,101052312911760301,71757187,1000003,Cédula de Ciudadanía,None,1993-10-15,1000037.0,Colombia,None
4,101052313683385701,39713759,1000003,Cédula de Ciudadanía,"BOGOTÁ, D.C. (11001000)",1982-12-27,1000037.0,Colombia,None

In [10]:
# Join cedula, typeid
data_demog = data_demog.rename(columns={'cont_id':'id_cliente',
                                       'ref_num':'id_numero_cliente'})

data_demog['id_tp_cd'] = data_demog['id_tp_cd'].astype('str')

data_demog = data_demog.drop_duplicates(subset=['id_tp_cd', 'id_numero_cliente'], keep='first') ## Problemas de duplicados

In [11]:
print(data_demog.shape)
data_demog.head()

(3545701, 9)

,id_cliente,id_numero_cliente,id_tp_cd,id_tp_ds,issue_location,issue_dt,issue_country_tp_cd,issue_country_tp_ds,nit_check_digit
0,101052303957546801,79134214,1000003,Cédula de Ciudadanía,"BOGOTÁ, D.C. (11001000)",1987-10-29,1000037.0,Colombia,None
1,101052311667206502,1081514838,1000003,Cédula de Ciudadanía,TARQUI (41791000),2009-01-06,1000037.0,Colombia,None
2,101052312312302702,26422381,1000003,Cédula de Ciudadanía,NEIVA (41001000),2002-09-27,1000037.0,Colombia,None
3,101052312911760301,71757187,1000003,Cédula de Ciudadanía,None,1993-10-15,1000037.0,Colombia,None
4,101052313683385701,39713759,1000003,Cédula de Ciudadanía,"BOGOTÁ, D.C. (11001000)",1982-12-27,1000037.0,Colombia,None

In [12]:
data_demog['id_cliente'] = data_demog['id_cliente'].fillna('-99').astype(np.int64)

In [13]:
ids_final = pd.merge(ids_final,data_demog[['id_cliente','id_numero_cliente','id_tp_cd']], on='id_cliente', how='left')
ids_final.count()

id_cliente           336410
fecha_camp           336410
id_numero_cliente    319217
id_tp_cd             319217
dtype: int64

In [14]:
ids_final

                id_cliente  fecha_camp id_numero_cliente id_tp_cd
0       102652303931898101      202101          78746146  1000003
1       102652295880533801      202101          13544804  1000003
2       102652296797857801      202101          20206059  1000003
3       102652296820136301      202101          20300762  1000003
4       102652298458155701      202101          33180068  1000003
5       102652297589965301      202101          27079010  1000003
6       102652296060855001      202101          14972564  1000003
7       102652294446682301      202101           2485304  1000003
8       102652294564599101      202101           3042835  1000003
9       102652304429247101      202101          80354687  1000003
...                    ...         ...               ...      ...
336400  443761123857759602      202101          25166726  1000003
336401  491061134796766602      202101          86006386  1000003
336402  364461134992979002      202101               NaN      NaN
336403  928861144773750802      202101               NaN      NaN
336404  989961144018560302      202101               NaN      NaN
336405  679661158621800006      202101          34992350  1000003
336406  106261158590035706      202101          19232639  1000003
336407  847861158616029806      202101          31887675  1000003
336408  733561164868512102      202101          78715346  1000003
336409  287361167523676806      202101          33148014  1000003

[336410 rows x 4 columns]

In [15]:
"""
MODULE: processing_filtering
This script extracts activos information from the activos file
Steps:
1. Get activos file
2. Get the needed columns and rows from activos file including the needed historical period
3. Create additional columns
"""

def processing_filtering(input_paths_activos):
    """Pending docstring"""
    # 1. Get filter file
    ids_final = get_filtering_file(input_paths_activos)
    print('get_filtering_file')
    # 2. Get demog file
    data_demog = get_demog_file(path)
    print('get_demog_file')
    # 3. Join between 
    ids_final2 = pd.merge(ids_final,data_demog[['id_cliente','id_numero_cliente','id_tp_cd']], on='id_cliente', how='left')
    print('ids_final_df')
    print('filtering_df created successfully')

    return ids_final2


def get_filtering_file(input_path):
    """ Gets the input_path to the activos file, drops some not useful columns
     and outputs a DataFrame
    :param input_path to activos file location
    :return: DataFrame
    """
    
    mes = '01'  ### REVISAR!!!!
    anio = '2021'   ### REVISAR!!!!
    
    filtering_file_path = input_path
    filtering = spark_read_parquet(filtering_file_path)

    filtering.rename(columns=lambda x: x.lower(), inplace=True)
    
    # Filter and casting variables
    filtering = filtering[filtering['id_cliente'].notnull()]
    filtering['id_cliente'] = filtering['id_cliente'].astype('int')
    
    ids = filtering.loc[~filtering['ds_estado_actual'].isin(['Cancelada','Castigado']),'id_cliente'].unique()
    ids_final = pd.DataFrame({'id_cliente':ids})
    ids_final['fecha_camp'] = int(anio+mes)  ### REVISAR!!!!

    return ids_final


def get_demog_file(path):
    """ Gets the input_path to the activos file, drops some not useful columns
     and outputs a DataFrame
    :param input_path to activos file location
    :return: DataFrame
    """

    # read the new table
    data_demog = spark_read_parquet(path)
    data_demog = data_demog[data_demog['ref_num'].str.isdigit()]

    # Join cedula, typeid and casting variables
    data_demog = data_demog.rename(columns={'cont_id':'id_cliente',
                                       'ref_num':'id_numero_cliente'})
    data_demog['id_tp_cd'] = data_demog['id_tp_cd'].astype('str')
    
    # Drop duplicates and casting variables
    data_demog = data_demog.drop_duplicates(subset=['id_tp_cd', 'id_numero_cliente'], keep='first')
    data_demog['id_cliente'] = data_demog['id_cliente'].fillna('-99').astype(np.int64)

    return data_demog

In [16]:
mes = '01'
anio = '2021'
input_paths_activos = 's3://data-bpop-dev-sandbox/estandarizado/productos/libranzas/productos_libranzas_dwh_M'+anio+mes
path = 's3://data-bpop-dev-sandbox/estandarizado/clientes/identificacion/clientes_identificacion_mdm_D20210218'

ids_final2 = processing_filtering(input_paths_activos)

print(ids_final2.shape)
ids_final2.head()

get_filtering_file
get_demog_file
ids_final_df
filtering_df created successfully
(336410, 4)

           id_cliente  fecha_camp id_numero_cliente id_tp_cd
0  102652303931898101      202101          78746146  1000003
1  102652295880533801      202101          13544804  1000003
2  102652296797857801      202101          20206059  1000003
3  102652296820136301      202101          20300762  1000003
4  102652298458155701      202101          33180068  1000003

# 2

In [17]:
import pandas as pd 
import numpy as np 

pd.set_option('max_columns',None)
pd.set_option('max_rows',None)

from datetime import datetime, timedelta 
from dateutil import relativedelta
import gc

In [18]:
import s3fs
import pyarrow as pa
import pyarrow.parquet as pq

def spark_read_parquet(s3_url: str, **args):
    fs = s3fs.S3FileSystem()
    # Leyendo base
    dataset = pq.ParquetDataset(s3_url, filesystem=fs)
    table = dataset.read()
    dataframe = table.to_pandas()

    del dataset, table

    return dataframe

In [19]:
fs = s3fs.S3FileSystem()

In [20]:
var_finales = [
'amortizacion_min_LB',# activos
'cuota_max_LB_SMLV',# activos

'num_lib_solicitadas',# libranzas
'prom_monto_novado', # libranzas
'prom_n_cuotas', # libranzas


'pasv_antig_total', # pasivos
'pasv_saldo_ca_1mes_atras',# pasivos

'sum_tx_linea_ahr',# TX Pasivo
'dias_desde_ult_tx_ahr',# tx_pasivos
'num_tx_ult_1mes_ahr',# tx_pasivos

'valor_cuotas_codeudores_smlv', # Buro
'valor_utilizado_smlv',# Buro
'numero_obligaciones_activasdif',# buro
'porcentaje_utilizacion',# buro
'quanto_mod',# buro

'num_no_aceptado',# campañas
]

In [21]:
var_finales = [
#
#


'num_no_aceptado',#
    
'dias_desde_ult_tx_ahr',#

'pasv_antig_total',#
'pasv_saldo_ca_1mes_atras',#

'sum_tx_linea_ahr',#
'num_tx_ult_1mes_ahr',#
    
]

In [22]:
"""
MODULE: processing_activos
This script extracts activos information from the activos file
Steps:
1. Get activos file
2. Get the needed columns and rows from activos file including the needed historical period
3. Create additional columns
"""


def process_activos(input_paths_activos):
    """Pending docstring"""
    # 1. Get activos file
    activos = get_activos_file(input_paths_activos)
    print('get_activos_file')
    # 2. Deletes duplicates and casts variables
    activos = get_activos_info(activos)
    print('get_activo_info')
    # 3. Creates aux variables requeried for the final explanatory variables
    activos = create_activos_info(activos)
    print('create_activos_info')
    # 4. Aggregate and produce client-level output data frame
    activos_cli_fec = get_activos_cliente(activos)
    print('get_activos_cliente')
    # 5. Produce client-level output data frame with explanatory variables
    activos_final = create_activos_df(activos, activos_cli_fec)
    print('create_activos_df')
    print('activos_df created successfully')

    return activos_final


def get_activos_file(input_path):
    """ Gets the input_path to the activos file, drops some not useful columns
     and outputs a DataFrame
    :param input_path to activos file location
    :return: DataFrame
    """

    activos_file_path = input_path
    activos = spark_read_parquet(activos_file_path)

    activos.rename(columns=lambda x: x.lower(), inplace=True)

    if activos['id_cliente'].isnull().sum() > 0:
        activos = activos.loc[activos['id_cliente'].notnull()]

    str_date = input_path[-6:]
    activos['fecha_activos'] = pd.to_datetime(str_date, format='%Y%m').strftime('%Y%m')

    # cast nroident
    activos['id_cliente'] = activos['id_cliente'].fillna('-999').astype(np.int64)
    activos = activos[
        ['id_cliente', 'nrooblig', 'fecha_activos', 'dias_morak', 'lineacredi', 'tipo_producto', 'sal_capita',
         'vlr_cuota', 'vlr_desemb']]

    return activos


def get_activos_info(activos):
    """Deletes duplicates and casts variables
    :param activos to activos file location
    :return: DataFrame
    """

    # delete negative nroident
    activos = activos[(activos['id_cliente'] > 0)]

    # delete duplicates
    activos = activos.sort_values(['id_cliente', 'fecha_activos'])
    activos = activos.drop_duplicates(subset=['id_cliente', 'nrooblig', 'fecha_activos'], keep='first')

    # casting variables
    activos['fecha_activos'] = activos['fecha_activos'].astype(int)

    return activos


def create_activos_info(activos):
    """Creates aux variables requeried for the final explanatory variables
    :param activos to activos file location
    :return: DataFrame
    """
    # Creates salario minimo mensual vigente
    activos['ano_po'] = activos['fecha_activos'].astype(str).str[0:4].astype(int)
    activos['smlv'] = np.where(activos['ano_po'] == 2018, 781242,
                               np.where(activos['ano_po'] == 2019, 828116,
                                        np.where(activos['ano_po'] == 2020, 877803,
                                                 np.where(activos['ano_po'] == 2021, 908526,
                                                 np.nan))))

    # Creates active credits flag
    #activos['cuenta_vigente'] = np.where(activos['estado'] == 'ACTIVO', 1, 0)
    activos.loc[:, 'cuenta_vigente'] = 1

    # Creates tipo_prod
    activos['tipo_prod'] = np.where((activos['lineacredi'] == 61) & (activos['tipo_producto'] == 'TC'), 'TC_T',
                                    np.where((activos['lineacredi'] == 62) & (activos['tipo_producto'] == 'TC'), 'TC_X',
                                             activos['tipo_producto']))
   
    #Variable amortizacion a nivel obligación
    activos['amortizacion']=np.where((activos['vlr_desemb']> 0) & (activos['sal_capita'] >= 0),(activos['vlr_desemb']-activos['sal_capita'])/activos['vlr_desemb'],
    np.where((activos['vlr_desemb'] > 0) & np.isnan(activos['sal_capita']),1,np.nan))

    return activos


def get_activos_cliente(activos):
    """Takes a product-level data frame and returns a client-level data frame,
    :param activos complete activos DataFrame
    :return: DataFrame, client-level
    """

    # Creates data base at 'nroident','fecha_activos' level.
    activos_cli_fec = pd.DataFrame(activos.groupby(['id_cliente', 'fecha_activos'])[['smlv']].max())

    return activos_cli_fec


def create_activos_df(activos, activos_cli_fec):
    """Creates client-level final variables
    :param activos complete activos DataFrame
    :param activos_cli_fec containing activos relevant rows and columns and activos_cli_fec client level data base
    :return: DataFrame
    """

    # Numero de obligaciones libranza al dia
    activos_cli_fec['amortizacion_min_lb'] = activos[
        (activos['cuenta_vigente'] == 1) & (activos['tipo_producto'] == 'LB')].groupby(
        ['id_cliente','fecha_activos'])[['amortizacion']].min()


    # Saldo y cuota
    activos_cli_fec['cuota_max_lb']  = activos[
        (activos['tipo_producto'] == 'LB') & (activos['cuenta_vigente'] == 1)].groupby(
        ['id_cliente','fecha_activos'])[['vlr_cuota']].max()

    
   
    # Saldo y cuota / smlv
    activos_cli_fec['cuota_max_lb_smlv'] = activos_cli_fec['cuota_max_lb'] / activos_cli_fec['smlv']

    activos_cli_fec = activos_cli_fec.reset_index()
    activos_out = activos_cli_fec[
        ['id_cliente', 'fecha_activos', 'amortizacion_min_lb', 'cuota_max_lb_smlv']]
    print('Shape inicial:',activos_out.shape[0])
    activos_out = activos_out.loc[activos_out['amortizacion_min_lb'].notnull()]
    print('Shape final:',activos_out.shape[0])
   
    return activos_out

In [23]:
period = '202101'
path = 's3://data-bpop-dev-sandbox/estandarizado/productos/activo-csv/productos_activo-csv_sarc_M'
file_name = path + period

data_activos = process_activos(file_name)
print(data_activos.shape)
data_activos.head()

get_activos_file
get_activo_info
create_activos_info
get_activos_cliente
Shape inicial: 477410
Shape final: 335977
create_activos_df
activos_df created successfully
(335977, 4)

            id_cliente  fecha_activos  amortizacion_min_lb  cuota_max_lb_smlv
4   101052314032556001         202101             0.029293           1.231402
8   101055260683554401         202101             0.000000           0.668039
9   101055266367157902         202101             0.167980           0.723335
10  101055266603150201         202101             0.327578           0.168098
11  101055266686923002         202101             0.029209           0.831396

In [24]:
data_activos.count()

id_cliente             335977
fecha_activos          335977
amortizacion_min_lb    335977
cuota_max_lb_smlv      335977
dtype: int64

In [25]:
period = '202101'
path = 's3://data-bpop-dev-sandbox/estandarizado/productos/activo-csv/productos_activo-csv_sarc_M'
file_name = path + period

activos_file_path = file_name
activos = spark_read_parquet(activos_file_path)

activos.rename(columns=lambda x: x.lower(), inplace=True)

if activos['id_cliente'].isnull().sum() > 0:
    activos = activos.loc[activos['id_cliente'].notnull()]

str_date = file_name[-6:]
activos['fecha_activos'] = pd.to_datetime(str_date, format='%Y%m').strftime('%Y%m')

# cast nroident
activos['id_cliente'] = activos['id_cliente'].fillna('-999').astype(np.int64)
activos = activos[
    ['id_cliente', 'nrooblig', 'fecha_activos', 'dias_morak', 'lineacredi', 'tipo_producto', 'sal_capita',
         'vlr_cuota', 'vlr_desemb']]

In [26]:
activos.head()

,id_cliente,nrooblig,fecha_activos,dias_morak,lineacredi,tipo_producto,sal_capita,vlr_cuota,vlr_desemb
0,598952294131470701,04103230000225,202101,0,66,LB,1457014.0,386927.0,13000000.0
1,636652306855578702,35103230000103,202101,0,66,LB,9683841.0,523109.0,19000000.0
2,137152294132396101,03803230001345,202101,0,66,LB,7420861.0,212401.0,7642000.0
3,724752294132850802,48403250000021,202101,0,66,LB,9225917.0,469993.0,20000000.0
4,234952294132994402,68203230001255,202101,0,66,LB,25444054.0,740351.0,28000000.0

In [27]:
activos = activos[(activos['id_cliente'] > 0)]

# delete duplicates
activos = activos.sort_values(['id_cliente', 'fecha_activos'])
activos = activos.drop_duplicates(subset=['id_cliente', 'nrooblig', 'fecha_activos'], keep='first')

# casting variables
activos['fecha_activos'] = activos['fecha_activos'].astype(int)

In [28]:
print(activos.shape)
activos.head()

(552339, 9)

,id_cliente,nrooblig,fecha_activos,dias_morak,lineacredi,tipo_producto,sal_capita,vlr_cuota,vlr_desemb
30208,101052294884460201,00660004000000240385,202101,0,62,TC,908099.43,184960.92,943455.35
79332,101052295928775502,4506584007213796403,202101,0,61,TC,2165659.70,248265.00,2216488.95
136597,101052312312302702,00660004000000219235,202101,0,62,TC,753041.18,97498.39,786489.57
205159,101052312315900401,00660004000000222101,202101,0,62,TC,39947.14,0.00,39947.14
496903,101052314032556001,03403260001453,202101,0,66,LB,75016012.00,1118761.00,77279772.00

In [29]:
activos['ano_po'] = activos['fecha_activos'].astype(str).str[0:4].astype(int)
activos['smlv'] = np.where(activos['ano_po'] == 2018, 781242,
                           np.where(activos['ano_po'] == 2019, 828116,
                                    np.where(activos['ano_po'] == 2020, 877803,
                                             np.where(activos['ano_po'] == 2021, 908526,
                                             np.nan))))

# Creates active credits flag
#activos['cuenta_vigente'] = np.where(activos['estado'] == 'ACTIVO', 1, 0)
activos.loc[:, 'cuenta_vigente'] = 1

# Creates tipo_prod
activos['tipo_prod'] = np.where((activos['lineacredi'] == 61) & (activos['tipo_producto'] == 'TC'), 'TC_T',
                                np.where((activos['lineacredi'] == 62) & (activos['tipo_producto'] == 'TC'), 'TC_X',
                                         activos['tipo_producto']))

#Variable amortizacion a nivel obligación
activos['amortizacion']=np.where((activos['vlr_desemb']> 0) & (activos['sal_capita'] >= 0),(activos['vlr_desemb']-activos['sal_capita'])/activos['vlr_desemb'],
np.where((activos['vlr_desemb'] > 0) & np.isnan(activos['sal_capita']),1,np.nan))

In [30]:
print(activos.shape)
activos.head()

(552339, 14)

,id_cliente,nrooblig,fecha_activos,dias_morak,lineacredi,tipo_producto,sal_capita,vlr_cuota,vlr_desemb,ano_po,smlv,cuenta_vigente,tipo_prod,amortizacion
30208,101052294884460201,00660004000000240385,202101,0,62,TC,908099.43,184960.92,943455.35,2021,908526.0,1,TC,0.037475
79332,101052295928775502,4506584007213796403,202101,0,61,TC,2165659.70,248265.00,2216488.95,2021,908526.0,1,TC,0.022932
136597,101052312312302702,00660004000000219235,202101,0,62,TC,753041.18,97498.39,786489.57,2021,908526.0,1,TC,0.042529
205159,101052312315900401,00660004000000222101,202101,0,62,TC,39947.14,0.00,39947.14,2021,908526.0,1,TC,0.000000
496903,101052314032556001,03403260001453,202101,0,66,LB,75016012.00,1118761.00,77279772.00,2021,908526.0,1,LB,0.029293

# 3

**Revisar de Ultimo**

# 4

In [31]:
input_path1 = 's3://data-bpop-dev-sandbox/estandarizado/riesgos-creditos/buro-comportamiento-financiero/riesgos-creditos_buro-comportamiento-financiero_experian_M202012'
input_path2 = 's3://data-bpop-dev-sandbox/estandarizado/riesgos-creditos/buro-comportamiento-financiero/riesgos-creditos_buro-comportamiento-financiero_experian_M202009'

In [33]:
buro_1 = spark_read_parquet(input_path1)
buro_1.columns = buro_1.columns.str.lower()
buro_1 = buro_1.rename(columns={'cont_id': 'id_cliente'})

buro_1['marca_buro'] = 1
if buro_1['no_identificacion'].isnull().sum() > 0:
    buro_1 = buro_1.loc[buro_1['no_identificacion'].notnull()]

buro_1['no_identificacion'] = buro_1['no_identificacion'].astype('str')
buro_1['no_identificacion'] = buro_1['no_identificacion'].astype(np.int64)

buro_2 = spark_read_parquet(input_path2)
buro_2.columns = buro_2.columns.str.lower()
buro_2 = buro_2.rename(columns={'cont_id': 'id_cliente'})

buro_2['marca_buro'] = 2
if buro_2['no_identificacion'].isnull().sum() > 0:
    buro_2 = buro_2.loc[buro_2['no_identificacion'].notnull()]

buro_2['no_identificacion'] = buro_2['no_identificacion'].astype('str')
buro_2['no_identificacion'] = buro_2['no_identificacion'].astype(np.int64)

buro = pd.concat([buro_1,buro_2], ignore_index=True)

if buro['no_identificacion'].isnull().sum() > 0:
    buro = buro.loc[buro['no_identificacion'].notnull()]

buro['no_identificacion'] = buro['no_identificacion'].astype(np.int64)
buro['id_cliente'] = buro['id_cliente'].fillna('-999').astype(np.int64)
buro = buro[['tipo_id','tipo_id_homologado','no_identificacion', 'fecha_envio',
             'id_cliente', 'marca_buro', 
             'numero_obligaciones_activas',
             'porcentaje_utilizacion',
             'quanto_mod',
             'valor_cupos',
             'valor_utilizado',
             'valor_cuotas_codeudores']]
    
buro = buro.fillna(0)

In [34]:
print(buro_1.shape)
buro_1.head()

(532595, 135)

,tipo_id,tipo_id_homologado,no_identificacion,ds_nombre_cliente,rango_aproximado_edad,genero,ciudad_de_expedicion,acierta_a_financiero,quanto,quanto_mod,porcen_de_cuotas_vs_ingreso,respuesta,numero_obligaciones_activas,numero_creditos_cb,valor_inicial_cb,valor_saldo_cb,valor_cuotas_cb,valor_mora_cb,numero_creditos_cv,valor_inicial_cv,valor_saldo_cv,valor_cuotas_cv,valor_mora_cv,numero_creditos_cf,valor_inicial_cf,valor_saldo_cf,valor_cuotas_cf,valor_mora_cf,numero_tdc,valor_cupos,valor_utilizado,porcentaje_utilizacion,valor_cuotas,valor_mora,rango_0,rango_1,rango_2,rango_3,rango_4,rango_5,rango_6,fecha_mas_antigua_apertura,numero_creditos_sr,valor_inicial_sr,valor_saldo_sr,valor_cuotas_sr,valor_mora_sr,numero_celulares_telcos,valor_cuotas_celulares_telcos,valor_mora_telcos,numero_creditos_cooperativas,valor_inicial_cooperativas,valor_saldo_cooperativas,valor_cuotas_cooperativas,valor_mora_cooperativas,numero_creditos_codeudores,valor_saldo_codeudores,valor_cuotas_codeudores,valor_mora_codeudores,obliga_al_dia_cartera_actual,obliga_mora_30_cartera_actual,obliga_mora_60_cartera_actual,obliga_mora_90_cartera_actual,obliga_mora_120_cartera_actual,cartera_castig_cartera_actual,dudoso_recaudo_cartera_actual,ctas_en_cobrador_cartera_act,ult_año_moras_30_cartera_hist,ult_año_moras_60_cartera_hist,ult_año_moras_90_cartera_hist,ult_año_moras_120_cartera_hist,cancel_mal_manejo_cartera_hist,cartera_recupe_cartera_hist,tdc_altura_maxima_de_mora,cartera_banca_alt_max_de_mora,cartera_coope_alt_max_de_mora,cartera_hipote_alt_max_de_mora,peor_califi_trim_1_endeud,peor_calif_trim_2_endeud,ctas_de_ahorro_act_ctas_banca,ctas_ctes_act_cta_banca,ctas_embargadas_ctas_bancarias,cancel_mal_manejo_ctas_banca,ctas_saldadas_ctas_banca,total_consultas_ult_6_meses,estado_consulta,endeudamiento,num_tdc_vigentes_sin_popular,cupo_sin_popular,max_cupo_tdc_sin_popular,promedio_cupo_tdc_sin_popular,fec_mas_anti_aper_tdc_sin_popu,valor_utilizado_sin_popular,utilizacion_sin_popular,valor_cuotas_sin_popular,valor_en_mora_sin_popular,numoblvigensectorbancasin_popu,cuposectorbancario_sin_popular,maxcuposectorbancasin_popular,promcuposectorbancasin_popular,fecantiapersectorbancasinpopu,valor_utilisectorbancasin_popu,util_sector_banca_sin_popular,val_cuo_sector_banca_sin_popu,val_morasectorbancasin_popular,numoblvigensector_hip_sin_popu,cupo_sector_hip_sin_popular,max_cupo_sector_hip_sin_popu,prom_cupo_sector_hip_sin_popu,fec_masantapersectorhipsin_pop,val_util_sector_hip_sin_pop,util_sector_hip_sin_popular,val_cuotas_sector_hip_sin_popu,val_mora_sector_hip_sin_popu,cuotas_calculadas_tdc,cuotas_calculadas_créditos,cuotas_calculadas_hipotecarias,plazo_credito,plazo_hipotecario,tasa_hipotecario,tasa_creditos,plazo_tdc,cupo_sugerido_1,cupo_sugerido_2,cupo_sugerido_3,cupo_segun_mercado,cupo_ajustadi,cupo_exp_fin,cupo_final,experiencia_financiera,fecha_envio,fecha_data,tipo_cliente,id_cliente,marca_buro
0,4,1000005,9191,None,NaN,None,EXTRANJERO,822.0,None,1623000.0,None,None,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2500000.0,0.0,0.000000,0.0,0.0,None,None,None,None,None,None,None,2002-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,None,None,None,NaN,NaN,0,0,0,0,1,NaN,1.0,2500000.0,2500000.0,2500000.0,2002-08-01,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-05,2020-12-31,None,102154706710734702,1
1,2,1000007,800003367,None,NaN,None,None,NaN,None,NaN,None,None,64,24.0,6.334539e+09,4.527163e+09,216592000.0,0.0,NaN,NaN,NaN,NaN,NaN,15.0,6.121110e+08,4.026440e+08,355205000.0,0.0,3.0,25000000.0,5295000.0,0.211800,826000.0,0.0,None,None,None,None,None,None,None,2016-08-01,8.0,336000.0,57864000.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,A,B,11.0,3.0,0,0,0,4424,1,NaN,3.0,25000000.0,10000000.0,8333333.0,2016-08-01,5295000.0,NaN,826000.0,0.0,21.0,5.788539e+09,1.372003e+09,2.756447e+08,2020-09-01,4.103088e+09,None,198766000.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-05,2020-12-31,None,411252294121262802,1
2,2,1000007,800003971,None,NaN,None,None,NaN,None,NaN,None,None,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.109000e+06,1.000000e+03,1000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,NaT,NaN,NaN,NaN,NaN,NaN,1.0,0.0,170000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,1,0,0,0,0,0,0,0,None,None,None,None,E,E,1.0,NaN,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-05,2020-12-31,None,586952294027743202,1
3,2,1000007,800004065,None,NaN,None,None,NaN,None,NaN,None,None,34,4.0,7.170700e+07,5.580500e+07,843000.0,501000.0,NaN,NaN,NaN,NaN,NaN,4.0,0.000000e+00,0.000000e+00,0.0,5086000.0,7.0,54900000.0,45306000.0,0.825246,11082000.0,4452000.0,None,None,None,None,None,None,None,1995-12-01,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,530000.0,119000.0,0.0,22,2,0,0,1,0,0,0,7,4,2,1,0,0,4,1,None,None,B,B,7.0,5.0,0,0,0,1,5,NaN,7.0,54900000.0,24000000.0,7842857.0,1995-12-01,45306000.0,NaN,11082000.0,4452000.0,3.0,2.004000e+07,2.000000e+07,6.680000e+06,2005-05-01,4.138000e+06,None,241000.0,501000.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-05,2020-12-31,None,779452294114315901,1
4,2,1000007,800011002,None,NaN,None,None,NaN,None,NaN,None,None,62,14.0,2.846955e+10,2.244108e+10,347277000.0,0.0,NaN,NaN,NaN,NaN,NaN,16.0,3.622941e+09,1.545348e+09,74770000.0,0.0,9.0,58000000.0,722000.0,0.012448,722000.0,0.0,None,None,None,None,None,None,None,2009-11-01,7.0,106123000.0,88588000.0,95543000.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,11558000.0,2351000.0,0.0,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,B,A,10.0,NaN,0,0,0,10,5,NaN,9.0,58000000.0,14000000.0,6444444.0,2009-11-01,722000.0,NaN,722000.0,0.0,9.0,2.221500e+10,5.500000e+09,2.468333e+09,2009-10-01,1.791889e+10,None,330148000.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-05,2020-12-31,None,248852294027931002,1

In [35]:
print(buro_2.shape)
buro_2.head()

(573288, 135)

,tipo_id,tipo_id_homologado,no_identificacion,ds_nombre_cliente,rango_aproximado_edad,genero,ciudad_de_expedicion,acierta_a_financiero,quanto,quanto_mod,porcen_de_cuotas_vs_ingreso,respuesta,numero_obligaciones_activas,numero_creditos_cb,valor_inicial_cb,valor_saldo_cb,valor_cuotas_cb,valor_mora_cb,numero_creditos_cv,valor_inicial_cv,valor_saldo_cv,valor_cuotas_cv,valor_mora_cv,numero_creditos_cf,valor_inicial_cf,valor_saldo_cf,valor_cuotas_cf,valor_mora_cf,numero_tdc,valor_cupos,valor_utilizado,porcentaje_utilizacion,valor_cuotas,valor_mora,rango_0,rango_1,rango_2,rango_3,rango_4,rango_5,rango_6,fecha_mas_antigua_apertura,numero_creditos_sr,valor_inicial_sr,valor_saldo_sr,valor_cuotas_sr,valor_mora_sr,numero_celulares_telcos,valor_cuotas_celulares_telcos,valor_mora_telcos,numero_creditos_cooperativas,valor_inicial_cooperativas,valor_saldo_cooperativas,valor_cuotas_cooperativas,valor_mora_cooperativas,numero_creditos_codeudores,valor_saldo_codeudores,valor_cuotas_codeudores,valor_mora_codeudores,obliga_al_dia_cartera_actual,obliga_mora_30_cartera_actual,obliga_mora_60_cartera_actual,obliga_mora_90_cartera_actual,obliga_mora_120_cartera_actual,cartera_castig_cartera_actual,dudoso_recaudo_cartera_actual,ctas_en_cobrador_cartera_act,ult_año_moras_30_cartera_hist,ult_año_moras_60_cartera_hist,ult_año_moras_90_cartera_hist,ult_año_moras_120_cartera_hist,cancel_mal_manejo_cartera_hist,cartera_recupe_cartera_hist,tdc_altura_maxima_de_mora,cartera_banca_alt_max_de_mora,cartera_coope_alt_max_de_mora,cartera_hipote_alt_max_de_mora,peor_califi_trim_1_endeud,peor_calif_trim_2_endeud,ctas_de_ahorro_act_ctas_banca,ctas_ctes_act_cta_banca,ctas_embargadas_ctas_bancarias,cancel_mal_manejo_ctas_banca,ctas_saldadas_ctas_banca,total_consultas_ult_6_meses,estado_consulta,endeudamiento,num_tdc_vigentes_sin_popular,cupo_sin_popular,max_cupo_tdc_sin_popular,promedio_cupo_tdc_sin_popular,fec_mas_anti_aper_tdc_sin_popu,valor_utilizado_sin_popular,utilizacion_sin_popular,valor_cuotas_sin_popular,valor_en_mora_sin_popular,numoblvigensectorbancasin_popu,cuposectorbancario_sin_popular,maxcuposectorbancasin_popular,promcuposectorbancasin_popular,fecantiapersectorbancasinpopu,valor_utilisectorbancasin_popu,util_sector_banca_sin_popular,val_cuo_sector_banca_sin_popu,val_morasectorbancasin_popular,numoblvigensector_hip_sin_popu,cupo_sector_hip_sin_popular,max_cupo_sector_hip_sin_popu,prom_cupo_sector_hip_sin_popu,fec_masantapersectorhipsin_pop,val_util_sector_hip_sin_pop,util_sector_hip_sin_popular,val_cuotas_sector_hip_sin_popu,val_mora_sector_hip_sin_popu,cuotas_calculadas_tdc,cuotas_calculadas_créditos,cuotas_calculadas_hipotecarias,plazo_credito,plazo_hipotecario,tasa_hipotecario,tasa_creditos,plazo_tdc,cupo_sugerido_1,cupo_sugerido_2,cupo_sugerido_3,cupo_segun_mercado,cupo_ajustadi,cupo_exp_fin,cupo_final,experiencia_financiera,fecha_envio,fecha_data,tipo_cliente,id_cliente,marca_buro
0,2,1000007,399421,None,NaN,None,None,NaN,None,NaN,None,None,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,None,None,None,None,NaN,1.0,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21,2020-09-30,None,591759863752970602,2
1,4,1000005,9191,None,NaN,None,EXTRANJERO,822.0,None,1623000.0,None,None,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2500000.0,0.0,0.000000,0.0,0.0,None,None,None,None,None,None,None,2002-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,None,None,None,NaN,NaN,0,0,0,0,1,NaN,1.0,2500000.0,2500000.0,2500000.0,2002-08-01,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21,2020-09-30,None,102154706710734702,2
2,1,1000003,1000004718,None,25.0,None,BOGOTA D.C.,770.0,None,1799000.0,None,None,5,1.0,7000000.0,6660000.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1700000.0,832000.0,0.489412,0.0,0.0,None,None,None,None,None,None,None,2020-04-01,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,A,A,NaN,2.0,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,1.0,7000000.0,7000000.0,7.000000e+06,2020-01-01,6660000.0,None,0.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21,2020-09-30,None,533158715966237901,2
3,1,1000003,1000034253,None,27.0,None,BOGOTA D.C.,726.0,None,2580000.0,None,None,9,3.0,17900000.0,12315000.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4399000.0,1984000.0,0.451012,458000.0,0.0,None,None,None,None,None,None,None,2017-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,None,A,A,NaN,3.0,0,0,0,0,1,NaN,3.0,4399000.0,2400000.0,1466333.0,2017-06-01,1984000.0,NaN,458000.0,0.0,3.0,17900000.0,6500000.0,5.966667e+10,2019-11-01,12315000.0,None,0.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21,2020-09-30,None,981852313095360002,2
4,1,1000003,10000352,None,43.0,M,PEREIRA,642.0,None,5091000.0,None,None,11,4.0,98850000.0,50890000.0,1873000.0,788000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,15700000.0,11625000.0,0.740446,1745000.0,1745000.0,None,None,None,None,None,None,None,2017-09-01,3.0,171000.0,82000.0,253000.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2,0,0,0,0,0,0,2,0,0,0,0,0,1,1,None,None,A,A,NaN,1.0,0,0,0,4,1,NaN,1.0,15700000.0,15700000.0,15700000.0,2017-09-01,11625000.0,NaN,1745000.0,1745000.0,3.0,78150000.0,40000000.0,2.605000e+07,2017-03-01,31602000.0,None,1539000.0,788000.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21,2020-09-30,None,257752295443399301,2

In [36]:
print(buro.shape)
buro.head()

(1105883, 12)

,tipo_id,tipo_id_homologado,no_identificacion,fecha_envio,id_cliente,marca_buro,numero_obligaciones_activas,porcentaje_utilizacion,quanto_mod,valor_cupos,valor_utilizado,valor_cuotas_codeudores
0,4,1000005,9191,2021-01-05,102154706710734702,1,1,0.000000,1623000.0,2500000.0,0.0,0.0
1,2,1000007,800003367,2021-01-05,411252294121262802,1,64,0.211800,0.0,25000000.0,5295000.0,0.0
2,2,1000007,800003971,2021-01-05,586952294027743202,1,4,0.000000,0.0,0.0,0.0,0.0
3,2,1000007,800004065,2021-01-05,779452294114315901,1,34,0.825246,0.0,54900000.0,45306000.0,119000.0
4,2,1000007,800011002,2021-01-05,248852294027931002,1,62,0.012448,0.0,58000000.0,722000.0,2351000.0

In [37]:
buro = buro[buro['fecha_envio'].notnull()]
buro['fecha_envio'] = buro['fecha_envio'].astype('str')
buro['fecha_buro'] = (
            buro['fecha_envio'].str.replace('-', '').str[0:4] + buro['fecha_envio'].str.replace('-', '').str[
                                                                4:6]).astype('int')

# deleting duplicates
buro = buro.sort_values(['no_identificacion', 'fecha_buro'])
buro = buro.drop_duplicates(subset=['no_identificacion', 'fecha_buro'], keep='first')

In [38]:
print(buro.shape)
buro.head()

(1105545, 13)

,tipo_id,tipo_id_homologado,no_identificacion,fecha_envio,id_cliente,marca_buro,numero_obligaciones_activas,porcentaje_utilizacion,quanto_mod,valor_cupos,valor_utilizado,valor_cuotas_codeudores,fecha_buro
874912,1,1000003,206,2020-10-21,421952294130855802,2,5,0.000000,3669000.0,0.0,0.0,0.0,202010
162583,1,1000003,206,2021-01-05,421952294130855802,1,5,0.000000,3669000.0,0.0,0.0,0.0,202101
797696,1,1000003,357,2020-10-21,702552294130987801,2,6,0.000000,3432000.0,3350000.0,3992000.0,0.0,202010
298187,1,1000003,357,2021-01-05,702552294130987801,1,5,2.109412,3432000.0,850000.0,1793000.0,0.0,202101
721670,1,1000003,1112,2020-10-21,543052294130923801,2,3,0.000000,1676000.0,0.0,0.0,0.0,202010

In [39]:
buro['llave_lag'] = np.where(buro['no_identificacion'] == buro['no_identificacion'].shift(1), 1, 0)

# variable cupo mercado
buro['ano_po'] = buro['fecha_buro'].astype(str).str[0:4].astype(int)
buro['smlv'] = np.where(buro['ano_po'] == 2018, 781242,
                        np.where(buro['ano_po'] == 2019, 828116,
                                 np.where(buro['ano_po'] == 2020, 877803,
                                          np.where(buro['ano_po'] == 2021, 908526,
                                          np.nan))))

In [40]:
print(buro.shape)
buro.head()

(1105545, 16)

,tipo_id,tipo_id_homologado,no_identificacion,fecha_envio,id_cliente,marca_buro,numero_obligaciones_activas,porcentaje_utilizacion,quanto_mod,valor_cupos,valor_utilizado,valor_cuotas_codeudores,fecha_buro,llave_lag,ano_po,smlv
874912,1,1000003,206,2020-10-21,421952294130855802,2,5,0.000000,3669000.0,0.0,0.0,0.0,202010,0,2020,877803.0
162583,1,1000003,206,2021-01-05,421952294130855802,1,5,0.000000,3669000.0,0.0,0.0,0.0,202101,1,2021,908526.0
797696,1,1000003,357,2020-10-21,702552294130987801,2,6,0.000000,3432000.0,3350000.0,3992000.0,0.0,202010,0,2020,877803.0
298187,1,1000003,357,2021-01-05,702552294130987801,1,5,2.109412,3432000.0,850000.0,1793000.0,0.0,202101,1,2021,908526.0
721670,1,1000003,1112,2020-10-21,543052294130923801,2,3,0.000000,1676000.0,0.0,0.0,0.0,202010,0,2020,877803.0

In [41]:
if (buro['porcentaje_utilizacion'] > 0).sum()/buro.shape[0] > 0.9:
    buro['porcentaje_utilizacion'] = [float(str(x).replace('"','').replace(',','.')) for x in buro['porcentaje_utilizacion']]
    buro['porcentaje_utilizacion'] = buro['porcentaje_utilizacion'].astype('float')
else:
    buro['porcentaje_utilizacion'] = np.where(buro['valor_cupos']>0, round(buro['valor_utilizado']/buro['valor_cupos'],4),0)

In [42]:
print(buro.shape)
buro.head()

(1105545, 16)

,tipo_id,tipo_id_homologado,no_identificacion,fecha_envio,id_cliente,marca_buro,numero_obligaciones_activas,porcentaje_utilizacion,quanto_mod,valor_cupos,valor_utilizado,valor_cuotas_codeudores,fecha_buro,llave_lag,ano_po,smlv
874912,1,1000003,206,2020-10-21,421952294130855802,2,5,0.0000,3669000.0,0.0,0.0,0.0,202010,0,2020,877803.0
162583,1,1000003,206,2021-01-05,421952294130855802,1,5,0.0000,3669000.0,0.0,0.0,0.0,202101,1,2021,908526.0
797696,1,1000003,357,2020-10-21,702552294130987801,2,6,1.1916,3432000.0,3350000.0,3992000.0,0.0,202010,0,2020,877803.0
298187,1,1000003,357,2021-01-05,702552294130987801,1,5,2.1094,3432000.0,850000.0,1793000.0,0.0,202101,1,2021,908526.0
721670,1,1000003,1112,2020-10-21,543052294130923801,2,3,0.0000,1676000.0,0.0,0.0,0.0,202010,0,2020,877803.0

In [43]:
buro['valor_cuotas_codeudores_smlv'] = buro['valor_cuotas_codeudores']/buro['smlv']
buro['valor_utilizado_smlv'] = buro['valor_utilizado']/buro['smlv']
        
var = 'numero_obligaciones_activas'
 
# creating lag variables lag
buro['llave_lag'] = np.where(buro['no_identificacion'] == buro['no_identificacion'].shift(1), 1, 0)

In [44]:
print(buro.shape)
buro.head()

(1105545, 18)

,tipo_id,tipo_id_homologado,no_identificacion,fecha_envio,id_cliente,marca_buro,numero_obligaciones_activas,porcentaje_utilizacion,quanto_mod,valor_cupos,valor_utilizado,valor_cuotas_codeudores,fecha_buro,llave_lag,ano_po,smlv,valor_cuotas_codeudores_smlv,valor_utilizado_smlv
874912,1,1000003,206,2020-10-21,421952294130855802,2,5,0.0000,3669000.0,0.0,0.0,0.0,202010,0,2020,877803.0,0.0,0.000000
162583,1,1000003,206,2021-01-05,421952294130855802,1,5,0.0000,3669000.0,0.0,0.0,0.0,202101,1,2021,908526.0,0.0,0.000000
797696,1,1000003,357,2020-10-21,702552294130987801,2,6,1.1916,3432000.0,3350000.0,3992000.0,0.0,202010,0,2020,877803.0,0.0,4.547717
298187,1,1000003,357,2021-01-05,702552294130987801,1,5,2.1094,3432000.0,850000.0,1793000.0,0.0,202101,1,2021,908526.0,0.0,1.973526
721670,1,1000003,1112,2020-10-21,543052294130923801,2,3,0.0000,1676000.0,0.0,0.0,0.0,202010,0,2020,877803.0,0.0,0.000000

In [45]:
buro[var+'lag1']=np.where(buro['llave_lag']==1,buro[var].shift(1),np.nan)
buro[var+'dif']=np.where(((np.isnan(buro[var])) | (buro[var]==0)) & ((np.isnan(buro[var+'lag1'])) | (buro[var+'lag1']==0)) ,0,
                          np.where( ((np.isnan(buro[var])) | (buro[var]==0)) & ((buro[var+'lag1']>0)) ,-1,
                          np.where( ((np.isnan(buro[var+'lag1'])) | (buro[var+'lag1']==0)) & ((buro[var]>0)) ,1,
                          np.where( (buro[var+'lag1']>0) & (buro[var]>0) , (buro[var]-buro[var+'lag1'])/buro[var+'lag1'],99))))
    
del buro[var+'lag1'], var

In [46]:
print(buro.shape)
buro.head()

(1105545, 19)

,tipo_id,tipo_id_homologado,no_identificacion,fecha_envio,id_cliente,marca_buro,numero_obligaciones_activas,porcentaje_utilizacion,quanto_mod,valor_cupos,valor_utilizado,valor_cuotas_codeudores,fecha_buro,llave_lag,ano_po,smlv,valor_cuotas_codeudores_smlv,valor_utilizado_smlv,numero_obligaciones_activasdif
874912,1,1000003,206,2020-10-21,421952294130855802,2,5,0.0000,3669000.0,0.0,0.0,0.0,202010,0,2020,877803.0,0.0,0.000000,1.000000
162583,1,1000003,206,2021-01-05,421952294130855802,1,5,0.0000,3669000.0,0.0,0.0,0.0,202101,1,2021,908526.0,0.0,0.000000,0.000000
797696,1,1000003,357,2020-10-21,702552294130987801,2,6,1.1916,3432000.0,3350000.0,3992000.0,0.0,202010,0,2020,877803.0,0.0,4.547717,1.000000
298187,1,1000003,357,2021-01-05,702552294130987801,1,5,2.1094,3432000.0,850000.0,1793000.0,0.0,202101,1,2021,908526.0,0.0,1.973526,-0.166667
721670,1,1000003,1112,2020-10-21,543052294130923801,2,3,0.0000,1676000.0,0.0,0.0,0.0,202010,0,2020,877803.0,0.0,0.000000,1.000000

In [47]:
#Last filter
buro = buro[buro['marca_buro'] == 2]

buro_out = buro[['tipo_id','tipo_id_homologado','no_identificacion','id_cliente', 'fecha_buro', 
                 'numero_obligaciones_activasdif',
                'porcentaje_utilizacion',
                'quanto_mod',
                'valor_cuotas_codeudores_smlv',
                'valor_utilizado_smlv']]
print(buro_out.shape)
buro_out.head()

(573121, 10)

,tipo_id,tipo_id_homologado,no_identificacion,id_cliente,fecha_buro,numero_obligaciones_activasdif,porcentaje_utilizacion,quanto_mod,valor_cuotas_codeudores_smlv,valor_utilizado_smlv
874912,1,1000003,206,421952294130855802,202010,1.0,0.0000,3669000.0,0.0,0.000000
797696,1,1000003,357,702552294130987801,202010,1.0,1.1916,3432000.0,0.0,4.547717
721670,1,1000003,1112,543052294130923801,202010,1.0,0.0000,1676000.0,0.0,0.000000
605067,1,1000003,1272,962752294130988601,202010,1.0,0.8226,8707000.0,0.0,73.582569
660070,1,1000003,1898,598952294131470701,202010,1.0,0.0000,2361000.0,0.0,0.000000

## Comprobación

In [51]:
"""
MODULE: processing_buro
This script extracts Buró information from the Buró file
Steps:
1. Get buro files
2. Get the needed columns and rows from Buro file including the needed historical period
3. Create additional columns
"""

import numpy as np
import pandas as pd
import s3fs
import pyarrow.parquet as pq

def process_buro(input_path1, input_path2):
    """Using the input_paths for the last two buro files, this function puts everything together"""

    # 1. Gets and appends the last two buro files
    buro = get_buro_file(input_path1, input_path2)
    print('get_buro_file')
    # 2. Get the needed columns and rows from buro file including the needed historical period
    buro = get_buro_info(buro)
    print('get_buro_info')
    # 3. Perform simple imputation to output data frame
    buro_final = create_buro_df(buro)
    print('create_buro_df')
    print('buro_df created successfully')

    return buro_final


def get_buro_file(input_path1, input_path2):
    """ Gets the input_paths of the last two the buro files, appends them and drops some not useful columns
     and outputs a DataFrame
    :param
    input_path1: location of the oldest buro file
    input path2: location of the most recent buro file
    :return: DataFrame
    """

    buro_1 = spark_read_parquet(input_path1)
    buro_1.columns = buro_1.columns.str.lower()
    buro_1 = buro_1.rename(columns={'cont_id': 'id_cliente'})

    buro_1['marca_buro'] = 1
    if buro_1['no_identificacion'].isnull().sum() > 0:
        buro_1 = buro_1.loc[buro_1['no_identificacion'].notnull()]

    buro_1['no_identificacion'] = buro_1['no_identificacion'].astype('str')
    buro_1['no_identificacion'] = buro_1['no_identificacion'].astype(np.int64)

    buro_2 = spark_read_parquet(input_path2)
    buro_2.columns = buro_2.columns.str.lower()
    buro_2 = buro_2.rename(columns={'cont_id': 'id_cliente'})

    buro_2['marca_buro'] = 2
    if buro_2['no_identificacion'].isnull().sum() > 0:
        buro_2 = buro_2.loc[buro_2['no_identificacion'].notnull()]

    buro_2['no_identificacion'] = buro_2['no_identificacion'].astype('str')
    buro_2['no_identificacion'] = buro_2['no_identificacion'].astype(np.int64)

    buro = pd.concat([buro_1,buro_2], ignore_index=True)
    
    if buro['no_identificacion'].isnull().sum() > 0:
        buro = buro.loc[buro['no_identificacion'].notnull()]

    buro['no_identificacion'] = buro['no_identificacion'].astype(np.int64)
    buro['id_cliente'] = buro['id_cliente'].fillna('-999').astype(np.int64)
    buro = buro[['tipo_id','tipo_id_homologado','no_identificacion', 'fecha_envio',
                 'id_cliente', 'marca_buro', 
                 'numero_obligaciones_activas',
                 'porcentaje_utilizacion',
                 'quanto_mod',
                 'valor_cupos',
                 'valor_utilizado',
                 'valor_cuotas_codeudores']]
    
    buro = buro.fillna(0)

    return buro


def get_buro_info(buro):
    """Deletes duplicates and casts dates
    :param buro to buro file location
    :return: DataFrame
    """
    # casting dates
    buro = buro[buro['fecha_envio'].notnull()]
    buro['fecha_envio'] = buro['fecha_envio'].astype('str')
    buro['fecha_buro'] = (
                buro['fecha_envio'].str.replace('-', '').str[0:4] + buro['fecha_envio'].str.replace('-', '').str[
                                                                    4:6]).astype('int')

    # deleting duplicates
    buro = buro.sort_values(['no_identificacion', 'fecha_buro'])
    buro = buro.drop_duplicates(subset=['no_identificacion', 'fecha_buro'], keep='first')

    return buro


def create_buro_df(buro):
    """Creates client-level variables final variables
    :param buro containing buro relevant rows and columns
    :return: DataFrame
    """
    # creating lag variables
    buro['llave_lag'] = np.where(buro['no_identificacion'] == buro['no_identificacion'].shift(1), 1, 0)

    # variable cupo mercado
    buro['ano_po'] = buro['fecha_buro'].astype(str).str[0:4].astype(int)
    buro['smlv'] = np.where(buro['ano_po'] == 2018, 781242,
                            np.where(buro['ano_po'] == 2019, 828116,
                                     np.where(buro['ano_po'] == 2020, 877803,
                                              np.where(buro['ano_po'] == 2021, 908526,
                                              np.nan))))
    
    if (buro['porcentaje_utilizacion'] > 0).sum()/buro.shape[0] > 0.9:
    
        buro['porcentaje_utilizacion'] = [float(str(x).replace('"','').replace(',','.')) for x in buro['porcentaje_utilizacion']]
        buro['porcentaje_utilizacion'] = buro['porcentaje_utilizacion'].astype('float')
    else:
        buro['porcentaje_utilizacion'] = np.where(buro['valor_cupos']>0, round(buro['valor_utilizado']/buro['valor_cupos'],4),0) 


    buro['valor_cuotas_codeudores_smlv']= buro['valor_cuotas_codeudores']/buro['smlv']
    buro['valor_utilizado_smlv']= buro['valor_utilizado']/buro['smlv']
    
    var = 'numero_obligaciones_activas'
 
    # creating lag variables lag
    buro['llave_lag'] = np.where(buro['no_identificacion'] == buro['no_identificacion'].shift(1), 1, 0)

    buro[var+'lag1']=np.where(buro['llave_lag']==1,buro[var].shift(1),np.nan)
    buro[var+'dif']=np.where( ((np.isnan(buro[var])) | (buro[var]==0)) & ((np.isnan(buro[var+'lag1'])) | (buro[var+'lag1']==0)) ,0,
                              np.where( ((np.isnan(buro[var])) | (buro[var]==0)) & ((buro[var+'lag1']>0)) ,-1,
                              np.where( ((np.isnan(buro[var+'lag1'])) | (buro[var+'lag1']==0)) & ((buro[var]>0)) ,1,
                              np.where( (buro[var+'lag1']>0) & (buro[var]>0) , (buro[var]-buro[var+'lag1'])/buro[var+'lag1'],99))))
    
    del buro[var+'lag1'], var
    
    #Last filter
    buro = buro[buro['marca_buro'] == 2]
    
    buro_out = buro[['tipo_id','tipo_id_homologado','no_identificacion','id_cliente', 'fecha_buro', 
                     'numero_obligaciones_activasdif',
                    'porcentaje_utilizacion',
                    'quanto_mod',
                    'valor_cuotas_codeudores_smlv',
                    'valor_utilizado_smlv']]

    return buro_out

def spark_read_parquet(s3_url: str, **args):
    fs = s3fs.S3FileSystem()
    # Leyendo base
    dataset = pq.ParquetDataset(s3_url, filesystem=fs)
    table = dataset.read()
    dataframe = table.to_pandas()

    del dataset, table

    return dataframe

In [52]:
input_path1 = 's3://data-bpop-dev-sandbox/estandarizado/riesgos-creditos/buro-comportamiento-financiero/riesgos-creditos_buro-comportamiento-financiero_experian_M202012'
input_path2 = 's3://data-bpop-dev-sandbox/estandarizado/riesgos-creditos/buro-comportamiento-financiero/riesgos-creditos_buro-comportamiento-financiero_experian_M202009'

buro_mdt = process_buro(input_path2, input_path1)
#buro_mdt = get_buro_file(input_path2, input_path1)
#buro_mdt = get_buro_info(buro_mdt)
print(buro_mdt.shape)
buro_mdt.head()

get_buro_file
get_buro_info
create_buro_df
buro_df created successfully
(532424, 10)

,tipo_id,tipo_id_homologado,no_identificacion,id_cliente,fecha_buro,numero_obligaciones_activasdif,porcentaje_utilizacion,quanto_mod,valor_cuotas_codeudores_smlv,valor_utilizado_smlv
735871,1,1000003,206,421952294130855802,202101,0.000000,0.0000,3669000.0,0.0,0.000000
871475,1,1000003,357,702552294130987801,202101,-0.166667,2.1094,3432000.0,0.0,1.973526
631622,1,1000003,1112,543052294130923801,202101,-0.333333,0.0000,1676000.0,0.0,0.000000
656626,1,1000003,1272,962752294130988601,202101,0.142857,0.7924,18188000.0,0.0,66.737771
713245,1,1000003,1898,598952294131470701,202101,0.000000,0.0000,2782000.0,0.0,0.000000

In [53]:
print(buro_mdt.shape)
buro_mdt.head()

(532424, 10)

,tipo_id,tipo_id_homologado,no_identificacion,id_cliente,fecha_buro,numero_obligaciones_activasdif,porcentaje_utilizacion,quanto_mod,valor_cuotas_codeudores_smlv,valor_utilizado_smlv
735871,1,1000003,206,421952294130855802,202101,0.000000,0.0000,3669000.0,0.0,0.000000
871475,1,1000003,357,702552294130987801,202101,-0.166667,2.1094,3432000.0,0.0,1.973526
631622,1,1000003,1112,543052294130923801,202101,-0.333333,0.0000,1676000.0,0.0,0.000000
656626,1,1000003,1272,962752294130988601,202101,0.142857,0.7924,18188000.0,0.0,66.737771
713245,1,1000003,1898,598952294131470701,202101,0.000000,0.0000,2782000.0,0.0,0.000000

# 5

In [54]:
import numpy as np
import pandas as pd
import datetime
from dateutil import relativedelta
import s3fs
import pyarrow.parquet as pq
import os
import calendar
import gc


pd.set_option('max_columns',None)
pd.set_option('max_rows',None)

%matplotlib inline

In [55]:
pip install useful_functions

Collecting useful_functions
  Could not find a version that satisfies the requirement useful_functions (from versions: )
No matching distribution found for useful_functions
Note: you may need to restart the kernel to use updated packages.

In [56]:
# import useful_functions as uf

# TODO: validate if the upcoming files will have the same amount of historical information
mes_ejec = '02' # Mes de la campaña
mes_corrida = 'febrero' #Mes de la campaña
year_lib = '2021'
str_date = pd.to_datetime(year_lib+'-'+mes_ejec, format = '%Y-%m')
mes_lib = (str_date - np.timedelta64(20, 'D')).month if (str_date - np.timedelta64(20, 'D')).month > 9 else '0' + str((str_date - np.timedelta64(20, 'D')).month)
mes_prod =  (str_date - np.timedelta64(35, 'D')).month if (str_date - np.timedelta64(35, 'D')).month > 9 else '0' + str((str_date - np.timedelta64(35, 'D')).month)

year = str(int(year_lib)-1) if mes_ejec == '01' else year_lib
year_prod = str(int(year_lib)-1) if (mes_ejec == '02') | (mes_ejec == '01') else year

HISTORICAL_YEARS = 13

In [57]:
print(mes_lib, mes_prod, year, year_prod)

01 12 2021 2020

In [58]:
input_path = os.path.join('s3://data-bpop-dev-sandbox/estandarizado/productos/libranzas/productos_libranzas_dwh_M'+year+str(mes_lib))

# libranzas_df = process_libranzas(lib_input_path)

In [59]:
fs = s3fs.S3FileSystem()

In [60]:
input = input_path
dataset = pq.ParquetDataset(input, filesystem=fs)
table = dataset.read()
lib = table.to_pandas()
lib.rename(columns=lambda x: x.lower(), inplace=True)
if lib['id_cliente'].isnull().sum() > 0:
    lib = lib.loc[lib['id_cliente'].notnull()]

lib['id_cliente'] = lib['id_cliente'].astype(np.int64)
lib_constant_cols = ['sk_producto_servicio', 'cd_modalidad_pag_int', 'ds_modalidad_pag_int', 'cd_periodicidad_pag_int',
                     'ds_periodicidad_pag_int', 'cd_base_liquidacion', 'no_obligacion_novada']

lib.drop(columns=lib_constant_cols, inplace=True)

del table, dataset

/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [61]:
print(lib.shape)
lib.head()

(3111504, 59)

,sk_cliente,id_cliente,sk_rc_libranza,id_rc_libranza,sk_fe_radicacion,sk_fe_aprobacion,sk_fe_desembolso,sk_fe_finalizacion,sk_fe_estado_actual,sk_convenio_libranza,sk_persona,dk_persona,sk_oficina,sk_clasificacion_tradicional,cd_oficina,cd_originador,ds_originador,cd_segmento_lib,ds_segmento_lib,cd_subsegmento_lib,ds_subsegmento_lib,no_solicitud,fe_solicitud,vl_monto_solicitado,mp_reestructurado,no_obligacion,fe_desembolso,vl_monto_aprobado,vl_recapitalizacion,vl_monto_desembolsado,no_cuotas,fe_finalizacion,no_meses_per_gracia,vl_total_cuota,fe_exigibilidad_cuota_1,cd_estado_actual,ds_estado_actual,fe_estado_actual,vl_tasa,vl_tasa_efectiva_anual,cd_tipo_libranza,ds_tipo_libranza,cd_tipo_credito,ds_tipo_credito,cd_tipo_colocacion,ds_tipo_colocacion,vl_monto_novado,mp_compra_ind_cartera,mp_afecta_desp_nomina,cd_linea_credito,fe_carga,fe_actua,no_particion,cd_sector,cd_subsector,cd_tipo_pagaduria,ds_sector,ds_subsector,ds_tipo_pagaduria
400,60834,102652295584838601,280423,1000003*11439693*LB*9550301121187,NaT,NaT,2001-06-12,2004-07-05,1900-01-01,19724,662495,1000003*11439693,None,1,955,1,Banco Popular,1,Fuerzas Militares,4,Libranzas Ejercito Nacional,9550301121187,1900-01-01,3100000.0,0,9550301121187,2001-06-12,2960000.0,0.0,0,36,2004-07-05,0,128101,2001-07-05,2,Cancelada,1900-01-01,31.5,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,4,1,ORDEN NACIONAL,Mindefensa Ejercito Nacional Activos,NACIONAL CENTRALIZADA
401,60834,102652295584838601,1023924,1000003*11439693*LB*36403010026444,NaT,NaT,2004-02-05,2006-04-05,1900-01-01,5063,662495,1000003*11439693,166,1,364,1,Banco Popular,1,Fuerzas Militares,4,Libranzas Ejercito Nacional,36403010028969,2004-02-05,2100000.0,0,36403010026444,2004-02-05,2100000.0,0.0,1555542,24,2006-04-05,0,113137,2004-04-05,2,Cancelada,1900-01-01,26.0,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,382878.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,4,1,ORDEN NACIONAL,Mindefensa Ejercito Nacional Activos,NACIONAL CENTRALIZADA
402,60951,102652297314584801,215366,1000003*23823293*LB*2500300206080,NaT,NaT,2000-12-27,2004-02-05,1900-01-01,5354,1250337,1000003*23823293,151,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,2500300206080,2000-12-27,2940000.0,0,2500300206080,2000-12-27,2940000.0,0.0,0,36,2004-02-05,0,125614,2001-02-05,2,Cancelada,1900-01-01,30.5,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
403,60951,102652297314584801,390474,1000003*23823293*LB*25003010013115,NaT,NaT,2002-10-03,2005-07-05,1900-01-01,5354,1250337,1000003*23823293,151,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,25003010013632,2002-09-27,4000000.0,0,25003010013115,2002-10-03,4000000.0,0.0,2104473,32,2005-07-05,0,175856,2002-11-05,2,Cancelada,1900-01-01,26.6,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,1697710.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
404,60977,102652303039490201,197538,1000003*57441197*LB*4000300114523,NaT,NaT,2001-06-08,2004-07-05,2016-06-30,16862,2299336,1000003*57441197,103,19,400,1,Banco Popular,0,Libranzas Otras,1,Libranzas Otras,4000300114523,2001-06-08,5000000.0,0,4000300114523,2001-06-08,5000000.0,0.0,0,36,2004-07-05,0,216387,2001-07-05,3,Castigado,2003-04-30,31.5,31.9009,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0.0,0,0,66,2019-04-12 05:59:34,2019-04-18 05:55:34,0,4,1,4,ENTES DESENTRALIZADOS,Salud,LOCAL

In [62]:
# we are working only with "libranzas organicas"
lib = lib.loc[lib['ds_tipo_libranza'] == 'Organica']

# eliminating these records, they may have quality issues (less than 1%)
lib = lib.loc[lib['ds_tipo_credito'].notnull()]

# necessary date processing
lib_date_cols = ['fe_solicitud', 'fe_desembolso']
for col in lib_date_cols:
    lib[col] = pd.to_datetime(lib[col], dayfirst=True, errors='coerce')

In [63]:
print(lib.shape)
lib.head()

(3105058, 59)

,sk_cliente,id_cliente,sk_rc_libranza,id_rc_libranza,sk_fe_radicacion,sk_fe_aprobacion,sk_fe_desembolso,sk_fe_finalizacion,sk_fe_estado_actual,sk_convenio_libranza,sk_persona,dk_persona,sk_oficina,sk_clasificacion_tradicional,cd_oficina,cd_originador,ds_originador,cd_segmento_lib,ds_segmento_lib,cd_subsegmento_lib,ds_subsegmento_lib,no_solicitud,fe_solicitud,vl_monto_solicitado,mp_reestructurado,no_obligacion,fe_desembolso,vl_monto_aprobado,vl_recapitalizacion,vl_monto_desembolsado,no_cuotas,fe_finalizacion,no_meses_per_gracia,vl_total_cuota,fe_exigibilidad_cuota_1,cd_estado_actual,ds_estado_actual,fe_estado_actual,vl_tasa,vl_tasa_efectiva_anual,cd_tipo_libranza,ds_tipo_libranza,cd_tipo_credito,ds_tipo_credito,cd_tipo_colocacion,ds_tipo_colocacion,vl_monto_novado,mp_compra_ind_cartera,mp_afecta_desp_nomina,cd_linea_credito,fe_carga,fe_actua,no_particion,cd_sector,cd_subsector,cd_tipo_pagaduria,ds_sector,ds_subsector,ds_tipo_pagaduria
400,60834,102652295584838601,280423,1000003*11439693*LB*9550301121187,NaT,NaT,2001-06-12,2004-07-05,1900-01-01,19724,662495,1000003*11439693,None,1,955,1,Banco Popular,1,Fuerzas Militares,4,Libranzas Ejercito Nacional,9550301121187,1900-01-01,3100000.0,0,9550301121187,2001-06-12,2960000.0,0.0,0,36,2004-07-05,0,128101,2001-07-05,2,Cancelada,1900-01-01,31.5,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,4,1,ORDEN NACIONAL,Mindefensa Ejercito Nacional Activos,NACIONAL CENTRALIZADA
401,60834,102652295584838601,1023924,1000003*11439693*LB*36403010026444,NaT,NaT,2004-02-05,2006-04-05,1900-01-01,5063,662495,1000003*11439693,166,1,364,1,Banco Popular,1,Fuerzas Militares,4,Libranzas Ejercito Nacional,36403010028969,2004-02-05,2100000.0,0,36403010026444,2004-02-05,2100000.0,0.0,1555542,24,2006-04-05,0,113137,2004-04-05,2,Cancelada,1900-01-01,26.0,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,382878.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,4,1,ORDEN NACIONAL,Mindefensa Ejercito Nacional Activos,NACIONAL CENTRALIZADA
402,60951,102652297314584801,215366,1000003*23823293*LB*2500300206080,NaT,NaT,2000-12-27,2004-02-05,1900-01-01,5354,1250337,1000003*23823293,151,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,2500300206080,2000-12-27,2940000.0,0,2500300206080,2000-12-27,2940000.0,0.0,0,36,2004-02-05,0,125614,2001-02-05,2,Cancelada,1900-01-01,30.5,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
403,60951,102652297314584801,390474,1000003*23823293*LB*25003010013115,NaT,NaT,2002-10-03,2005-07-05,1900-01-01,5354,1250337,1000003*23823293,151,13,250,1,Banco Popular,4,Educativo,1,Libranzas Educadores,25003010013632,2002-09-27,4000000.0,0,25003010013115,2002-10-03,4000000.0,0.0,2104473,32,2005-07-05,0,175856,2002-11-05,2,Cancelada,1900-01-01,26.6,25.7097,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,1697710.0,0,0,66,2019-04-12 05:59:34,NaT,0,3,7,3,ENTES TERRITORIALES,Secretaría de Educacion,REGIONAL
404,60977,102652303039490201,197538,1000003*57441197*LB*4000300114523,NaT,NaT,2001-06-08,2004-07-05,2016-06-30,16862,2299336,1000003*57441197,103,19,400,1,Banco Popular,0,Libranzas Otras,1,Libranzas Otras,4000300114523,2001-06-08,5000000.0,0,4000300114523,2001-06-08,5000000.0,0.0,0,36,2004-07-05,0,216387,2001-07-05,3,Castigado,2003-04-30,31.5,31.9009,1,Organica,0000000000000000000000000000000000000000000000...,Nueva,1,1-ORD HST 50 AÃO 364 DIA,0.0,0,0,66,2019-04-12 05:59:34,2019-04-18 05:55:34,0,4,1,4,ENTES DESENTRALIZADOS,Salud,LOCAL

In [64]:
import numpy as np
import datetime
# TODO: validate if these functions will work on the DL

def get_prev_months_last_date():
    """From current date returns the last date of the previous month"""
    current_date = datetime.date.today() 
    first_day_of_month = current_date.replace(day=1)
    out = first_day_of_month - datetime.timedelta(days=1)
    return out


def get_prev_prev_months_last_date():
    """From current date returns the last date of the month before the previous month"""
    last_day_of_prev_month = get_prev_months_last_date()
    first_day_of_prev_month = last_day_of_prev_month.replace(day=1)
    out = first_day_of_prev_month - datetime.timedelta(days=1)
    return out


def simple_imputation(df):
    """Gets a data frame and imputes the median for numerical columns and the
    mode (most common category) for categorical columns"""
    numerical_cols = df.select_dtypes(np.number).columns
    categorical_cols = df.select_dtypes(object).columns

    for col in numerical_cols:
        df[col] = df[col].fillna(df[col].median())

    for col in categorical_cols:
        df[col] = df[col].fillna(df[col].mode().iloc[0])

    return df

In [65]:
# getting records for the appropriate period
end_historical_period = pd.Timestamp(get_prev_months_last_date())
number_of_years = datetime.timedelta(days=int(365.25*HISTORICAL_YEARS))
beginning_historical_period = end_historical_period - number_of_years
period_filter = (lib['fe_solicitud'] >= beginning_historical_period) & (lib['fe_solicitud'] <= end_historical_period)
lib = lib.loc[period_filter]

In [66]:
print(lib.shape)
lib.head()

(1919079, 59)

,sk_cliente,id_cliente,sk_rc_libranza,id_rc_libranza,sk_fe_radicacion,sk_fe_aprobacion,sk_fe_desembolso,sk_fe_finalizacion,sk_fe_estado_actual,sk_convenio_libranza,sk_persona,dk_persona,sk_oficina,sk_clasificacion_tradicional,cd_oficina,cd_originador,ds_originador,cd_segmento_lib,ds_segmento_lib,cd_subsegmento_lib,ds_subsegmento_lib,no_solicitud,fe_solicitud,vl_monto_solicitado,mp_reestructurado,no_obligacion,fe_desembolso,vl_monto_aprobado,vl_recapitalizacion,vl_monto_desembolsado,no_cuotas,fe_finalizacion,no_meses_per_gracia,vl_total_cuota,fe_exigibilidad_cuota_1,cd_estado_actual,ds_estado_actual,fe_estado_actual,vl_tasa,vl_tasa_efectiva_anual,cd_tipo_libranza,ds_tipo_libranza,cd_tipo_credito,ds_tipo_credito,cd_tipo_colocacion,ds_tipo_colocacion,vl_monto_novado,mp_compra_ind_cartera,mp_afecta_desp_nomina,cd_linea_credito,fe_carga,fe_actua,no_particion,cd_sector,cd_subsector,cd_tipo_pagaduria,ds_sector,ds_subsector,ds_tipo_pagaduria
405,60978,102652303931898101,2105008,1000003*78746146*LB*26503010046182,NaT,NaT,2014-03-31,2021-09-05,2014-10-31,11675,2575095,1000003*78746146,154,5,265,1,Banco Popular,2,Policia Nacional,1,Libranzas Policia Nacional,26503010051282,2014-03-27,43500000.0,0,26503010046182,2014-03-31,43500000.0,0.0,3087141,88,2021-09-05,0,781921,2014-05-05,2,Cancelada,2014-10-31,12.60,13.3537,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,38560533.0,0,0,66,2019-04-12 05:59:34,2020-03-12 05:48:31,0,1,21,1,ORDEN NACIONAL,"OTROS POLICÍA, FONDO ROTATORIO ARMADA Y EJERCITO",NACIONAL CENTRALIZADA
407,60978,102652303931898101,2155144,1000003*78746146*LB*56503010073050,NaT,NaT,2012-09-11,2018-10-05,2013-01-14,10396,2575095,1000003*78746146,55,6,565,1,Banco Popular,2,Policia Nacional,1,Libranzas Policia Nacional,56503010082433,2012-09-07,26600000.0,0,56503010073050,2012-09-11,26600000.0,0.0,2322917,72,2018-10-05,0,528372,2012-10-05,2,Cancelada,2013-01-14,12.60,13.3537,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,22786203.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,6,1,ORDEN NACIONAL,Policia Nacional,NACIONAL CENTRALIZADA
408,60978,102652303931898101,2197892,1000003*78746146*LB*58703090012023,NaT,NaT,2015-07-30,2022-09-05,2019-05-29,23893,2575095,1000003*78746146,245,5,564,1,Banco Popular,2,Policia Nacional,1,Libranzas Policia Nacional,58703090016332,2015-07-24,54500000.0,0,58703090012023,2015-07-30,54500000.0,0.0,2180428,84,2022-09-05,0,943608,2015-09-05,1,En Cartera,2019-05-29,10.68,11.2186,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,9,9-PEN 1 SM 75-79 AÃO 364 DIA,51640752.0,0,0,66,2019-04-12 05:59:34,2020-01-22 07:03:54,1,1,21,1,ORDEN NACIONAL,"OTROS POLICÍA, FONDO ROTATORIO ARMADA Y EJERCITO",NACIONAL CENTRALIZADA
409,60978,102652303931898101,2401103,1000003*78746146*LB*58703010240409,NaT,NaT,2014-10-31,2021-12-05,2015-02-17,23893,2575095,1000003*78746146,245,5,564,1,Banco Popular,2,Policia Nacional,1,Libranzas Policia Nacional,58703010277575,2014-10-29,49500000.0,0,58703010240409,2014-10-31,49500000.0,0.0,5273347,84,2021-12-05,0,954219,2014-12-05,2,Cancelada,2015-02-17,14.28,13.3537,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,43437399.0,0,0,66,2019-04-12 05:59:34,2020-01-22 07:03:54,0,1,21,1,ORDEN NACIONAL,"OTROS POLICÍA, FONDO ROTATORIO ARMADA Y EJERCITO",NACIONAL CENTRALIZADA
410,60978,102652303931898101,846530,1000003*78746146*LB*58203010077992,NaT,NaT,2008-09-30,2014-11-05,2010-03-16,5855,2575095,1000003*78746146,181,6,582,1,Banco Popular,2,Policia Nacional,1,Libranzas Policia Nacional,58203010086312,2008-09-29,10000000.0,0,58203010077992,2008-09-30,10000000.0,0.0,587798,72,2014-11-05,0,227400,2008-11-05,2,Cancelada,2010-03-16,17.88,19.4205,1,Organica,0000000000000000000000000000000000000000000000...,Novacion,1,1-ORD HST 50 AÃO 364 DIA,8809135.0,0,0,66,2019-04-12 05:59:34,NaT,0,1,6,1,ORDEN NACIONAL,Policia Nacional,NACIONAL CENTRALIZADA

In [67]:
# imputing fe_solicitud missing dates (less than 0.5%)
lib.loc[lib['fe_solicitud'].isnull(), 'fe_solicitud'] = lib.loc[lib['fe_solicitud'].isnull(), 'fe_desembolso']

# getting only the relevant columns
lib_relevant_cols = ['id_cliente', 'sk_rc_libranza', 'fe_solicitud',
                     'vl_monto_solicitado', 'fe_desembolso',
                     'vl_monto_aprobado', 'no_obligacion', 'vl_monto_desembolsado',
                     'no_cuotas', 'vl_total_cuota', 'ds_estado_actual',
                     'vl_tasa', 'ds_tipo_credito', 'ds_tipo_libranza', 'vl_monto_novado']

lib = lib[lib_relevant_cols]
lib = lib.loc[~lib['ds_estado_actual'].isin(['Cancelada','Castigado']),:]

In [68]:
print(lib.shape)
lib.head()

(336992, 15)

,id_cliente,sk_rc_libranza,fe_solicitud,vl_monto_solicitado,fe_desembolso,vl_monto_aprobado,no_obligacion,vl_monto_desembolsado,no_cuotas,vl_total_cuota,ds_estado_actual,vl_tasa,ds_tipo_credito,ds_tipo_libranza,vl_monto_novado
408,102652303931898101,2197892,2015-07-24,54500000.0,2015-07-30,54500000.0,58703090012023,2180428,84,943608,En Cartera,10.68,Novacion,Organica,51640752.0
425,102652295880533801,2712776,2017-07-07,38800000.0,2017-07-07,38800000.0,48003090041927,21424925,99,711983,En Cartera,15.48,Novacion,Organica,16811819.0
431,102652296797857801,2281855,2017-02-28,20700000.0,2017-03-21,20700000.0,34503230000308,6003545,108,585028,En Cartera,20.28,Novacion,Organica,14257698.0
437,102652296820136301,7354012,2019-04-04,21000000.0,2019-05-03,21000000.0,03903340000306,20860805,120,479554,En Cartera,18.48,Nueva,Organica,0.0
440,102652298458155701,2560902,2018-10-16,64100000.0,2018-10-17,64100000.0,23103260003210,64089684,120,999424,En Cartera,11.88,Nueva,Organica,0.0

In [69]:
lib['dias_procesamiento'] = (lib['fe_desembolso'] - lib['fe_solicitud'])/np.timedelta64(1, 'D')
# this is a necessary fix because there are many dates with fecha de solicitud in 1900
lib.loc[lib['dias_procesamiento'] > 360, 'dias_procesamiento'] = lib['dias_procesamiento'].median()
lib.loc[(lib['vl_monto_aprobado'] == 0)|(lib['vl_monto_aprobado'].isnull()),'vl_monto_aprobado'] = lib['vl_monto_desembolsado']

In [70]:
print(lib.shape)
lib.head()

(336992, 16)

,id_cliente,sk_rc_libranza,fe_solicitud,vl_monto_solicitado,fe_desembolso,vl_monto_aprobado,no_obligacion,vl_monto_desembolsado,no_cuotas,vl_total_cuota,ds_estado_actual,vl_tasa,ds_tipo_credito,ds_tipo_libranza,vl_monto_novado,dias_procesamiento
408,102652303931898101,2197892,2015-07-24,54500000.0,2015-07-30,54500000.0,58703090012023,2180428,84,943608,En Cartera,10.68,Novacion,Organica,51640752.0,6.0
425,102652295880533801,2712776,2017-07-07,38800000.0,2017-07-07,38800000.0,48003090041927,21424925,99,711983,En Cartera,15.48,Novacion,Organica,16811819.0,0.0
431,102652296797857801,2281855,2017-02-28,20700000.0,2017-03-21,20700000.0,34503230000308,6003545,108,585028,En Cartera,20.28,Novacion,Organica,14257698.0,21.0
437,102652296820136301,7354012,2019-04-04,21000000.0,2019-05-03,21000000.0,03903340000306,20860805,120,479554,En Cartera,18.48,Nueva,Organica,0.0,29.0
440,102652298458155701,2560902,2018-10-16,64100000.0,2018-10-17,64100000.0,23103260003210,64089684,120,999424,En Cartera,11.88,Nueva,Organica,0.0,1.0

In [71]:
gp = lib.groupby('id_cliente')
lib_out = pd.DataFrame(index=lib['id_cliente'].unique())

# number of records for each cliente
lib_out['num_lib_solicitadas'] = gp.size()

# these have a very close relation
lib_out['prom_monto_novado'] = gp['vl_monto_novado'].mean()

# other averages
lib_out['prom_n_cuotas'] = gp['no_cuotas'].mean()

lib_out.index.rename('id_cliente', inplace=True)

In [72]:
print(lib_out.shape)
lib_out.head()

(318010, 3)

                    num_lib_solicitadas  prom_monto_novado  prom_n_cuotas
id_cliente
102652303931898101                    1         51640752.0           84.0
102652295880533801                    1         16811819.0           99.0
102652296797857801                    1         14257698.0          108.0
102652296820136301                    1                0.0          120.0
102652298458155701                    1                0.0          120.0

## Comprobación

In [76]:
import numpy as np
import datetime
# TODO: validate if these functions will work on the DL

def get_prev_months_last_date():
    """From current date returns the last date of the previous month"""
    current_date = datetime.date.today()
    first_day_of_month = current_date.replace(day=1)
    out = first_day_of_month - datetime.timedelta(days=1)
    return out


def get_prev_prev_months_last_date():
    """From current date returns the last date of the month before the previous month"""
    last_day_of_prev_month = get_prev_months_last_date()
    first_day_of_prev_month = last_day_of_prev_month.replace(day=1)
    out = first_day_of_prev_month - datetime.timedelta(days=1)
    return out


def simple_imputation(df):
    """Gets a data frame and imputes the median for numerical columns and the
    mode (most common category) for categorical columns"""
    numerical_cols = df.select_dtypes(np.number).columns
    categorical_cols = df.select_dtypes(object).columns

    for col in numerical_cols:
        df[col] = df[col].fillna(df[col].median())

    for col in categorical_cols:
        df[col] = df[col].fillna(df[col].mode().iloc[0])

    return df

In [81]:
# -*- coding: utf-8 -*-

"""
module: processing_libranzas
This script extracts libranzas information from the libranzas file
Steps:
1. Get libranzas file
2. Get the needed columns and rows from libranzas file including the needed historical period
3. Create additional columns
4. Aggregate and produce client-level output data frame
5. Perform simple imputation to output data frame
"""



def process_libranzas(input_path: str) -> pd.DataFrame:
    """Using the input_path this function puts everything together"""
    # 1. Get libranzas file
    libranzas = get_libranzas_file(input_path)
    print('1')
    # 2. Get the needed columns and rows from libranzas file including the needed historical period
    libranzas = get_libranzas_info(libranzas)
    print('2')
    # 3. Create additional columns
    libranzas = add_columns_to_lib(libranzas)
    print('3')
    # 4. Aggregate and produce client-level output data frame
    libranzas = create_lib_df(libranzas)
    print('4')
    # 5. Perform simple imputation to output data frame
    libranzas_final = simple_imputation(libranzas)
    libranzas_final['periodo'] = int(input_path[-6:])
    libranzas_final.reset_index(inplace=True)
    
    return libranzas_final


def get_libranzas_file(input_path):
    """ Gets the input_path to the libranzas file, drops some not useful columns
     and outputs a DataFrame
    :param input_path to libranzas file location
    :return: DataFrame
    """
    input = input_path
    dataset = pq.ParquetDataset(input, filesystem=fs)
    table = dataset.read()
    lib = table.to_pandas()
    lib.rename(columns=lambda x: x.lower(), inplace=True)
    if lib['id_cliente'].isnull().sum() > 0:
        lib = lib.loc[lib['id_cliente'].notnull()]

    lib['id_cliente'] = lib['id_cliente'].astype(np.int64)
    lib_constant_cols = ['sk_producto_servicio', 'cd_modalidad_pag_int',
                         'ds_modalidad_pag_int', 'cd_periodicidad_pag_int',
                         'ds_periodicidad_pag_int', 'cd_base_liquidacion',
                         'no_obligacion_novada']

    lib.drop(columns=lib_constant_cols, inplace=True)
    
    del table, dataset

    return lib


def get_libranzas_info(lib):
    """Gets libranzas relevant rows and columns
    :param lib to libranzas file location
    :return: DataFrame
    """
    # we are working only with "libranzas organicas"
    lib = lib.loc[lib['ds_tipo_libranza'] == 'Organica']

    # eliminating these records, they may have quality issues (less than 1%)
    lib = lib.loc[lib['ds_tipo_credito'].notnull()]

    # necessary date processing
    lib_date_cols = ['fe_solicitud', 'fe_desembolso']
    for col in lib_date_cols:
        lib[col] = pd.to_datetime(lib[col], dayfirst=True, errors='coerce')

    # getting records for the appropriate period
    end_historical_period = pd.Timestamp(get_prev_months_last_date())
    number_of_years = datetime.timedelta(days=int(365.25*HISTORICAL_YEARS))
    beginning_historical_period = end_historical_period - number_of_years
    period_filter = (lib['fe_solicitud'] >= beginning_historical_period) & (lib['fe_solicitud'] <= end_historical_period)
    lib = lib.loc[period_filter]

    # imputing fe_solicitud missing dates (less than 0.5%)
    lib.loc[lib['fe_solicitud'].isnull(), 'fe_solicitud'] = lib.loc[lib['fe_solicitud'].isnull(), 'fe_desembolso']

    # getting only the relevant columns
    lib_relevant_cols = ['id_cliente', 'sk_rc_libranza', 'fe_solicitud',
                         'vl_monto_solicitado', 'fe_desembolso',
                         'vl_monto_aprobado', 'no_obligacion', 'vl_monto_desembolsado',
                         'no_cuotas', 'vl_total_cuota', 'ds_estado_actual',
                         'vl_tasa', 'ds_tipo_credito', 'ds_tipo_libranza', 'vl_monto_novado']

    lib = lib[lib_relevant_cols]
    lib = lib.loc[~lib['ds_estado_actual'].isin(['Cancelada','Castigado']),:]

    return lib


def add_columns_to_lib(lib):
    """Takes a libranzas DataFrame and adds some useful columns
    :param lib DataFrame containing libranzas relevant rows and columns
    :return: DataFrame
    """
    lib['dias_procesamiento'] = (lib['fe_desembolso'] - lib['fe_solicitud'])/np.timedelta64(1, 'D')
    # this is a necessary fix because there are many dates with fecha de solicitud in 1900
    lib.loc[lib['dias_procesamiento'] > 360, 'dias_procesamiento'] = lib['dias_procesamiento'].median()
    lib.loc[(lib['vl_monto_aprobado'] == 0)|(lib['vl_monto_aprobado'].isnull()),'vl_monto_aprobado'] = lib['vl_monto_desembolsado']

    return lib


def create_lib_df(lib):
    """Creates client-level variables by aggregating the columns
    :param lib containing libranzas relevant rows and columns
    :return: DataFrame
    """
    # producing the first data frame
    gp = lib.groupby('id_cliente')
    lib_out = pd.DataFrame(index=lib['id_cliente'].unique())

    # number of records for each cliente
    lib_out['num_lib_solicitadas'] = gp.size()

    # these have a very close relation
    lib_out['prom_monto_novado'] = gp['vl_monto_novado'].mean()

    # other averages
    lib_out['prom_n_cuotas'] = gp['no_cuotas'].mean()

    lib_out.index.rename('id_cliente', inplace=True)

    return lib_out

In [82]:
lib_input_path = os.path.join('s3://data-bpop-dev-sandbox/estandarizado/productos/libranzas/productos_libranzas_dwh_M'+year+str(mes_lib))

libranzas_df = process_libranzas(lib_input_path)

1
2
3
4

In [83]:
print(libranzas_df.shape)
libranzas_df.head()

(318010, 5)

,id_cliente,num_lib_solicitadas,prom_monto_novado,prom_n_cuotas,periodo
0,102652303931898101,1,51640752.0,84.0,202101
1,102652295880533801,1,16811819.0,99.0,202101
2,102652296797857801,1,14257698.0,108.0,202101
3,102652296820136301,1,0.0,120.0,202101
4,102652298458155701,1,0.0,120.0,202101

# 6

In [36]:
input_paths_activos = "s3://data-bpop-dev-sandbox/estandarizado/productos/pasivo/"
str_dates = ['202011','202012','202101']

In [54]:
pasivos_last_3_cli_fec = process_pasivos(input_paths_activos)

(695161, 17)
Periodo: 202011
(693024, 17)
Periodo: 202012
(686872, 17)
Periodo: 202101
get_pasivos_file
get_pasivos_info
get_pasivos_last_3
create_pasivo_last_3_info
create_pasivos_last_3_cli_df
create_pasv_out
pasivo_last_3_tot
pasivos_df created successfully

In [21]:
import pandas as pd 
import numpy as np 

pd.set_option('max_columns',None)
#pd.set_option('max_rows',100)

from datetime import datetime, timedelta 
from dateutil import relativedelta

In [22]:
import s3fs
import pyarrow.parquet as pq

fs = s3fs.S3FileSystem()

def read_parquet(date):

    input_path = path_in+'productos_pasivo_aaatr_M'+date
    input = input_path
    dataset = pq.ParquetDataset(input, filesystem=fs)
    lib = dataset.read()
    lib = lib.to_pandas()

    del dataset
    
    return lib

In [53]:
import pandas as pd 
import numpy as np 

from datetime import datetime, timedelta 
from dateutil import relativedelta

import pyarrow.parquet as pq
import s3fs

"""
MODULE: processing_activos
This script extracts activos information from the activos file
Steps:
1. Get activos file
2. Get the needed columns and rows from activos file including the needed historical period
3. Create additional columns
"""


def process_pasivos(input_paths_activos):
    """Pending docstring"""
    # 1. Get activos file
    pasivos = get_pasivos_file(input_paths_activos)
    print('get_pasivos_file')
    
    # 2. Deletes duplicates and casts variables
    pasivos = get_pasivos_info(pasivos)
    print('get_pasivos_info')
     
    # 3. Creates aux variables requeried for the final explanatory variables
    pasivos_last_3 = get_pasivos_last_3(pasivos)
    print('get_pasivos_last_3')
    
    # 4. Aggregate and produce client-level output data frame
    pasivos_last_3 = create_pasivo_last_3_info(pasivos_last_3)
    print('create_pasivo_last_3_info')
    
    # 5. Produce client-level output data frame with explanatory variables
    pasivos_last_3_cli_fec = create_pasivos_df(pasivos_last_3)
    print('create_pasivos_last_3_cli_df')
    
    6. 
    pasv_out = create_pasv_out(pasivos_last_3_cli_fec)
    print('create_pasv_out')
    
    # 7. 
    pasvivos_df = pasivo_last_3_tot(pasivos_last_3_cli_fec, pasv_out)
    print('pasivo_last_3_tot')   
    print('pasivos_df created successfully')

    return pasvivos_df



def get_pasivos_file(input_path):
    """ Gets the input_path to the activos file, drops some not useful columns
     and outputs a DataFrame
    :param input_path to activos file location
    :return: DataFrame
    """

    product_type_dict = {'1':'corriente', '2':'ahorro', '3':'cdt'}
    
    for ix, date in enumerate(str_dates):

        tabla_temp = read_parquet(date)
        tabla_temp.columns = tabla_temp.columns.str.lower()

        ## Cambiar tipo producto:
        tabla_temp['periodo'] = int(date)
        tabla_temp['tipo_producto'] = tabla_temp['cod_producto'].apply(lambda x: str(x)[0]).map(product_type_dict)

        print(tabla_temp.shape)

        print('Periodo:',date)
        if ix == 0:
            pasivos = tabla_temp
        else:
            pasivos = pd.concat([pasivos,tabla_temp], ignore_index=True)

        del tabla_temp

    return pasivos


def get_pasivos_info(pasivos):
    """Deletes duplicates and casts variables
    :param activos to activos file location
    :return: DataFrame
    """

    # Cast dates
    pasivos['fecha_apertura'] = pd.to_datetime(pasivos['fecha_apertura'])
    pasivos['fecha_ultima_transaccion'] = pd.to_datetime(pasivos['fecha_ultima_transaccion'])

    # Reset index  ### REVISAR si quitar o no
    pasivos.reset_index(inplace=True)
    pasivos = pasivos.drop(columns={'index'})

    # Cast variables
    pasivos = pasivos[pasivos['id_cliente'].notnull()]
    pasivos = pasivos[pasivos['nro_cuenta'].isna()==False]

    pasivos['id_cliente'] = pasivos['id_cliente'].astype('int64')
    pasivos['nro_cuenta'] = pasivos['nro_cuenta'].astype('int64')
    pasivos['cod_producto'] = pasivos['cod_producto'].astype('int64')

    pasivos['fecha_apertura'] = pd.to_datetime(pasivos['fecha_apertura'], format='%Y-%m-%d')
    pasivos['fecha_ultima_transaccion'] = pd.to_datetime(pasivos['fecha_ultima_transaccion'], format='%Y-%m-%d')
    
    # Filtro clientes y cast fechas
    pasivos = pasivos[pasivos['id_cliente'] != -1]
    pasivos['fecha'] = pd.to_datetime(pasivos['periodo'], format='%Y%m')
    
    return pasivos


def get_pasivos_last_3(pasivos):
    """Takes a product-level data frame and returns a client-level data frame,
    :param activos complete activos DataFrame
    :return: DataFrame, client-level
    """

    # Validación de duplicados a nivel 'id_cliente','nrooblig','fecha'
    pasivos_last_3 = pasivos.sort_values(['id_cliente','nro_cuenta','periodo'])
    # Se eliminan duplicados
    pasivos_last_3 = pasivos_last_3.drop_duplicates(subset=['id_cliente','nro_cuenta','periodo'],keep='first')
    
    return pasivos_last_3


def create_pasivo_last_3_info(pasivos_last_3):
    """Creates aux variables requeried for the final explanatory variables
    :param activos to activos file location
    :return: DataFrame
    """
    day = 37
    
    # Se crea variable
    pasivos_last_3['fecha_pasivo'] = pasivos_last_3['periodo'].astype(int)
    pasivos_last_3['ano_po'] = pasivos_last_3['periodo'].astype('str').str[0:4].astype(int)

    # Se asigna el salario minimo mensual vigente de 2018 y 2019
    pasivos_last_3['SMLV'] = np.where(pasivos_last_3['ano_po'] == 2018, 781242,
                                            np.where(pasivos_last_3['ano_po'] == 2019, 828116,
                                                     np.where(pasivos_last_3['ano_po'] == 2020, 877803,
                                                              np.where(pasivos_last_3['ano_po'] == 2021, 908526,
                                                              np.nan))))
    
    # Variable para el delta de fechas
    pasivos_last_3['dia_fecha_corte'] = pasivos_last_3['fecha']+timedelta(days=day) ##TODO: Confirmar días

    return pasivos_last_3


def create_pasivos_df(pasivos_last_3):
    """Creates client-level final variables
    :param activos complete activos DataFrame
    :param activos_cli_fec containing activos relevant rows and columns and activos_cli_fec client level data base
    :return: DataFrame
    """

    pasivos_last_3_cli_fec = pd.DataFrame(pasivos_last_3.groupby(['id_cliente','periodo'])[['SMLV','fecha_pasivo']].max())
    
    ## Agrupaciones
    gp_pasv = pasivos_last_3.groupby(['id_cliente','periodo'])
    # gp_pasv_cc = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='corriente'].groupby(['id_cliente','periodo'])
    gp_pasv_ca = pasivos_last_3[pasivos_last_3['tipo_producto']=='ahorro'].groupby(['id_cliente','periodo'])
    # gp_pasv_cdt = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='cdt'].groupby(['id_cliente','periodo'])
    
    ## Antiguedad Total
    pasivos_last_3_cli_fec['pasv_antig_total'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                    gp_pasv['fecha_apertura'].min())/np.timedelta64(30, 'D')
    ## Numero meses ultima apertura
    pasivos_last_3_cli_fec['pasv_num_meses_ult_apertura'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                    gp_pasv['fecha_apertura'].max())/np.timedelta64(30, 'D')
    ## Dia última transacción
    pasivos_last_3_cli_fec['pasv_dias_desde_ultima_trans'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                    gp_pasv['fecha_ultima_transaccion'].max())/np.timedelta64(1, 'D')
    
    ## Saldo Total por cartera fin de mes
    pasivos_last_3_cli_fec['pasv_saldo_tot_fin_mes_smlv'] = (gp_pasv['saldo'].sum())/(gp_pasv['SMLV'].max())
    # pasivo_201803_202003_cli_fec['pasv_saldo_cc_fin_mes_smlv'] = (gp_pasv_cc['saldo'].sum())/(gp_pasv_cc['SMLV'].max())
    pasivos_last_3_cli_fec['pasv_saldo_ca_fin_mes_smlv'] = (gp_pasv_ca['saldo'].sum())/(gp_pasv_ca['SMLV'].max())
    # pasivo_201803_202003_cli_fec['pasv_saldo_cdt_fin_mes_smlv'] = (gp_pasv_cdt['saldo'].sum())/(gp_pasv_cdt['SMLV'].max())

    # Creando fecha
    pasivos_last_3_cli_fec.reset_index(inplace=True)
    pasivos_last_3_cli_fec['fecha'] = pd.to_datetime(pasivos_last_3_cli_fec['periodo'], format='%Y%m')

    return pasivos_last_3_cli_fec


def create_pasv_out(pasivos_last_3_cli_fec):
    """Takes a product-level data frame and returns a client-level data frame,
    :param activos complete activos DataFrame
    :return: DataFrame, client-level
    """

    str_dates = ['202011','202012','202101']

    for ix, date in enumerate(str_dates):
        # print(date)
        ids = pasivos_last_3_cli_fec.loc[pasivos_last_3_cli_fec['periodo']==int(date), 'id_cliente'].unique()

        if ix == 0:
            pasv_out = gp_func(ids, date)
        else:    
            pasv_temp = gp_func(ids, date)
            pasv_out = pd.concat([pasv_out, pasv_temp], ignore_index=True)
    
    return pasv_out


def pasivo_last_3_tot(pasivos_last_3_cli_fec, pasv_out):
    """Takes a product-level data frame and returns a client-level data frame,
    :param activos complete activos DataFrame
    :return: DataFrame, client-level
    """

    ## Set_index
    pasivos_last_3_cli_fec.set_index(['id_cliente','periodo'], inplace=True)
    pasv_out.set_index(['id_cliente','periodo'], inplace=True)
    
    # Join de las dos tablas creadas
    pasvivos_df = pasivos_last_3_cli_fec.join(pasv_out, how='left')
    
    # Selección de variables finales
    pasvivos_df.reset_index(inplace=True)
    pasvivos_df = pasvivos_df.drop(['SMLV','periodo','fecha','pasv_saldo_ca_fin_mes_smlv','pasv_saldo_tot_fin_mes_smlv'], axis=1)
    
    return pasvivos_df


def read_parquet(date):
    
    path_in="s3://data-bpop-dev-sandbox/estandarizado/productos/pasivo/"
    input_path = path_in+'productos_pasivo_aaatr_M'+date
    input = input_path
    dataset = pq.ParquetDataset(input, filesystem=fs)
    lib = dataset.read()
    lib = lib.to_pandas()

    del dataset
    
    return lib


def gp_func(ids, date):
    fecha = pd.to_datetime(date, format='%Y%m')
    n_meses = [1]
    
    pasv_out = pd.DataFrame(index=ids) # this is different from the actual prod code
    
    for n in n_meses:
        col_name = 'pasv_saldo_total_'+str(n)+'mes_atras'
        col_name_ca = 'pasv_saldo_ca_'+str(n)+'mes_atras'
        date_past = fecha - timedelta(days=n*30)

        gp = pasivos_last_3_cli_fec[(pasivos_last_3_cli_fec['fecha']>date_past)&(pasivos_last_3_cli_fec['fecha']<=fecha)].groupby('id_cliente')
        
        pasv_out[col_name] = gp['pasv_saldo_tot_fin_mes_smlv'].sum()/n
        pasv_out[col_name_ca] = gp['pasv_saldo_ca_fin_mes_smlv'].sum()/n
        
    pasv_out['periodo'] = int(date)
    pasv_out.index.rename('id_cliente', inplace=True)
    pasv_out.reset_index(inplace=True)
    
    return pasv_out

In [5]:
path_in="s3://data-bpop-dev-sandbox/estandarizado/productos/pasivo/"

# str_dates = ['201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812',
#             '201901','201902','201903','201904','201905','201906','201907','201908','201909','201910','201911','201912',
#             '202001','202002','202003','202004','202005','202006','202007','202008','202009','202010','202011','202012']

str_dates = ['202011','202012','202101']


product_type_dict = {'1':'corriente', '2':'ahorro', '3':'cdt'}


for ix, date in enumerate(str_dates):
    
    tabla_temp = read_parquet(date)
    tabla_temp.columns = tabla_temp.columns.str.lower()

    ## Cambiar tipo producto:
    tabla_temp['periodo'] = int(date)
    tabla_temp['tipo_producto'] = tabla_temp['cod_producto'].apply(lambda x: str(x)[0]).map(product_type_dict)

    print(tabla_temp.shape)
    
    print('Periodo:',date)
    if ix == 0:
        tabla_final = tabla_temp
    else:
        tabla_final = pd.concat([tabla_final,tabla_temp], ignore_index=True)
         
    del tabla_temp

/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

(695161, 17)
Periodo: 202011
(693024, 17)
Periodo: 202012
(686872, 17)
Periodo: 202101

In [7]:
print(tabla_final.shape)
tabla_final.head(5)

(2075057, 17)

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
0,589512,193655260482175901,1,230,230470139130,2020-08-05,2009-09-21,Activa,4734.0,44.0,4734.0,4734.0,13496.0,27817.0,10888846.0,202011,ahorro
1,383846,176655242662434501,1,230,230269037354,2020-11-11,2019-03-11,Activa,9297.0,43.0,86939.0,775019.0,2529867.0,1727435.0,1567683.0,202011,ahorro
2,None,None,1,230,230098057532,2020-06-29,2019-12-10,Activa,326.0,5.0,326.0,326.0,326.0,326.0,326.0,202011,ahorro
3,None,None,1,230,230040255697,2020-12-01,2020-05-04,Activa,4898.0,21.0,124869.0,91883.0,112030.0,119374.0,167309.0,202011,ahorro
4,1879480,628654886748163501,1,230,230364696526,2020-07-28,2018-12-13,Activa,13002.0,15.0,13002.0,13002.0,21763.0,33351.0,120666.0,202011,ahorro

In [8]:
## Cast dates
tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'])
tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'])

In [9]:
print(tabla_final.shape)
tabla_final.head(5)

(2075057, 17)

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
0,589512,193655260482175901,1,230,230470139130,2020-08-05,2009-09-21,Activa,4734.0,44.0,4734.0,4734.0,13496.0,27817.0,10888846.0,202011,ahorro
1,383846,176655242662434501,1,230,230269037354,2020-11-11,2019-03-11,Activa,9297.0,43.0,86939.0,775019.0,2529867.0,1727435.0,1567683.0,202011,ahorro
2,None,None,1,230,230098057532,2020-06-29,2019-12-10,Activa,326.0,5.0,326.0,326.0,326.0,326.0,326.0,202011,ahorro
3,None,None,1,230,230040255697,2020-12-01,2020-05-04,Activa,4898.0,21.0,124869.0,91883.0,112030.0,119374.0,167309.0,202011,ahorro
4,1879480,628654886748163501,1,230,230364696526,2020-07-28,2018-12-13,Activa,13002.0,15.0,13002.0,13002.0,21763.0,33351.0,120666.0,202011,ahorro

In [10]:
#### Revisar si quitar o no
tabla_final.reset_index(inplace=True)
tabla_final = tabla_final.drop(columns={'index'})

In [11]:
print(tabla_final.shape)
print(tabla_final.dtypes)
tabla_final.head(5)

(2075057, 17)
sk_cliente                          object
id_cliente                          object
tipo_id                             object
cod_producto                        object
nro_cuenta                          object
fecha_ultima_transaccion    datetime64[ns]
fecha_apertura              datetime64[ns]
estado                              object
saldo                              float64
promedio1                          float64
promedio2                          float64
promedio3                          float64
promedio4                          float64
promedio5                          float64
promedio6                          float64
periodo                              int64
tipo_producto                       object
dtype: object

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
0,589512,193655260482175901,1,230,230470139130,2020-08-05,2009-09-21,Activa,4734.0,44.0,4734.0,4734.0,13496.0,27817.0,10888846.0,202011,ahorro
1,383846,176655242662434501,1,230,230269037354,2020-11-11,2019-03-11,Activa,9297.0,43.0,86939.0,775019.0,2529867.0,1727435.0,1567683.0,202011,ahorro
2,None,None,1,230,230098057532,2020-06-29,2019-12-10,Activa,326.0,5.0,326.0,326.0,326.0,326.0,326.0,202011,ahorro
3,None,None,1,230,230040255697,2020-12-01,2020-05-04,Activa,4898.0,21.0,124869.0,91883.0,112030.0,119374.0,167309.0,202011,ahorro
4,1879480,628654886748163501,1,230,230364696526,2020-07-28,2018-12-13,Activa,13002.0,15.0,13002.0,13002.0,21763.0,33351.0,120666.0,202011,ahorro

In [12]:
## Cast variables

tabla_final = tabla_final[tabla_final['id_cliente'].notnull()]
tabla_final = tabla_final[tabla_final['nro_cuenta'].isna()==False]

tabla_final['id_cliente'] = tabla_final['id_cliente'].astype('int64')
tabla_final['nro_cuenta'] = tabla_final['nro_cuenta'].astype('int64')
tabla_final['cod_producto'] = tabla_final['cod_producto'].astype('int64')

tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'], format='%Y-%m-%d')
tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'], format='%Y-%m-%d')

In [13]:
print(tabla_final.shape)
print(tabla_final.dtypes)
tabla_final.head(5)

(1978820, 17)
sk_cliente                          object
id_cliente                           int64
tipo_id                             object
cod_producto                         int64
nro_cuenta                           int64
fecha_ultima_transaccion    datetime64[ns]
fecha_apertura              datetime64[ns]
estado                              object
saldo                              float64
promedio1                          float64
promedio2                          float64
promedio3                          float64
promedio4                          float64
promedio5                          float64
promedio6                          float64
periodo                              int64
tipo_producto                       object
dtype: object

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
0,589512,193655260482175901,1,230,230470139130,2020-08-05,2009-09-21,Activa,4734.0,44.0,4734.0,4734.0,13496.0,27817.0,10888846.0,202011,ahorro
1,383846,176655242662434501,1,230,230269037354,2020-11-11,2019-03-11,Activa,9297.0,43.0,86939.0,775019.0,2529867.0,1727435.0,1567683.0,202011,ahorro
4,1879480,628654886748163501,1,230,230364696526,2020-07-28,2018-12-13,Activa,13002.0,15.0,13002.0,13002.0,21763.0,33351.0,120666.0,202011,ahorro
5,3531065,463556583560250501,1,230,230353075104,2020-11-29,2019-06-17,Activa,962.0,53.0,46606.0,37181.0,23836.0,3480.0,663.0,202011,ahorro
8,3524680,117956583634699602,1,230,230362350845,2020-11-26,2019-05-29,Activa,525159.0,93.0,152489.0,4128.0,11892.0,309150.0,313222.0,202011,ahorro

In [14]:
tabla_final = tabla_final[tabla_final['id_cliente'] != -1]
tabla_final['fecha'] = pd.to_datetime(tabla_final['periodo'], format='%Y%m')

In [15]:
print(tabla_final.shape)
print(tabla_final.dtypes)
tabla_final.head(5)

(1978820, 18)
sk_cliente                          object
id_cliente                           int64
tipo_id                             object
cod_producto                         int64
nro_cuenta                           int64
fecha_ultima_transaccion    datetime64[ns]
fecha_apertura              datetime64[ns]
estado                              object
saldo                              float64
promedio1                          float64
promedio2                          float64
promedio3                          float64
promedio4                          float64
promedio5                          float64
promedio6                          float64
periodo                              int64
tipo_producto                       object
fecha                       datetime64[ns]
dtype: object

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha
0,589512,193655260482175901,1,230,230470139130,2020-08-05,2009-09-21,Activa,4734.0,44.0,4734.0,4734.0,13496.0,27817.0,10888846.0,202011,ahorro,2020-11-01
1,383846,176655242662434501,1,230,230269037354,2020-11-11,2019-03-11,Activa,9297.0,43.0,86939.0,775019.0,2529867.0,1727435.0,1567683.0,202011,ahorro,2020-11-01
4,1879480,628654886748163501,1,230,230364696526,2020-07-28,2018-12-13,Activa,13002.0,15.0,13002.0,13002.0,21763.0,33351.0,120666.0,202011,ahorro,2020-11-01
5,3531065,463556583560250501,1,230,230353075104,2020-11-29,2019-06-17,Activa,962.0,53.0,46606.0,37181.0,23836.0,3480.0,663.0,202011,ahorro,2020-11-01
8,3524680,117956583634699602,1,230,230362350845,2020-11-26,2019-05-29,Activa,525159.0,93.0,152489.0,4128.0,11892.0,309150.0,313222.0,202011,ahorro,2020-11-01

In [16]:
import gc
gc.collect()

152

In [17]:
## Validación de duplicados a nivel 'id_cliente','nrooblig','fecha'
pasivo_201803_202003 = tabla_final.sort_values(['id_cliente','nro_cuenta','periodo'])

In [18]:
#Se eliminan duplicados
pasivo_201803_202003 = pasivo_201803_202003.drop_duplicates(subset=['id_cliente','nro_cuenta','periodo'],keep='first')

In [19]:
print(pasivo_201803_202003.shape)
print(pasivo_201803_202003.dtypes)
pasivo_201803_202003.head(5)

(1975143, 18)
sk_cliente                          object
id_cliente                           int64
tipo_id                             object
cod_producto                         int64
nro_cuenta                           int64
fecha_ultima_transaccion    datetime64[ns]
fecha_apertura              datetime64[ns]
estado                              object
saldo                              float64
promedio1                          float64
promedio2                          float64
promedio3                          float64
promedio4                          float64
promedio5                          float64
promedio6                          float64
periodo                              int64
tipo_producto                       object
fecha                       datetime64[ns]
dtype: object

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha
659567,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202011,ahorro,2020-11-01
1352690,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202012,ahorro,2020-12-01
2039960,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202101,ahorro,2021-01-01
609716,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,1543542.0,14998348.0,0.0,0.0,202011,ahorro,2020-11-01
1303074,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,3745.0,1543542.0,14998348.0,0.0,202012,ahorro,2020-12-01

In [20]:
pasivo_201803_202003['fecha_pasivo'] = pasivo_201803_202003['periodo'].astype(int)

In [21]:
print(pasivo_201803_202003.shape)
pasivo_201803_202003.head(5)

(1975143, 19)

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha,fecha_pasivo
659567,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202011,ahorro,2020-11-01,202011
1352690,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202012,ahorro,2020-12-01,202012
2039960,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202101,ahorro,2021-01-01,202101
609716,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,1543542.0,14998348.0,0.0,0.0,202011,ahorro,2020-11-01,202011
1303074,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,3745.0,1543542.0,14998348.0,0.0,202012,ahorro,2020-12-01,202012

In [22]:
pasivo_201803_202003['ano_po'] = pasivo_201803_202003['periodo'].astype('str').str[0:4].astype(int)

#Se asigna el salario minimo mensual vigente de 2018 y 2019
pasivo_201803_202003['SMLV'] = np.where(pasivo_201803_202003['ano_po'] == 2018, 781242,
                                        np.where(pasivo_201803_202003['ano_po'] == 2019, 828116,
                                                 np.where(pasivo_201803_202003['ano_po'] == 2020, 877803,
                                                          np.where(pasivo_201803_202003['ano_po'] == 2021, 908526,
                                                          np.nan))))

In [23]:
print(pasivo_201803_202003.shape)
pasivo_201803_202003.head(5)

(1975143, 21)

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha,fecha_pasivo,ano_po,SMLV
659567,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202011,ahorro,2020-11-01,202011,2020,877803.0
1352690,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202012,ahorro,2020-12-01,202012,2020,877803.0
2039960,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202101,ahorro,2021-01-01,202101,2021,908526.0
609716,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,1543542.0,14998348.0,0.0,0.0,202011,ahorro,2020-11-01,202011,2020,877803.0
1303074,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,3745.0,1543542.0,14998348.0,0.0,202012,ahorro,2020-12-01,202012,2020,877803.0

In [24]:
day = 37
pasivo_201803_202003['dia_fecha_corte'] = pasivo_201803_202003['fecha']+timedelta(days=day) ##TODO: Confirmar días

In [25]:
print(pasivo_201803_202003.shape)
pasivo_201803_202003.head(5)

(1975143, 22)

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha,fecha_pasivo,ano_po,SMLV,dia_fecha_corte
659567,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202011,ahorro,2020-11-01,202011,2020,877803.0,2020-12-08
1352690,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202012,ahorro,2020-12-01,202012,2020,877803.0,2021-01-07
2039960,440856,101052294083942902,3,250,250180964801,2010-02-19,2006-06-16,Activa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202101,ahorro,2021-01-01,202101,2021,908526.0,2021-02-07
609716,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,1543542.0,14998348.0,0.0,0.0,202011,ahorro,2020-11-01,202011,2020,877803.0,2020-12-08
1303074,491822,101052314032556001,1,230,230034135194,2020-10-15,2020-09-21,Activa,3745.0,75.0,3745.0,3745.0,1543542.0,14998348.0,0.0,202012,ahorro,2020-12-01,202012,2020,877803.0,2021-01-07

In [26]:
pasivo_201803_202003_cli_fec = pd.DataFrame(pasivo_201803_202003.groupby(['id_cliente','periodo'])[['SMLV','fecha_pasivo']].max())

In [27]:
print(pasivo_201803_202003_cli_fec.shape)
pasivo_201803_202003_cli_fec.head(5)

(1856821, 2)

                                SMLV  fecha_pasivo
id_cliente         periodo
101052294083942902 202011   877803.0        202011
                   202012   877803.0        202012
                   202101   908526.0        202101
101052314032556001 202011   877803.0        202011
                   202012   877803.0        202012

In [28]:
## Agrupaciones
gp_pasv = pasivo_201803_202003.groupby(['id_cliente','periodo'])
# gp_pasv_cc = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='corriente'].groupby(['id_cliente','periodo'])
gp_pasv_ca = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='ahorro'].groupby(['id_cliente','periodo'])
# gp_pasv_cdt = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='cdt'].groupby(['id_cliente','periodo'])

In [29]:
## Antiguedad Total
pasivo_201803_202003_cli_fec['pasv_antig_total'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                gp_pasv['fecha_apertura'].min())/np.timedelta64(30, 'D')
## Numero meses ultima apertura
pasivo_201803_202003_cli_fec['pasv_num_meses_ult_apertura'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                gp_pasv['fecha_apertura'].max())/np.timedelta64(30, 'D')
## Dia última transacción
pasivo_201803_202003_cli_fec['pasv_dias_desde_ultima_trans'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                gp_pasv['fecha_ultima_transaccion'].max())/np.timedelta64(1, 'D')
#

## Saldo Total por cartera fin de mes
pasivo_201803_202003_cli_fec['pasv_saldo_tot_fin_mes_smlv'] = (gp_pasv['saldo'].sum())/(gp_pasv['SMLV'].max())
# pasivo_201803_202003_cli_fec['pasv_saldo_cc_fin_mes_smlv'] = (gp_pasv_cc['saldo'].sum())/(gp_pasv_cc['SMLV'].max())
pasivo_201803_202003_cli_fec['pasv_saldo_ca_fin_mes_smlv'] = (gp_pasv_ca['saldo'].sum())/(gp_pasv_ca['SMLV'].max())
# pasivo_201803_202003_cli_fec['pasv_saldo_cdt_fin_mes_smlv'] = (gp_pasv_cdt['saldo'].sum())/(gp_pasv_cdt['SMLV'].max())

# Creando fecha
pasivo_201803_202003_cli_fec.reset_index(inplace=True)
pasivo_201803_202003_cli_fec['fecha'] = pd.to_datetime(pasivo_201803_202003_cli_fec['periodo'], format='%Y%m')

In [30]:
print(pasivo_201803_202003_cli_fec.shape)
pasivo_201803_202003_cli_fec.head(5)

(1856821, 10)

,id_cliente,periodo,SMLV,fecha_pasivo,pasv_antig_total,pasv_num_meses_ult_apertura,pasv_dias_desde_ultima_trans,pasv_saldo_tot_fin_mes_smlv,pasv_saldo_ca_fin_mes_smlv,fecha
0,101052294083942902,202011,877803.0,202011,176.300000,176.300000,3945.0,0.000000,0.000000,2020-11-01
1,101052294083942902,202012,877803.0,202012,177.300000,177.300000,3975.0,0.000000,0.000000,2020-12-01
2,101052294083942902,202101,908526.0,202101,178.333333,178.333333,4006.0,0.000000,0.000000,2021-01-01
3,101052314032556001,202011,877803.0,202011,2.600000,2.600000,54.0,0.004266,0.004266,2020-11-01
4,101052314032556001,202012,877803.0,202012,3.600000,3.600000,84.0,0.004266,0.004266,2020-12-01

In [31]:
def gp_func(ids, date):
    fecha = pd.to_datetime(date, format='%Y%m')
    n_meses = [1]
    
    pasv_out = pd.DataFrame(index=ids) # this is different from the actual prod code
    
    for n in n_meses:
        col_name = 'pasv_saldo_total_'+str(n)+'mes_atras'
#         col_name_cc = 'pasv_saldo_cc_'+str(n)+'mes_atras'
        col_name_ca = 'pasv_saldo_ca_'+str(n)+'mes_atras'
#         col_name_cdt = 'pasv_saldo_cdt_'+str(n)+'mes_atras'
        date_past = fecha - timedelta(days=n*30)

        gp = pasivo_201803_202003_cli_fec[(pasivo_201803_202003_cli_fec['fecha']>date_past)&(pasivo_201803_202003_cli_fec['fecha']<=fecha)].groupby('id_cliente')
        
        pasv_out[col_name] = gp['pasv_saldo_tot_fin_mes_smlv'].sum()/n
#         pasv_out[col_name_cc] = gp['pasv_saldo_cc_fin_mes_smlv'].sum()/n
        pasv_out[col_name_ca] = gp['pasv_saldo_ca_fin_mes_smlv'].sum()/n
#         pasv_out[col_name_cdt] = gp['pasv_saldo_cdt_fin_mes_smlv'].sum()/n
        
    pasv_out['periodo'] = int(date)
    pasv_out.index.rename('id_cliente', inplace=True)
    pasv_out.reset_index(inplace=True)
    
    return pasv_out

In [32]:
str_dates = ['202011','202012','202101']

for ix, date in enumerate(str_dates):
    print(date)
    ids = pasivo_201803_202003_cli_fec.loc[pasivo_201803_202003_cli_fec['periodo']==int(date), 'id_cliente'].unique()
    
    if ix == 0:
        pasv_out = gp_func(ids, date)
    else:    
        pasv_temp = gp_func(ids, date)
        pasv_out = pd.concat([pasv_out, pasv_temp], ignore_index=True)

        
# ## Set_index
# pasivo_201803_202003_cli_fec.set_index(['id_cliente','periodo'], inplace=True)
# pasv_out.set_index(['id_cliente','periodo'], inplace=True)

202011
202012
202101

In [33]:
## Set_index
pasivo_201803_202003_cli_fec.set_index(['id_cliente','periodo'], inplace=True)
pasv_out.set_index(['id_cliente','periodo'], inplace=True)

In [34]:
print(pasivo_201803_202003_cli_fec.shape)
pasivo_201803_202003_cli_fec.head(5)

(1856821, 8)

                                SMLV  fecha_pasivo  pasv_antig_total  \
id_cliente         periodo
101052294083942902 202011   877803.0        202011        176.300000
                   202012   877803.0        202012        177.300000
                   202101   908526.0        202101        178.333333
101052314032556001 202011   877803.0        202011          2.600000
                   202012   877803.0        202012          3.600000

                            pasv_num_meses_ult_apertura  \
id_cliente         periodo
101052294083942902 202011                    176.300000
                   202012                    177.300000
                   202101                    178.333333
101052314032556001 202011                      2.600000
                   202012                      3.600000

                            pasv_dias_desde_ultima_trans  \
id_cliente         periodo
101052294083942902 202011                         3945.0
                   202012                         3975.0
                   202101                         4006.0
101052314032556001 202011                           54.0
                   202012                           84.0

                            pasv_saldo_tot_fin_mes_smlv  \
id_cliente         periodo
101052294083942902 202011                      0.000000
                   202012                      0.000000
                   202101                      0.000000
101052314032556001 202011                      0.004266
                   202012                      0.004266

                            pasv_saldo_ca_fin_mes_smlv      fecha
id_cliente         periodo
101052294083942902 202011                     0.000000 2020-11-01
                   202012                     0.000000 2020-12-01
                   202101                     0.000000 2021-01-01
101052314032556001 202011                     0.004266 2020-11-01
                   202012                     0.004266 2020-12-01

In [35]:
print(pasv_out.shape)
pasv_out.head(5)

(1856821, 2)

,,pasv_saldo_total_1mes_atras,pasv_saldo_ca_1mes_atras
id_cliente,periodo,,
101052294083942902,202011,0.000000,0.000000
101052314032556001,202011,0.004266,0.004266
101052315812399301,202011,0.008158,0.008158
101055253543395201,202011,12.585410,12.585410
101055260650910902,202011,0.000000,0.000000

In [36]:
pasivo_201803_202003_cli_fec_tot = pasivo_201803_202003_cli_fec.join(pasv_out, how='left')
print(pasv_out.shape)
print(pasivo_201803_202003_cli_fec.shape)
print(pasivo_201803_202003_cli_fec_tot.shape)

pasivo_201803_202003_cli_fec_tot.head()

(1856821, 2)
(1856821, 8)
(1856821, 10)

                                SMLV  fecha_pasivo  pasv_antig_total  \
id_cliente         periodo
101052294083942902 202011   877803.0        202011        176.300000
                   202012   877803.0        202012        177.300000
                   202101   908526.0        202101        178.333333
101052314032556001 202011   877803.0        202011          2.600000
                   202012   877803.0        202012          3.600000

                            pasv_num_meses_ult_apertura  \
id_cliente         periodo
101052294083942902 202011                    176.300000
                   202012                    177.300000
                   202101                    178.333333
101052314032556001 202011                      2.600000
                   202012                      3.600000

                            pasv_dias_desde_ultima_trans  \
id_cliente         periodo
101052294083942902 202011                         3945.0
                   202012                         3975.0
                   202101                         4006.0
101052314032556001 202011                           54.0
                   202012                           84.0

                            pasv_saldo_tot_fin_mes_smlv  \
id_cliente         periodo
101052294083942902 202011                      0.000000
                   202012                      0.000000
                   202101                      0.000000
101052314032556001 202011                      0.004266
                   202012                      0.004266

                            pasv_saldo_ca_fin_mes_smlv      fecha  \
id_cliente         periodo
101052294083942902 202011                     0.000000 2020-11-01
                   202012                     0.000000 2020-12-01
                   202101                     0.000000 2021-01-01
101052314032556001 202011                     0.004266 2020-11-01
                   202012                     0.004266 2020-12-01

                            pasv_saldo_total_1mes_atras  \
id_cliente         periodo
101052294083942902 202011                      0.000000
                   202012                      0.000000
                   202101                      0.000000
101052314032556001 202011                      0.004266
                   202012                      0.004266

                            pasv_saldo_ca_1mes_atras
id_cliente         periodo
101052294083942902 202011                   0.000000
                   202012                   0.000000
                   202101                   0.000000
101052314032556001 202011                   0.004266
                   202012                   0.004266

In [37]:
pasivo_201803_202003_cli_fec_tot.reset_index(inplace=True)

In [38]:
pasivo_201803_202003_cli_fec_tot = pasivo_201803_202003_cli_fec_tot.drop(['SMLV','periodo','fecha','pasv_saldo_ca_fin_mes_smlv','pasv_saldo_tot_fin_mes_smlv'], axis=1)

In [39]:
print(pasivo_201803_202003_cli_fec_tot.shape)
print(pasivo_201803_202003_cli_fec_tot.dtypes)
pasivo_201803_202003_cli_fec_tot.head(5)

(1856821, 7)
id_cliente                        int64
fecha_pasivo                      int64
pasv_antig_total                float64
pasv_num_meses_ult_apertura     float64
pasv_dias_desde_ultima_trans    float64
pasv_saldo_total_1mes_atras     float64
pasv_saldo_ca_1mes_atras        float64
dtype: object

,id_cliente,fecha_pasivo,pasv_antig_total,pasv_num_meses_ult_apertura,pasv_dias_desde_ultima_trans,pasv_saldo_total_1mes_atras,pasv_saldo_ca_1mes_atras
0,101052294083942902,202011,176.300000,176.300000,3945.0,0.000000,0.000000
1,101052294083942902,202012,177.300000,177.300000,3975.0,0.000000,0.000000
2,101052294083942902,202101,178.333333,178.333333,4006.0,0.000000,0.000000
3,101052314032556001,202011,2.600000,2.600000,54.0,0.004266,0.004266
4,101052314032556001,202012,3.600000,3.600000,84.0,0.004266,0.004266

In [ ]:
lib_input_path = os.path.join('s3://data-bpop-dev-sandbox/estandarizado/productos/libranzas/productos_libranzas_dwh_M'+year+str(mes_lib))

libranzas_df = process_libranzas(lib_input_path)

In [ ]:
print(libranzas_df.shape)
libranzas_df.head()

In [92]:
pip install sodapy

Collecting sodapy
  Using cached https://files.pythonhosted.org/packages/9e/74/95fb7d45bbe7f1de43caac45d7dd4807ef1e15881564a00eef489a3bb5c6/sodapy-2.1.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /home/jupyter/anaconda3/lib/python3.7/site-packages (from sodapy) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyter/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.8)
Collecting urllib3<1.25,>=1.21.1 (from requests>=2.20.0->sodapy)
  Downloading https://files.pythonhosted.org/packages/01/11/525b02e4acc0c747de8b6ccdab376331597c569c42ea66ab0a1dbd36eca2/urllib3-1.24.3-py2.py3-none-any.whl (118kB)
    100% |████████████████████████████████| 122kB 4.6MB/s ta 0:00:01
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyter/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyter/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2019.9.11)
botocore 1.20.49 has requirement urllib3<1.27,>=1.25.4, but you'll have urllib3 1.24.3 which is incompatible.
boto3 1.9.184 has requirement botocore<1.13.0,>=1.12.184, but you'll have botocore 1.20.49 which is incompatible.
Installing collected packages: sodapy, urllib3
  Found existing installation: urllib3 1.26.4
    Uninstalling urllib3-1.26.4:
      Successfully uninstalled urllib3-1.26.4
Successfully installed sodapy-2.1.0 urllib3-1.24.3
Note: you may need to restart the kernel to use updated packages.

In [93]:
import pandas as pd
from sodapy import Socrata

client = Socrata("www.datos.gov.co", None)
results = client.get("jbjy-vk9h", limit=2000000)
df_secop = pd.DataFrame.from_records(results)

/home/jupyter/anaconda3/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.4) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)
WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

# 7

In [57]:
import s3fs
import pyarrow.parquet as pq

fs = s3fs.S3FileSystem()

def read_parquet(date):

    input_path = path_in+'productos_pasivo_aaatr_M'+date
    input = input_path
    dataset = pq.ParquetDataset(input, filesystem=fs)
    lib = dataset.read()
    lib = lib.to_pandas()

    del dataset
    
    return lib

In [58]:
poblacion_total = pd.read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_ini202104",engine='pyarrow')

/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)

In [59]:
poblacion_total = poblacion_total.drop_duplicates(subset=['id_numero_cliente','fecha_camp'], keep='first')
poblacion_total['periodo'] = '04-2021'

In [60]:
poblacion_total.head()

   id_numero_cliente  id_tp_cd  fecha_camp          id_cliente  periodo
0           13544804   1000003      202103  102652295880533801  04-2021
1            2485304   1000003      202103  102652294446682301  04-2021
2            6880226   1000003      202103  102652295151150201  04-2021
3           41311613   1000003      202103  102652314595088801  04-2021
4           36695801   1000003      202103  102652308842687701  04-2021

In [61]:
#Creación de fecha correspondiente para cruzar con la base buró
poblacion_total['data_camp']=np.where((poblacion_total['periodo']=='04-2021') ,202103,
                                      199901)

In [62]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp
0,13544804,1000003,202103,102652295880533801,04-2021,202103
1,2485304,1000003,202103,102652294446682301,04-2021,202103
2,6880226,1000003,202103,102652295151150201,04-2021,202103
3,41311613,1000003,202103,102652314595088801,04-2021,202103
4,36695801,1000003,202103,102652308842687701,04-2021,202103

In [63]:
#Creación de fecha correspondiente para cruzar con la base buró
poblacion_total['fecha_buro']=np.where((poblacion_total['periodo']=='04-2021') ,202101,
                                       199901)

In [64]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp,fecha_buro
0,13544804,1000003,202103,102652295880533801,04-2021,202103,202101
1,2485304,1000003,202103,102652294446682301,04-2021,202103,202101
2,6880226,1000003,202103,102652295151150201,04-2021,202103,202101
3,41311613,1000003,202103,102652314595088801,04-2021,202103,202101
4,36695801,1000003,202103,102652308842687701,04-2021,202103,202101

In [65]:
#Creación de fecha correspondiente para cruzar con la base activo
poblacion_total['fecha_activos']=np.where((poblacion_total['periodo']=='04-2021') ,202102,
                                         199901)

In [66]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp,fecha_buro,fecha_activos
0,13544804,1000003,202103,102652295880533801,04-2021,202103,202101,202102
1,2485304,1000003,202103,102652294446682301,04-2021,202103,202101,202102
2,6880226,1000003,202103,102652295151150201,04-2021,202103,202101,202102
3,41311613,1000003,202103,102652314595088801,04-2021,202103,202101,202102
4,36695801,1000003,202103,102652308842687701,04-2021,202103,202101,202102

In [67]:
#Creación de fecha correspondiente para cruzar con la base pasivo
poblacion_total['fecha_pasivo']=np.where((poblacion_total['periodo']=='04-2021') ,202102,
                                         199901)

In [68]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp,fecha_buro,fecha_activos,fecha_pasivo
0,13544804,1000003,202103,102652295880533801,04-2021,202103,202101,202102,202102
1,2485304,1000003,202103,102652294446682301,04-2021,202103,202101,202102,202102
2,6880226,1000003,202103,102652295151150201,04-2021,202103,202101,202102,202102
3,41311613,1000003,202103,102652314595088801,04-2021,202103,202101,202102,202102
4,36695801,1000003,202103,102652308842687701,04-2021,202103,202101,202102,202102

In [69]:
#Creación de fecha correspondiente para cruzar con la base libranza
poblacion_total['fecha_lib']=np.where((poblacion_total['periodo']=='04-2021') ,202103,
                                         199901)

In [70]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp,fecha_buro,fecha_activos,fecha_pasivo,fecha_lib
0,13544804,1000003,202103,102652295880533801,04-2021,202103,202101,202102,202102,202103
1,2485304,1000003,202103,102652294446682301,04-2021,202103,202101,202102,202102,202103
2,6880226,1000003,202103,102652295151150201,04-2021,202103,202101,202102,202102,202103
3,41311613,1000003,202103,102652314595088801,04-2021,202103,202101,202102,202102,202103
4,36695801,1000003,202103,102652308842687701,04-2021,202103,202101,202102,202102,202103

In [71]:
#Creación de fecha correspondiente para cruzar con la base tx pasivo
poblacion_total['fecha_tx_pav']=np.where((poblacion_total['periodo']=='04-2021') ,202101,
                                         199901)

In [72]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp,fecha_buro,fecha_activos,fecha_pasivo,fecha_lib,fecha_tx_pav
0,13544804,1000003,202103,102652295880533801,04-2021,202103,202101,202102,202102,202103,202101
1,2485304,1000003,202103,102652294446682301,04-2021,202103,202101,202102,202102,202103,202101
2,6880226,1000003,202103,102652295151150201,04-2021,202103,202101,202102,202102,202103,202101
3,41311613,1000003,202103,102652314595088801,04-2021,202103,202101,202102,202102,202103,202101
4,36695801,1000003,202103,102652308842687701,04-2021,202103,202101,202102,202102,202103,202101

In [73]:
# Cast ID
poblacion_total = poblacion_total[poblacion_total['id_numero_cliente'].notnull()]
poblacion_total['id_cliente'] = poblacion_total['id_cliente'].astype(int)
poblacion_total['id_numero_cliente'] = poblacion_total['id_numero_cliente'].astype(int)

In [74]:
poblacion_total = poblacion_total.drop_duplicates()

In [75]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,periodo,data_camp,fecha_buro,fecha_activos,fecha_pasivo,fecha_lib,fecha_tx_pav
0,13544804,1000003,202103,102652295880533801,04-2021,202103,202101,202102,202102,202103,202101
1,2485304,1000003,202103,102652294446682301,04-2021,202103,202101,202102,202102,202103,202101
2,6880226,1000003,202103,102652295151150201,04-2021,202103,202101,202102,202102,202103,202101
3,41311613,1000003,202103,102652314595088801,04-2021,202103,202101,202102,202102,202103,202101
4,36695801,1000003,202103,102652308842687701,04-2021,202103,202101,202102,202102,202103,202101

In [3]:
import boto3
import boto3.session

In [4]:
def list_files(s3_path):
    """
    Autor: ADL
    Email: ADL
    Descripcion; Función para ver los elementos que hay en una ruta determinada.
    Parámetros: texto con la ruta de interés
    Retorno: Listado de los elementos que se encuentra en la ruta determinada.
    """
    s3 = boto3.resource('s3')
    bucket = s3_path.split('//')[1].split('/')[0]
    my_bucket = s3.Bucket(bucket)
    prefix = '/'.join(s3_path.split('//')[1].split('/')[1:])
    n_sub = len(prefix.split('/'))
    list_obj = []
    for object_summary in my_bucket.objects.filter(Prefix=prefix):
        obj_x = object_summary.key.split('/')[n_sub - 1]
        if not obj_x in list_obj:
            list_obj.append(obj_x)
    return(list_obj)

In [14]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/')

['secop_ii', 'secop_integrado', 'supersociedades']

In [15]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/supersociedades/')

['plenas-individuales',
 'plenas-separados',
 'pymes-individuales',
 'pymes-separados']

In [18]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/supersociedades/plenas-separados/')

['year=2017', 'year=2018', 'year=2019']

In [10]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/secop_ii/')

['updated_at=20210601']

In [13]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/secop_ii/updated_at=20210601/')

['85dbd22aa0544faebb00990f38db18d8.snappy.parquet']

In [11]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/secop_integrado/')

['updated_at=20210602']

In [12]:
list_files('s3://data-commons-dev-sandbox-de/activos_propios/fuentes_externas/secop_integrado/updated_at=20210601/')

['1a258ef360fd496d8d03591ecc0e1aee.snappy.parquet']