# Creaci√≥n Variables del Pasivo

In [1]:
# cuentas_out['prom_dias_desde_ult_trans'] = gp_cuentas['dias_desde_ultima_trans'].mean()
# cuentas_out['prom_antiguedad_cuenta'] = gp_cuentas['antiguedad'].mean()

In [1]:
import pandas as pd 
import numpy as np 

pd.set_option('max_columns',None)
#pd.set_option('max_rows',100)

from datetime import datetime, timedelta 
from dateutil import relativedelta

#pd.set_option('max_columns',False)
#pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
# path_in="s3://adl-refined-dev-popular/propension/raw_piloto/producto/pasivo/2018/"
# #path_in = "s3://adl-refined-dev-popular/data_orig/productos/pasivo/productos_pasivo_aaatr_M2020"
# path_out = "s3://adl-refined-dev-popular/data_orig/productos/pasivo/productos_pasivo_aaatr_M2020"


# for i in range(1,4):
    
#     if i<=9: var_aux = '0'+str(i)
#     else: var_aux = str(i)
        
#     data = pd.read_csv(path_in+var_aux+".csv",sep=",",encoding='utf_8',
#                         dtype={'id_cliente':'str','ID_CLIENTE':'str','nro_cuenta':str,'NRO_CUENTA':str})
    
#     print('Periodo 2020',var_aux)
#     print(data.shape)
    
#     data.to_csv(path_out+var_aux+"2.csv",sep="|",encoding='utf_8', index= False)
    
#     del data

In [4]:
def func_dates(tabla_final,date):
    if date == '201907':
        tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'], dayfirst= True)
        tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'], dayfirst= True)
    elif date in dates2:
        tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'], format='%d/%m/%Y')
        tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'], format='%d/%m/%Y')
    else:
        tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'], format='%Y%m%d',errors='coerce')
        tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'], format='%Y%m%d',errors='coerce')
        
    return tabla_final

## Creando pasivos Total

In [5]:
path_in="s3://adl-refined-dev-popular/data_orig/productos/pasivo/"

str_dates = ['201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812',
            '201901','201902','201903','201904','201905','201906','201907','201908','201909','201910','201911','201912',
            '202001','202002','202003']

# str_dates = ['202004']

product_type_dict = {'1':'corriente', '2':'ahorro', '3':'cdt'}


dates1 = ['201904','201908','201909','201910','201911','201912','202001','202002','202003','202004','202005','202006']
dates2 = ['201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812',
         '201901','201902','201903','201905','201906','201907']

for ix, date in enumerate(str_dates):
    
    print('Periodo:',date)
    if ix == 0:
        tabla_final = pd.read_csv(path_in+"productos_pasivo_aaatr_M"+date+".csv",sep="|",encoding='utf_8',
                    dtype={'id_cliente':'str','ID_CLIENTE':'str','nro_cuenta':str,'NRO_CUENTA':str})
        tabla_final.columns = tabla_final.columns.str.lower()
        
        ## Cambiar tipo producto:
        tabla_final['periodo'] = int(date)
        tabla_final['tipo_producto'] = tabla_final['cod_producto'].apply(lambda x: str(x)[0]).map(product_type_dict)
        tabla_final = func_dates(tabla_final,date)
        
        print(tabla_final.shape)  
        
    else:
        
        tabla_temp = pd.read_csv(path_in+"productos_pasivo_aaatr_M"+date+".csv",sep="|",encoding='utf_8',
                    dtype={'id_cliente':'str','ID_CLIENTE':'str','nro_cuenta':str,'NRO_CUENTA':str})
        tabla_temp.columns = tabla_temp.columns.str.lower()
        
        ## Cambiar tipo producto:
        tabla_temp['periodo'] = int(date)
        tabla_temp['tipo_producto'] = tabla_temp['cod_producto'].apply(lambda x: str(x)[0]).map(product_type_dict)
        tabla_temp = func_dates(tabla_temp,date)
        
        print(tabla_temp.shape)
        
        tabla_final = pd.concat([tabla_final,tabla_temp], ignore_index=True)
        
        
        del tabla_temp

Periodo: 201801
(754596, 17)
Periodo: 201802
(766081, 17)
Periodo: 201803
(774864, 17)
Periodo: 201804
(781128, 17)
Periodo: 201805
(789077, 17)
Periodo: 201806
(790855, 17)
Periodo: 201807
(793081, 17)
Periodo: 201808
(799850, 17)
Periodo: 201809
(802923, 17)
Periodo: 201810
(802260, 17)
Periodo: 201811
(803016, 17)
Periodo: 201812
(802499, 17)
Periodo: 201901
(798135, 17)
Periodo: 201902
(795339, 17)
Periodo: 201903
(791846, 17)
Periodo: 201904
(794084, 17)
Periodo: 201905
(775217, 17)
Periodo: 201906
(778347, 17)
Periodo: 201907
(772755, 17)
Periodo: 201908
(765527, 17)
Periodo: 201909
(761364, 17)
Periodo: 201910
(755992, 17)
Periodo: 201911
(788036, 17)
Periodo: 201912
(776627, 17)
Periodo: 202001
(760165, 17)
Periodo: 202002
(749874, 17)
Periodo: 202003
(736635, 17)

In [6]:
tabla_final2 = tabla_final.copy()

In [7]:
import s3fs
import pyarrow.parquet as pq

fs = s3fs.S3FileSystem()

def read_parquet(date):

    input_path = path_in+'productos_pasivo_aaatr_M'+date
    input = input_path
    dataset = pq.ParquetDataset(input, filesystem=fs)
    lib = dataset.read()
    lib = lib.to_pandas()

    del dataset
    
    return lib

In [8]:
path_in="s3://adl-refined-dev-popular/data_parquet/productos/pasivo/"

# str_dates = ['201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812',
#             '201901','201902','201903','201904','201905','201906','201907','201908','201909','201910','201911','201912',
#             '202001','202002','202003','202004','202005','202006']

str_dates = ['202004','202005','202006']


product_type_dict = {'1':'corriente', '2':'ahorro', '3':'cdt'}


for ix, date in enumerate(str_dates):
    
    print('Periodo:',date)
    if ix == 0:
        tabla_final = read_parquet(date)
        tabla_final.columns = tabla_final.columns.str.lower()
        
        ## Cambiar tipo producto:
        tabla_final['periodo'] = int(date)
        tabla_final['tipo_producto'] = tabla_final['cod_producto'].apply(lambda x: str(x)[0]).map(product_type_dict)
        
        print(tabla_final.shape)  
        
    else:
        
        tabla_temp = read_parquet(date)
        tabla_temp.columns = tabla_temp.columns.str.lower()
        
        ## Cambiar tipo producto:
        tabla_temp['periodo'] = int(date)
        tabla_temp['tipo_producto'] = tabla_temp['cod_producto'].apply(lambda x: str(x)[0]).map(product_type_dict)
        
        print(tabla_temp.shape)
        
        tabla_final = pd.concat([tabla_final,tabla_temp], ignore_index=True)
        
        
        del tabla_temp

Periodo: 202004
(666010, 17)
Periodo: 202005
(730171, 17)
Periodo: 202006
(718395, 17)

In [9]:
## Cast dates
tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'])
tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'])

In [10]:
tabla_final2 = tabla_final2.drop_duplicates()
tabla_final = tabla_final.drop_duplicates()

tabla_final = pd.concat([tabla_final,tabla_final2], ignore_index=True)

In [11]:
tabla_final.columns

Index(['sk_cliente', 'id_cliente', 'tipo_id', 'cod_producto', 'nro_cuenta',
       'fecha_ultima_transaccion', 'fecha_apertura', 'estado', 'saldo',
       'promedio1', 'promedio2', 'promedio3', 'promedio4', 'promedio5',
       'promedio6', 'periodo', 'tipo_producto'],
      dtype='object')

In [12]:
tabla_final.reset_index(inplace=True)

In [13]:
tabla_final = tabla_final.drop(columns={'index'})

In [14]:
## Cast dates
tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'])
tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'])

In [15]:
print(tabla_final.shape)
tabla_final

(23144764, 17)

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
0,383846,176655242662434501,1,230,230269037354,2020-04-29,2019-03-11,Activa,1.28675e+06,63,1139129,1014574,139444,102484,862390,202004,ahorro
1,1879480,628654886748163501,1,230,230364696526,2020-04-30,2018-12-13,Activa,540854,1,38222,19751,13324,9519,347747,202004,ahorro
2,3531065,463556583560250501,1,230,230353075104,2020-04-29,2019-06-17,Activa,2329,7,34498,6027,11346,876,76784,202004,ahorro
3,3551544,436656960110157802,1,230,230011147295,2020-02-12,2019-09-05,Activa,194,56,194,194,1337,72829,103190,202004,ahorro
4,3524680,117956583634699602,1,230,230362350845,2020-04-27,2019-05-29,Activa,447743,95,265533,113046,21494,14923,485282,202004,ahorro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23144759,2.48336e+06,725955242634580402,1,230,230470202490,2020-03-26,2019-03-06,Activa,19455781,2,3769114,109493,297335,152483,8122,202003,ahorro
23144760,1.36195e+06,478552295443431501,1,230,230220785950,2020-03-25,1998-07-28,Activa,1922,81,23821,28979,7806,62840,7912,202003,ahorro
23144761,2.75676e+06,862252308256137301,1,230,230251018529,2020-03-25,2005-03-15,Activa,1376359,4,313354,151841,53414,738885,319235,202003,ahorro
23144762,3.1156e+06,881452305336560101,1,300,30018002817195,1997-03-07,2020-02-19,Depositado,1500000,1500000,0,0,0,0,0,202003,cdt
23144763,3.1156e+06,881452305336560101,1,300,30018002822823,1997-03-07,2015-10-06,Depositado,600000,600000,0,0,0,0,0,202003,cdt

In [16]:
tabla_final.count()

sk_cliente                  23085661
id_cliente                  23073870
tipo_id                     23144763
cod_producto                23144763
nro_cuenta                  23144763
fecha_ultima_transaccion    22490938
fecha_apertura              23144636
estado                      23144763
saldo                       23144764
promedio1                   23144764
promedio2                   23144764
promedio3                   23144764
promedio4                   23144764
promedio5                   23144764
promedio6                   23144764
periodo                     23144764
tipo_producto               23144763
dtype: int64

In [17]:
tabla_final.tail()

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
23144759,2.48336e+06,725955242634580402,1,230,230470202490,2020-03-26,2019-03-06,Activa,19455781,2,3769114,109493,297335,152483,8122,202003,ahorro
23144760,1.36195e+06,478552295443431501,1,230,230220785950,2020-03-25,1998-07-28,Activa,1922,81,23821,28979,7806,62840,7912,202003,ahorro
23144761,2.75676e+06,862252308256137301,1,230,230251018529,2020-03-25,2005-03-15,Activa,1376359,4,313354,151841,53414,738885,319235,202003,ahorro
23144762,3.1156e+06,881452305336560101,1,300,30018002817195,1997-03-07,2020-02-19,Depositado,1500000,1500000,0,0,0,0,0,202003,cdt
23144763,3.1156e+06,881452305336560101,1,300,30018002822823,1997-03-07,2015-10-06,Depositado,600000,600000,0,0,0,0,0,202003,cdt

In [18]:
tabla_final.dtypes

sk_cliente                          object
id_cliente                          object
tipo_id                             object
cod_producto                        object
nro_cuenta                          object
fecha_ultima_transaccion    datetime64[ns]
fecha_apertura              datetime64[ns]
estado                              object
saldo                               object
promedio1                           object
promedio2                           object
promedio3                           object
promedio4                           object
promedio5                           object
promedio6                           object
periodo                              int64
tipo_producto                       object
dtype: object

In [19]:
tabla_final.groupby('periodo').size()

periodo
201801    753963
201802    765427
201803    773770
201804    779901
201805    787812
201806    789579
201807    791780
201808    798526
201809    801608
201810    800947
201811    801734
201812    801233
201901    796916
201902    794192
201903    790678
201904    794084
201905    774032
201906    778347
201907    772755
201908    765527
201909    761364
201910    755992
201911    786453
201912    775085
202001    758691
202002    748443
202003    735257
202004    664684
202005    728873
202006    717111
dtype: int64

In [20]:
## eliminando comas:

tabla_final['saldo'] = [float(str(x).replace(',','.')) for x in tabla_final['saldo']]
tabla_final['promedio1'] = [float(str(x).replace(',','.')) for x in tabla_final['promedio1']]
tabla_final['promedio2'] = [float(str(x).replace(',','.')) for x in tabla_final['promedio2']]
tabla_final['promedio3'] = [float(str(x).replace(',','.')) for x in tabla_final['promedio3']]
tabla_final['promedio4'] = [float(str(x).replace(',','.')) for x in tabla_final['promedio4']]
tabla_final['promedio5'] = [float(str(x).replace(',','.')) for x in tabla_final['promedio5']]
tabla_final['promedio6'] = [float(str(x).replace(',','.')) for x in tabla_final['promedio6']]

In [21]:
tabla_final.head()

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
0,383846,176655242662434501,1,230,230269037354,2020-04-29,2019-03-11,Activa,1286753.0,63.0,1139129.0,1014574.0,139444.0,102484.0,862390.0,202004,ahorro
1,1879480,628654886748163501,1,230,230364696526,2020-04-30,2018-12-13,Activa,540854.0,1.0,38222.0,19751.0,13324.0,9519.0,347747.0,202004,ahorro
2,3531065,463556583560250501,1,230,230353075104,2020-04-29,2019-06-17,Activa,2329.0,7.0,34498.0,6027.0,11346.0,876.0,76784.0,202004,ahorro
3,3551544,436656960110157802,1,230,230011147295,2020-02-12,2019-09-05,Activa,194.0,56.0,194.0,194.0,1337.0,72829.0,103190.0,202004,ahorro
4,3524680,117956583634699602,1,230,230362350845,2020-04-27,2019-05-29,Activa,447743.0,95.0,265533.0,113046.0,21494.0,14923.0,485282.0,202004,ahorro

In [22]:
## Cast variables

tabla_final = tabla_final[tabla_final['id_cliente'].notnull()]
tabla_final = tabla_final[tabla_final['nro_cuenta'].isna()==False]

tabla_final['id_cliente'] = tabla_final['id_cliente'].astype('int64')
tabla_final['nro_cuenta'] = tabla_final['nro_cuenta'].astype('int64')

tabla_final['saldo'] = tabla_final['saldo'].astype('float64')
tabla_final['promedio1'] = tabla_final['promedio1'].astype('float64')
tabla_final['promedio2'] = tabla_final['promedio2'].astype('float64')
tabla_final['promedio3'] = tabla_final['promedio3'].astype('float64')
tabla_final['promedio4'] = tabla_final['promedio4'].astype('float64')
tabla_final['promedio5'] = tabla_final['promedio5'].astype('float64')
tabla_final['promedio6'] = tabla_final['promedio6'].astype('float64')
# tabla_final['fecha_apertura'] = pd.to_datetime(tabla_final['fecha_apertura'], format='%Y-%m-%d')
# tabla_final['fecha_ultima_transaccion'] = pd.to_datetime(tabla_final['fecha_ultima_transaccion'], format='%Y-%m-%d')

In [23]:
tabla_final[tabla_final['periodo'] == 201907].count()

sk_cliente                  768667
id_cliente                  768667
tipo_id                     768667
cod_producto                768667
nro_cuenta                  768667
fecha_ultima_transaccion    744302
fecha_apertura              768663
estado                      768667
saldo                       768667
promedio1                   768667
promedio2                   768667
promedio3                   768667
promedio4                   768667
promedio5                   768667
promedio6                   768667
periodo                     768667
tipo_producto               768667
dtype: int64

In [24]:
tabla_final.dtypes

sk_cliente                          object
id_cliente                           int64
tipo_id                             object
cod_producto                        object
nro_cuenta                           int64
fecha_ultima_transaccion    datetime64[ns]
fecha_apertura              datetime64[ns]
estado                              object
saldo                              float64
promedio1                          float64
promedio2                          float64
promedio3                          float64
promedio4                          float64
promedio5                          float64
promedio6                          float64
periodo                              int64
tipo_producto                       object
dtype: object

In [25]:
tabla_final[tabla_final['periodo'] == 201908].head()

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto
17057952,1,673152298768285201,1,210,210550400055,2019-08-30,2002-02-12,Activa,13331029.02,11123634.0,11585101.0,8585039.0,8190562.0,9364111.0,7935859.0,201908,ahorro
17057953,1,203652298748593302,1,230,230550770804,2019-08-27,1998-05-04,Activa,14098745.78,8675454.0,4708799.0,5500841.0,5272105.0,5158556.0,4736269.0,201908,ahorro
17057954,1,503352308607651302,1,230,230550094650,2019-08-30,2004-04-12,Activa,1232538.84,246643.0,272576.0,639295.0,201754.0,76439.0,143057.0,201908,ahorro
17057955,1,367352310001575001,1,230,230065113821,2019-08-01,2011-04-19,Activa,2542.74,2542.0,20843.0,6200.0,27436.0,1486.0,82554.0,201908,ahorro
17057956,1,538452310932351901,1,230,230540165610,2019-09-03,2012-07-04,Activa,657841.07,396067.0,1049388.0,742042.0,1849075.0,2880502.0,2514067.0,201908,ahorro

In [26]:
tabla_final = tabla_final[tabla_final['id_cliente'] != -1]

In [27]:
tabla_final['fecha'] = pd.to_datetime(tabla_final['periodo'], format='%Y%m')

In [28]:
tabla_final['sk_cliente'] = tabla_final['sk_cliente'].astype('float')
tabla_final['tipo_id'] = tabla_final['tipo_id'].astype('int')
tabla_final['cod_producto'] = tabla_final['cod_producto'].astype('int')

In [29]:
path_in="s3://adl-refined-dev-popular/data_orig/productos/pasivo/"

tabla_final.to_parquet(path_in+"pasivos_201801_202006", engine='pyarrow',index=False)

# Cargando Data

In [2]:
import gc
gc.collect()

0

In [31]:
del tabla_final, tabla_final2

In [3]:
path_in="s3://adl-refined-dev-popular/data_orig/productos/pasivo/"

In [4]:
pasivo_201803_202003 = pd.read_parquet(path_in+"pasivos_201801_202006", engine='pyarrow')

In [5]:
pasivo_201803_202003.head()

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha
0,383846.0,176655242662434501,1,230,230269037354,2020-04-29,2019-03-11,Activa,1286753.0,63.0,1139129.0,1014574.0,139444.0,102484.0,862390.0,202004,ahorro,2020-04-01
1,1879480.0,628654886748163501,1,230,230364696526,2020-04-30,2018-12-13,Activa,540854.0,1.0,38222.0,19751.0,13324.0,9519.0,347747.0,202004,ahorro,2020-04-01
2,3531065.0,463556583560250501,1,230,230353075104,2020-04-29,2019-06-17,Activa,2329.0,7.0,34498.0,6027.0,11346.0,876.0,76784.0,202004,ahorro,2020-04-01
3,3551544.0,436656960110157802,1,230,230011147295,2020-02-12,2019-09-05,Activa,194.0,56.0,194.0,194.0,1337.0,72829.0,103190.0,202004,ahorro,2020-04-01
4,3524680.0,117956583634699602,1,230,230362350845,2020-04-27,2019-05-29,Activa,447743.0,95.0,265533.0,113046.0,21494.0,14923.0,485282.0,202004,ahorro,2020-04-01

In [6]:
## Validaci√≥n de duplicados a nivel 'id_cliente','nrooblig','fecha'

In [7]:
pasivo_201803_202003=pasivo_201803_202003.sort_values(['id_cliente','nro_cuenta','periodo'])

In [8]:
#Se eliminan duplicados
pasivo_201803_202003=pasivo_201803_202003.drop_duplicates(subset=['id_cliente','nro_cuenta','periodo'],keep='first')

In [9]:
pasivo_201803_202003.shape

(23060735, 18)

In [10]:
pasivo_201803_202003['fecha_pasivo']=pasivo_201803_202003['periodo'].astype(int)

In [11]:
##Creacion variables SMLV

In [12]:
pasivo_201803_202003['ano_po'] = pasivo_201803_202003['periodo'].astype('str').str[0:4].astype(int)

#Se asigna el salario minimo mensual vigente de 2018 y 2019
pasivo_201803_202003['SMLV'] = np.where(pasivo_201803_202003['ano_po'] == 2018, 781242,
                                        np.where(pasivo_201803_202003['ano_po'] == 2019, 828116,
                                                 np.where(pasivo_201803_202003['ano_po'] == 2020, 877803,
                                                          np.nan)))

In [13]:
pasivo_201803_202003['dia_fecha_corte'] = pasivo_201803_202003['fecha']+timedelta(days=37) ##TODO: Confirmar d√≠as

In [14]:
pasivo_201803_202003

,sk_cliente,id_cliente,tipo_id,cod_producto,nro_cuenta,fecha_ultima_transaccion,fecha_apertura,estado,saldo,promedio1,promedio2,promedio3,promedio4,promedio5,promedio6,periodo,tipo_producto,fecha,fecha_pasivo,ano_po,SMLV,dia_fecha_corte
2631095,440856.0,101052294083942902,3,110,110180211385,2018-02-01,1992-04-01,Activa,4.391543e+07,43151218.16,38360511.39,34139410.17,32022367.39,31188060.37,20473727.32,201801,corriente,2018-01-01,201801,2018,781242.0,2018-02-07
3390433,440856.0,101052294083942902,3,110,110180211385,2018-03-01,1992-04-01,Activa,3.617882e+07,47625900.64,43151218.16,38360511.39,34139410.17,32022367.39,31188060.37,201802,corriente,2018-02-01,201802,2018,781242.0,2018-03-10
4155562,440856.0,101052294083942902,3,110,110180211385,2018-04-02,1992-04-01,Activa,5.240883e+07,52980041.10,47625900.64,43151218.16,38360511.39,34139410.17,32022367.39,201803,corriente,2018-03-01,201803,2018,781242.0,2018-04-07
4931614,440856.0,101052294083942902,3,110,110180211385,2018-05-02,1992-04-01,Activa,8.004697e+07,65801499.27,52980041.10,47625900.64,43151218.16,38360511.39,34139410.17,201804,corriente,2018-04-01,201804,2018,781242.0,2018-05-08
5714442,440856.0,101052294083942902,3,110,110180211385,2018-06-05,1992-04-01,Activa,1.558377e+07,40659199.74,65801499.27,52980041.10,47625900.64,43151218.16,38360511.39,201805,corriente,2018-05-01,201805,2018,781242.0,2018-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21850099,2894827.0,999955266612957502,1,210,210460344260,2020-03-02,2004-12-21,Activa,6.199720e+03,5949.00,14448.00,91798.00,1732.00,16899.00,3163.00,202002,ahorro,2020-02-01,202002,2020,877803.0,2020-03-09
22592200,2894827.0,999955266612957502,1,210,210460344260,2020-03-02,2004-12-21,Activa,6.730000e+03,36.00,6712.00,5949.00,14448.00,91798.00,1732.00,202003,ahorro,2020-03-01,202003,2020,877803.0,2020-04-07
256231,2894827.0,999955266612957502,1,210,210460344260,2020-05-04,2004-12-21,Activa,7.260000e+03,36.00,37260.00,6712.00,5949.00,14448.00,91798.00,202004,ahorro,2020-04-01,202004,2020,877803.0,2020-05-08
914055,2894827.0,999955266612957502,1,210,210460344260,2020-05-21,2004-12-21,Activa,8.330360e+03,7930.00,37260.00,6712.00,5949.00,14448.00,91798.00,202005,ahorro,2020-05-01,202005,2020,877803.0,2020-06-07
1607942,2894827.0,999955266612957502,1,210,210460344260,2020-06-03,2004-12-21,Activa,1.099100e+04,17.00,38016.00,7930.00,37260.00,6712.00,5949.00,202006,ahorro,2020-06-01,202006,2020,877803.0,2020-07-08

### Creaci√≥n base a nivel id_cliente, fecha

In [15]:
pasivo_201803_202003_cli_fec=pd.DataFrame(pasivo_201803_202003.groupby(['id_cliente','periodo'])[['SMLV','fecha_pasivo']].max())

In [16]:
pasivo_201803_202003_cli_fec.shape

(21400337, 2)

In [17]:
pasivo_201803_202003_cli_fec.head()

                                SMLV  fecha_pasivo
id_cliente         periodo
101052294083942902 201801   781242.0        201801
                   201802   781242.0        201802
                   201803   781242.0        201803
                   201804   781242.0        201804
                   201805   781242.0        201805

### Variables Pasivo

In [18]:
# N√∫mero de cuentas totales vigentes al punto de observaci√≥n
# N√∫mero de cuentas vigentes al punto de observaci√≥n tipo cta Y
# Dias desde la √∫ltima transacci√≥n
# Antig√ºedad del cliente con ctas del pasivo
# meses desde la √∫ltima apertura de cta
# Saldo total a fin de mes
# Saldo maximo a fin de mes
# Saldo m√≠nimo a fin de mes
# Saldo total x meses atr√°s
# Saldo promedio √∫ltimos x meses
# Saldo promedio √∫ltimos x meses por tipo cta Y
# tipo de cuenta Digital, nueva, etc.

In [19]:
pasivo_201803_202003.columns

Index(['sk_cliente', 'id_cliente', 'tipo_id', 'cod_producto', 'nro_cuenta',
       'fecha_ultima_transaccion', 'fecha_apertura', 'estado', 'saldo',
       'promedio1', 'promedio2', 'promedio3', 'promedio4', 'promedio5',
       'promedio6', 'periodo', 'tipo_producto', 'fecha', 'fecha_pasivo',
       'ano_po', 'SMLV', 'dia_fecha_corte'],
      dtype='object')

In [20]:
## Agrupaciones
gp_pasv = pasivo_201803_202003.groupby(['id_cliente','periodo'])
# gp_pasv_cc = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='corriente'].groupby(['id_cliente','periodo'])
gp_pasv_ca = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='ahorro'].groupby(['id_cliente','periodo'])
# gp_pasv_cdt = pasivo_201803_202003[pasivo_201803_202003['tipo_producto']=='cdt'].groupby(['id_cliente','periodo'])

In [21]:
## Antiguedad Total
pasivo_201803_202003_cli_fec['pasv_antig_total'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                gp_pasv['fecha_apertura'].min())/np.timedelta64(30, 'D')
## Numero meses ultima apertura
pasivo_201803_202003_cli_fec['pasv_num_meses_ult_apertura'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                gp_pasv['fecha_apertura'].max())/np.timedelta64(30, 'D')
## Dia √∫ltima transacci√≥n
pasivo_201803_202003_cli_fec['pasv_dias_desde_ultima_trans'] = (gp_pasv['dia_fecha_corte'].max() - 
                                                                gp_pasv['fecha_ultima_transaccion'].max())/np.timedelta64(1, 'D')
#

## Saldo Total por cartera fin de mes
pasivo_201803_202003_cli_fec['pasv_saldo_tot_fin_mes_smlv'] = (gp_pasv['saldo'].sum())/(gp_pasv['SMLV'].max())
# pasivo_201803_202003_cli_fec['pasv_saldo_cc_fin_mes_smlv'] = (gp_pasv_cc['saldo'].sum())/(gp_pasv_cc['SMLV'].max())
pasivo_201803_202003_cli_fec['pasv_saldo_ca_fin_mes_smlv'] = (gp_pasv_ca['saldo'].sum())/(gp_pasv_ca['SMLV'].max())
# pasivo_201803_202003_cli_fec['pasv_saldo_cdt_fin_mes_smlv'] = (gp_pasv_cdt['saldo'].sum())/(gp_pasv_cdt['SMLV'].max())

# Creando fecha
pasivo_201803_202003_cli_fec.reset_index(inplace=True)
pasivo_201803_202003_cli_fec['fecha'] = pd.to_datetime(pasivo_201803_202003_cli_fec['periodo'], format='%Y%m')

In [22]:
def gp_func(ids, date):
    fecha = pd.to_datetime(date, format='%Y%m')
    n_meses = [1]
    
    pasv_out = pd.DataFrame(index=ids) # this is different from the actual prod code
    
    for n in n_meses:
        col_name = 'pasv_saldo_total_'+str(n)+'mes_atras'
#         col_name_cc = 'pasv_saldo_cc_'+str(n)+'mes_atras'
        col_name_ca = 'pasv_saldo_ca_'+str(n)+'mes_atras'
#         col_name_cdt = 'pasv_saldo_cdt_'+str(n)+'mes_atras'
        date_past = fecha - timedelta(days=n*30)

        gp = pasivo_201803_202003_cli_fec[(pasivo_201803_202003_cli_fec['fecha']>date_past)&(pasivo_201803_202003_cli_fec['fecha']<=fecha)].groupby('id_cliente')
        
        pasv_out[col_name] = gp['pasv_saldo_tot_fin_mes_smlv'].sum()/n
#         pasv_out[col_name_cc] = gp['pasv_saldo_cc_fin_mes_smlv'].sum()/n
        pasv_out[col_name_ca] = gp['pasv_saldo_ca_fin_mes_smlv'].sum()/n
#         pasv_out[col_name_cdt] = gp['pasv_saldo_cdt_fin_mes_smlv'].sum()/n
        
    pasv_out['periodo'] = int(date)
    pasv_out.index.rename('id_cliente', inplace=True)
    pasv_out.reset_index(inplace=True)
    
    return pasv_out

In [23]:
str_dates = ['201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812',
            '201901','201902','201903','201904','201905','201906','201907','201908','201909','201910','201911','201912',
            '202001','202002','202003','202004','202005','202006']

for ix, date in enumerate(str_dates):
    print(date)
    ids = pasivo_201803_202003_cli_fec.loc[pasivo_201803_202003_cli_fec['periodo']==int(date), 'id_cliente'].unique()
    
    if ix == 0:
        pasv_out = gp_func(ids, date)
    else:    
        pasv_temp = gp_func(ids, date)
        pasv_out = pd.concat([pasv_out, pasv_temp], ignore_index=True)

        
# ## Set_index
# pasivo_201803_202003_cli_fec.set_index(['id_cliente','periodo'], inplace=True)
# pasv_out.set_index(['id_cliente','periodo'], inplace=True)

201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006

In [24]:
## Set_index
pasivo_201803_202003_cli_fec.set_index(['id_cliente','periodo'], inplace=True)
pasv_out.set_index(['id_cliente','periodo'], inplace=True)

In [25]:
pasivo_201803_202003_cli_fec_tot = pasivo_201803_202003_cli_fec.join(pasv_out, how='left')
print(pasv_out.shape)
print(pasivo_201803_202003_cli_fec.shape)
print(pasivo_201803_202003_cli_fec_tot.shape)

pasivo_201803_202003_cli_fec_tot.head()

(21400337, 2)
(21400337, 8)
(21400337, 10)

                                SMLV  fecha_pasivo  pasv_antig_total  \
id_cliente         periodo
101052294083942902 201801   781242.0        201801        314.766667
                   201802   781242.0        201802        315.800000
                   201803   781242.0        201803        316.733333
                   201804   781242.0        201804        317.766667
                   201805   781242.0        201805        318.766667

                            pasv_num_meses_ult_apertura  \
id_cliente         periodo
101052294083942902 201801                    141.800000
                   201802                    142.833333
                   201803                    143.766667
                   201804                    144.800000
                   201805                      0.966667

                            pasv_dias_desde_ultima_trans  \
id_cliente         periodo
101052294083942902 201801                            6.0
                   201802                            9.0
                   201803                            5.0
                   201804                            6.0
                   201805                            2.0

                            pasv_saldo_tot_fin_mes_smlv  \
id_cliente         periodo
101052294083942902 201801                     56.212330
                   201802                     46.309361
                   201803                     67.083987
                   201804                    102.461171
                   201805                     19.947436

                            pasv_saldo_ca_fin_mes_smlv      fecha  \
id_cliente         periodo
101052294083942902 201801                          0.0 2018-01-01
                   201802                          0.0 2018-02-01
                   201803                          0.0 2018-03-01
                   201804                          0.0 2018-04-01
                   201805                          0.0 2018-05-01

                            pasv_saldo_total_1mes_atras  \
id_cliente         periodo
101052294083942902 201801                     56.212330
                   201802                     46.309361
                   201803                    113.393348
                   201804                    102.461171
                   201805                     19.947436

                            pasv_saldo_ca_1mes_atras
id_cliente         periodo
101052294083942902 201801                        0.0
                   201802                        0.0
                   201803                        0.0
                   201804                        0.0
                   201805                        0.0

In [26]:
pasivo_201803_202003_cli_fec_tot.reset_index(inplace=True)

In [27]:
pasivo_201803_202003_cli_fec_tot = pasivo_201803_202003_cli_fec_tot.drop(['SMLV','periodo','fecha','pasv_saldo_ca_fin_mes_smlv','pasv_saldo_tot_fin_mes_smlv'], axis=1)

In [28]:
pasivo_201803_202003_cli_fec_tot.tail(50)

,id_cliente,fecha_pasivo,pasv_antig_total,pasv_num_meses_ult_apertura,pasv_dias_desde_ultima_trans,pasv_saldo_total_1mes_atras,pasv_saldo_ca_1mes_atras
21400287,999955266280699901,201912,97.100000,97.100000,18.0,8.203225,8.203225
21400288,999955266280699901,202001,98.133333,98.133333,4.0,7.445171,7.445171
21400289,999955266280699901,202002,99.166667,99.166667,10.0,5.825302,5.825302
21400290,999955266280699901,202003,100.133333,100.133333,8.0,8.696655,8.696655
21400291,999955266280699901,202004,101.166667,101.166667,9.0,8.112730,8.112730
21400292,999955266280699901,202005,102.166667,102.166667,9.0,4.191377,4.191377
21400293,999955266280699901,202006,103.200000,103.200000,12.0,3.545921,3.545921
21400294,999955266450872402,201801,122.066667,122.066667,15.0,0.830794,0.830794
21400295,999955266450872402,201802,123.100000,123.100000,15.0,0.054412,0.054412
21400296,999955266450872402,201803,124.033333,124.033333,43.0,0.094907,0.094907
21400297,999955266450872402,201804,125.066667,125.066667,74.0,0.026579,0.026579
21400298,999955266450872402,201805,126.066667,126.066667,104.0,0.026579,0.026579
21400299,999955266450872402,201806,127.100000,127.100000,135.0,0.018015,0.018015
21400300,999955266450872402,201807,128.100000,128.100000,165.0,0.018015,0.018015
21400301,999955266450872402,201808,129.133333,129.133333,16.0,0.005164,0.005164
21400302,999955266450872402,201809,130.166667,130.166667,47.0,0.005164,0.005164
21400303,999955266450872402,201810,131.166667,131.166667,77.0,0.005164,0.005164
21400304,999955266450872402,201811,132.200000,132.200000,108.0,0.005164,0.005164
21400305,999955266450872402,201812,133.200000,133.200000,138.0,0.005164,0.005164
21400306,999955266450872402,201901,134.233333,134.233333,169.0,0.004872,0.004872
21400307,999955266612957502,201801,159.866667,159.866667,6.0,0.008446,0.008446
21400308,999955266612957502,201802,160.900000,160.900000,30.0,0.000455,0.000455
21400309,999955266612957502,201803,161.833333,161.833333,5.0,0.005014,0.005014
21400310,999955266612957502,201804,162.866667,162.866667,36.0,0.008665,0.008665
21400311,999955266612957502,201805,163.866667,163.866667,6.0,0.012770,0.012770
21400312,999955266612957502,201806,164.900000,164.900000,5.0,0.010477,0.010477
21400313,999955266612957502,201807,165.900000,165.900000,35.0,0.009772,0.009772
21400314,999955266612957502,201808,166.933333,166.933333,4.0,0.007476,0.007476
21400315,999955266612957502,201809,167.966667,167.966667,35.0,0.005183,0.005183
21400316,999955266612957502,201810,168.966667,168.966667,35.0,0.002888,0.002888
21400317,999955266612957502,201811,170.000000,170.000000,5.0,0.013393,0.013393
21400318,999955266612957502,201812,171.000000,171.000000,5.0,0.012688,0.012688
21400319,999955266612957502,201901,172.033333,172.033333,24.0,0.003767,0.003767
21400320,999955266612957502,201902,173.066667,173.066667,34.0,0.003140,0.003140
21400321,999955266612957502,201903,174.000000,174.000000,6.0,0.005654,0.005654
21400322,999955266612957502,201904,175.033333,175.033333,6.0,0.000680,0.000680
21400323,999955266612957502,201905,176.033333,176.033333,3.0,0.012129,0.012129
21400324,999955266612957502,201906,177.066667,177.066667,6.0,0.023578,0.023578
21400325,999955266612957502,201907,178.066667,178.066667,6.0,0.011332,0.011332
21400326,999955266612957502,201908,179.100000,179.100000,5.0,0.001785,0.001785
21400327,999955266612957502,201909,180.133333,180.133333,36.0,0.003890,0.003890
21400328,999955266612957502,201910,181.133333,181.133333,6.0,0.005995,0.005995
21400329,999955266612957502,201911,182.166667,182.166667,6.0,0.001168,0.001168
21400330,999955266612957502,201912,183.166667,183.166667,33.0,0.000998,0.000998
21400331,999955266612957502,202001,184.200000,184.200000,4.0,0.002927,0.002927
21400332,999955266612957502,202002,185.233333,185.233333,7.0,0.007063,0.007063
21400333,999955266612957502,202003,186.200000,186.200000,36.0,0.014730,0.014730
21400334,999955266612957502,202004,187.233333,187.233333,4.0,0.008271,0.008271
21400335,999955266612957502,202005,188.233333,188.233333,17.0,0.009490,0.009490
21400336,999955266612957502,202006,189.266667,189.266667,35.0,0.012521,0.012521

In [29]:
pasivo_201803_202003_cli_fec_tot.to_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/pasivo_201801_202006",engine='pyarrow', index=False)

In [66]:
prueba = pasivo_201803_202003_cli_fec_tot[pasivo_201803_202003_cli_fec_tot['fecha_pasivo'] == 202006]

In [67]:
prueba.head()

,id_cliente,fecha_pasivo,pasv_antig_total,pasv_dias_desde_ultima_trans,pasv_saldo_ca_1mes_atras
28,101052294083942902,202006,171.200000,3792.0,0.000000
60,101052315812399301,202006,53.433333,20.0,0.000633
90,101055253543395201,202006,167.466667,11.0,5.072427
157,101055260826556001,202006,76.733333,12.0,2.819872
187,101055266367157902,202006,115.500000,7.0,0.000899

In [68]:
pasivo_201803_202003_cli_fec_tot['fecha_pasivo'].value_counts().sort_index()

201801    701709
201802    712149
201803    720465
201804    725768
201805    732658
201806    734414
201807    735489
201808    741953
201809    745053
201810    744399
201811    745362
201812    744828
201901    740278
201902    737414
201903    732983
201904    731886
201905    715257
201906    715188
201907    708761
201908    701394
201909    696954
201910    691511
201911    724849
201912    716356
202001    703501
202002    695606
202003    684631
202004    622988
202005    653311
202006    643222
Name: fecha_pasivo, dtype: int64